api-logic-tnnWQsUYAd1lThRG.json
{"createdAt":"2025-02-26T18:50:58.903Z","updatedAt":"2025-02-27T19:33:00.557Z","id":"tnnWQsUYAd1lThRG","name":"API LOGIC","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-360,-120],"id":"1040e16f-5f1c-4c4b-b833-91d86a4affa0","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-180,-120],"id":"c90cc4d1-55ef-4cf4-a36c-2999e3276b4b","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"37bb8ea3-02fa-43b1-be07-ec4c8f7439bd","leftValue":"={{ $json['is active '] }}","rightValue":"TRUE","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,-120],"id":"374cedd6-9264-4b8c-bb09-c721b796f401","name":"If"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"usage":"={{ $json.usage }}","key":"={{ $('Loop Over Items').item.json.key }}"},"matchingColumns":["key"],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is active ","displayName":"is active ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,-280],"id":"af074faa-71fe-4b32-a0ab-1276ab197cc3","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[240,-160],"id":"f1486ca2-562c-47e5-b275-cdd9663ea2b1","name":"Loop Over Items"},{"parameters":{"jsCode":"// Get the current item from the loop\nconst item = $('Loop Over Items').first();\n\n// Log the incoming data for debugging\nconsole.log(\"INCOMING ITEM:\", JSON.stringify(item, null, 2));\n\n// Make a copy of the item\nconst updatedItem = {...item};\n\n// Convert usage to number, increment it, and convert back to string\n// Handle potential parsing issues with more robust conversion\nlet currentUsage = 0;\ntry {\n  currentUsage = parseInt(updatedItem.usage) || 0;\n} catch (error) {\n  console.log(\"Error parsing usage:\", error);\n}\n\n// Increment usage\nupdatedItem.usage = (currentUsage + 1).toString();\n\n// Log the update for debugging\nconsole.log(`Updated usage for key \"${updatedItem.key}\" from ${currentUsage} to ${updatedItem.usage}`);\nconsole.log(\"UPDATED ITEM:\", JSON.stringify(updatedItem, null, 2));\n\n// Return the updated item\nreturn {json: updatedItem};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,-280],"id":"fd8719dc-1664-4d44-a1e4-b42386b48c31","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"fdb5392a-0d02-491f-b733-9d036eb33279","name":"=usage","value":"={{$json[\"usage\"] = $('Loop Over Items').item.json.usage + 1}}","type":"number"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,-280],"id":"cf5c069e-f8cc-42f0-807e-8815c1c34834","name":"Edit Fields","onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"hHjQARBW8UPF3YuI","mode":"list","cachedResultName":"Email Rapid API Scraper copy 2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"API_key":"={{ $json.key }}"},"matchingColumns":["API_key"],"schema":[{"id":"API_key","displayName":"API_key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[620,-100],"id":"cfba82d6-005f-40ee-9015-94a0be5fc44c","name":"Execute Workflow","onError":"continueErrorOutput"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1000,-100],"id":"b9fd385d-e99d-4a93-9e6e-d36ccf3c8826","name":"Wait","webhookId":"0adf2f84-eafa-42c0-adc7-602cd50161bc"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74782b22-db1d-48f8-b511-427045506f55","triggerCount":0,"tags":[]}