cal.com-to-whatsapp-meeting-done-WlqxJqdxH87DaxBr.json
{"createdAt":"2025-04-10T08:06:47.469Z","updatedAt":"2025-04-10T08:07:18.137Z","id":"WlqxJqdxH87DaxBr","name":"Cal.com to whatsapp meeting done","active":false,"nodes":[{"parameters":{"events":["BOOKING_CREATED"],"options":{}},"type":"n8n-nodes-base.calTrigger","typeVersion":2,"position":[-420,-220],"id":"a4302bf8-f316-4e6b-9789-9847d408e1a4","name":"Cal.com Trigger","webhookId":"1af29ba9-489d-4962-a610-f45138d46309","credentials":{"calApi":{"id":"3vmDMLU9usKLL1oZ","name":"Cal account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b96a637f-9698-4c45-a8c4-cb78f3bad931","name":"Date ","value":"={{ new Date($json.startTime).toLocaleDateString('en-GB')}}","type":"string"},{"id":"e7c4e308-e6ea-44ef-9694-da1272e5cb3c","name":"Time ","value":"={{ new Date($json.startTime).toLocaleTimeString('en-IN', { hour: '2-digit', minute: '2-digit', hour12: true, timeZone: 'Asia/Kolkata' }) }}","type":"string"},{"id":"741ffef3-5ad4-4a02-a74e-61d83d7c8fa9","name":"Meeting Link","value":"={{ $json.metadata.videoCallUrl }}","type":"string"},{"id":"a0cc7203-73dd-4703-b471-ffdd25ed0e05","name":"Whatsapp No ","value":"={{ $json.userFieldsResponses.phone.value }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-220],"id":"7d139a53-6bb4-471a-90cb-39d64159812f","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://backend.aisensy.com/campaign/t1/api/v2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3ZjM5MGZiZjBhNWViMDk0M2M3NTA4NyIsIm5hbWUiOiJsbG9sbCBhcmVuYSBzZXJ2aXNlcyIsImFwcE5hbWUiOiJBaVNlbnN5IiwiY2xpZW50SWQiOiI2N2YzOTBmYmYwYTVlYjA5NDNjNzUwODIiLCJhY3RpdmVQbGFuIjoiRlJFRV9GT1JFVkVSIiwiaWF0IjoxNzQ0MDE1NjExfQ.Soc1BM7ypJnhIG-X3P5TFmRvGqdXSuwyaneckJxyI7s\",\n   \"campaignName\": \"waseq2mes1new\",\n  \"destination\": \"{{ $json['Whatsapp No '] }}\",\n  \"userName\": \"lloll arena servises\",\n  \"templateParams\": [\n    \"$FirstName\",\n    \"{{ $json['Date '] }}\",\n    \"{{ $json['Time '] }}\",\n    \"{{ $json['Meeting Link'] }}\"\n  ],\n  \"source\": \"new-landing-page form\",\n  \"media\": {},\n  \"buttons\": [],\n  \"carouselCards\": [],\n  \"location\": {},\n  \"attributes\": {},\n  \"paramsFallbackValue\": {\n    \"FirstName\": \"user\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,-220],"id":"bc8680e9-38f7-4452-8bf2-89c56c9b3673","name":"HTTP Request"}],"connections":{"Cal.com Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Cal.com Trigger":{"webhookId":"52026e48-6645-4510-86ab-29d06b55418c"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Cal.com Trigger":[{"json":{"triggerEvent":"BOOKING_CREATED","createdAt":"2025-04-09T22:01:24.554Z","bookerUrl":"https://cal.com","title":"Growth Call between llollarena Services and Akansh Kaithal","startTime":"2025-04-11T06:00:00Z","endTime":"2025-04-11T06:30:00Z","additionalNotes":"","type":"growth-call","description":"","eventTypeId":1880028,"hideCalendarNotes":false,"hideCalendarEventDetails":false,"schedulingType":null,"seatsPerTimeSlot":null,"seatsShowAttendees":true,"seatsShowAvailabilityCount":true,"organizer":{"id":1384879,"name":"llollarena Services","email":"llollarenaservices@gmail.com","username":"llollarena-services-qwejgr","timeZone":"Asia/Calcutta","language":{"locale":"en"},"timeFormat":"h:mma","utcOffset":330},"attendees":[{"email":"akansh47@gmail.com","name":"Akansh Kaithal","firstName":"","lastName":"","timeZone":"Asia/Calcutta","language":{"locale":"en"},"utcOffset":330}],"customInputs":{},"responses":{"name":{"label":"your_name","value":"Akansh Kaithal","isHidden":false},"email":{"label":"email_address","value":"akansh47@gmail.com","isHidden":false},"location":{"label":"location","value":{"value":"integrations:google:meet","optionValue":""},"isHidden":false},"phone":{"label":"Contact No","value":"+918770084829","isHidden":false},"title":{"label":"what_is_this_meeting_about","isHidden":true},"notes":{"label":"additional_notes","isHidden":false},"guests":{"label":"additional_guests","value":[],"isHidden":false},"rescheduleReason":{"label":"reason_for_reschedule","isHidden":false}},"userFieldsResponses":{"phone":{"label":"Contact No","value":"+918770084829","isHidden":false}},"location":"integrations:google:meet","conferenceCredentialId":794806,"destinationCalendar":[{"id":484568,"integration":"google_calendar","externalId":"llollarenaservices@gmail.com","primaryEmail":"llollarenaservices@gmail.com","userId":1384879,"eventTypeId":null,"credentialId":794805,"delegationCredentialId":null,"domainWideDelegationCredentialId":null}],"iCalUID":"4yrpQ6E842shWUCtfqgD8h@Cal.com","iCalSequence":0,"requiresConfirmation":false,"oneTimePassword":null,"uid":"4yrpQ6E842shWUCtfqgD8h","conferenceData":{"createRequest":{"requestId":"8a0ce172-f69a-51b5-8481-93feb73d58e2"}},"appsStatus":[{"appName":"google-calendar","type":"google_calendar","success":1,"failures":0,"errors":[],"warnings":[]},{"appName":"Google Meet","type":"conferencing","success":1,"failures":0,"errors":[]}],"eventTitle":"Growth Call","eventDescription":"","price":0,"currency":"usd","length":30,"bookingId":7120398,"metadata":{"videoCallUrl":"https://meet.google.com/ggc-rsue-yfk"},"status":"ACCEPTED"}}]},"versionId":"02018f3c-b60e-4099-be64-579220bcf6a9","triggerCount":1,"tags":[]}