cal.com-extracting-email-and-name-from-endpoint-odUexYp4fvoD4Z7D.json
{"createdAt":"2025-03-03T12:21:23.270Z","updatedAt":"2025-03-03T18:05:39.432Z","id":"odUexYp4fvoD4Z7D","name":"cal.com extracting email and name from endpoint","active":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"7220b033-927a-4cf8-beac-9080cd3dd322","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-340,0],"id":"60512c6f-780c-4641-9410-57f8949a2b8d","name":"Webhook","webhookId":"7220b033-927a-4cf8-beac-9080cd3dd322"},{"parameters":{"assignments":{"assignments":[{"id":"6f536247-2568-4246-8979-4fb1226f1e85","name":"body.payload.attendees[0].email","value":"={{ $json.body.payload.attendees[0].email }}","type":"string"},{"id":"5d91b8e4-54cf-4a06-8dec-6de9ad8366cd","name":"body.payload.attendees[0].name","value":"={{ $json.body.payload.attendees[0].name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,0],"id":"e2f42543-2e84-4c1f-b485-3bf9ef5f341d","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://growth.llollarenaservices.com/?fluentcrm=1&route=contact&hash=b5283b61-3727-41ce-9ee5-fabf4cece195","sendQuery":true,"queryParameters":{"parameters":[{"name":"email","value":"={{ $json.body.payload.attendees[0].email }}"},{"name":"name","value":"={{ $json.body.payload.attendees[0].name }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[100,0],"id":"df9e0869-17d9-4027-a3ed-0090f7cbaeff","name":"HTTP Request"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.gymforce.in","user-agent":"node","content-length":"444","accept":"*/*","accept-encoding":"br, gzip, deflate","accept-language":"*","baggage":"sentry-environment=vercel-production,sentry-release=c4beef609b737e2b63f850c09424d078a726fea1,sentry-public_key=a1ea40f454a84538876a4b18e1c360d4,sentry-trace_id=a1f091ad19370e449a2824454683ab8b,sentry-sampled=false","content-type":"application/json","sec-fetch-mode":"cors","sentry-trace":"a1f091ad19370e449a2824454683ab8b-d14855a26e9ba57a-0","x-cal-signature-256":"no-secret-provided","x-forwarded-for":"3.144.16.124","x-forwarded-host":"n8n.gymforce.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"1a9883812471","x-real-ip":"3.144.16.124","x-vercel-id":"bom1::m9w9n-1741005063715-873d7e3f0706"},"params":{},"query":{},"body":{"triggerEvent":"PING","createdAt":"2025-03-03T12:31:03.948Z","payload":{"type":"Test","title":"Test trigger event","startTime":"2025-03-03T12:31:03.948Z","endTime":"2025-03-03T12:31:03.948Z","attendees":[{"email":"jdoe@example.com","name":"John Doe","timeZone":"Europe/London","language":{"locale":"en"},"utcOffset":0}],"organizer":{"name":"Cal","email":"no-reply@cal.com","timeZone":"Europe/London","language":{"locale":"en"},"utcOffset":0}}},"webhookUrl":"https://n8n.gymforce.in/webhook-test/7220b033-927a-4cf8-beac-9080cd3dd322","executionMode":"test"}}]},"versionId":"0655ff66-bba9-4b9c-98d8-2015b99092bc","triggerCount":0,"tags":[]}