chirag-email-scraper-iMdfWhr0YloTPxg1.json
{"createdAt":"2025-02-19T17:40:38.188Z","updatedAt":"2025-02-21T18:11:16.889Z","id":"iMdfWhr0YloTPxg1","name":"chirag email scraper","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-960,-40],"id":"a20c94a0-dced-4958-8eb8-486adbe5c392","name":"When Executed by Another Workflow"},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-740,-40],"id":"12070ca5-4f0d-425b-b01c-c5cf2f3571fa","name":"HTTP Request"},{"parameters":{"jsCode":"const data = $input.first().json.data;\n\nif (!data || typeof data !== 'string') {\n    return [];\n}\n\nconst regex = /https?:\\/\\/[^\\/]+/g;\nconst urls = data.match(regex) || [];\n\nreturn urls.map(url => ({ json: { url: url } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-520,-40],"id":"5b542e48-2b01-4857-8819-003da0c43b3d","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b87ecb86-83ed-4fd8-915b-335dcc36d74f","leftValue":"={{ $json.url }}","rightValue":"(google|gstatic|ggpht|schema|example)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-300,-40],"id":"e0f92349-5bca-4a44-bf5d-fb5bec584022","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-100,-40],"id":"ca498657-dd8a-410e-be20-9e54178ed2bf","name":"Remove Duplicates"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,-40],"id":"48865781-6afc-479e-93c4-f8a76f6a9191","name":"HTTP Request1","onError":"continueErrorOutput"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-40],"id":"6790b6a1-3fef-41d2-871c-b36b6692ea34","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-880,180],"id":"856c3893-d1b3-4d27-829f-c32492fc710c","name":"Loop Over Items1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $json.data || \"\";  // Ensure data exists\n\n// Regular Expression to match emails but exclude image links\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\n// Extract emails from the data\nconst emails = data.match(emailRegex) || []; // Ensure it returns an array\n\nconsole.log(\"Extracted Emails:\", emails);\n\n// Return result in expected JSON format\nreturn [{ json: { emails } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-660,320],"id":"cebd4ff9-bab8-4cd3-9b5a-af51ae7636da","name":"Code1","onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":false}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-600,160],"id":"124d5bde-563e-43f2-b7b9-09b557b56167","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"emails, emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-360,160],"id":"5b415efc-22ac-4e46-ad25-82bdfd97034e","name":"Split Out"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appbTAAVE73tgHdGB","mode":"list","cachedResultName":"EmailData","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB"},"table":{"__rl":true,"value":"tblHe7ohBVtdmcqX5","mode":"list","cachedResultName":"Table 3","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tblHe7ohBVtdmcqX5"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Done","emails":"={{ $json.emails[0] }}"},"matchingColumns":[],"schema":[{"id":"emails","displayName":"emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":false}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[160,160],"id":"a7eb81c4-6459-487b-905b-be858184e6cd","name":"Airtable","credentials":{"airtableTokenApi":{"id":"aryyX9PKv9rQZwTy","name":"Airtable Personal Access Token account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"gym+in+usa"}}]},"versionId":"81e9c7b0-e74a-4e1d-af78-273fc458c35a","triggerCount":0,"tags":[]}