email-scrapper-for-email-trigger-VlWaPj2kCrRRWA0v.json
{"createdAt":"2025-02-13T17:30:49.516Z","updatedAt":"2025-02-24T19:15:27.623Z","id":"VlWaPj2kCrRRWA0v","name":"Email scrapper for email trigger","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[880,0],"id":"b3794594-e5ed-4c5d-9137-93e349c8beee","name":"Remove Duplicates"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":true}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[300,300],"id":"ce0d24dd-84cc-4d58-94fc-58053203fad5","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,300],"id":"759ea71a-84ab-4863-8648-2c3a0f8c420d","name":"Split Out","onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.google.co.in/maps/search/Gym+in+{{ $json.city }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"0c732a7b-21e1-4626-bd9b-0ea8a7f3f948","name":"Getting list of business"},{"parameters":{"jsCode":"const data = $input.first().json.data;\nconst regex = /https?:\\/\\/[^\\/]+/g;\n\n// Match URLs in the data\nlet urls = data.match(regex) || [];  // If no match, assign an empty array\n\n// Return the URLs as individual JSON objects\nreturn urls.map(url => ({ json: { url: url } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,0],"id":"657091d3-80d0-4049-bbd7-b5ae357a9c72","name":"removing HTML","alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f35217a7-02da-47b6-91c3-0734767fc680","leftValue":"={{ $json.url }}","rightValue":"(google|gstatic|ggpht|schema|example|wixpress)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[700,0],"id":"c778f2db-5f3f-4d78-9aef-5f560130fd3d","name":"Removing useless domains"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1060,20],"id":"8a508e46-ad88-4502-8237-c80694ee9216","name":"opening websites","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[20,300],"id":"5b59f6e3-3402-44c6-b182-36273380ff58","name":"Getting Emails","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $json.data;  // Ensure data is a string\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\n// Check if data exists and is a string, then match emails\nlet emails = [];\nif (typeof data === 'string') {\n  emails = data.match(emailRegex) || [];  // Use || [] to avoid null if no match is found\n}\n\nconsole.log(emails);\nreturn { json: { emails: emails } };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[300,480],"id":"2193810e-eb1d-484b-a97e-e9b6f0e5f119","name":"Email Extracter","onError":"continueRegularOutput"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,40],"id":"1d7551e0-b153-4d0a-9fa6-d1c1e54d2935","name":"Website to open","onError":"continueRegularOutput"},{"parameters":{"compare":"={{ $json.emails }}","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[720,300],"id":"3963c1aa-291b-431b-89dc-a8c62b76d255","name":"Remove Duplicates1","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a5100c6-1b68-4b98-91fb-e8973a05039f","leftValue":"={{ $('Split Out').item.json.emails }}","rightValue":"(wixpress|sentry|webp|cult|example)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[940,300],"id":"adc53e19-6af3-415b-ab23-8b6865ffcdbb","name":"Filter"},{"parameters":{"method":"POST","url":"https://gymforce.io/?fluentcrm=1&route=contact&hash=c7c7d191-1176-4273-8939-6a3721b4ff58","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1160,300],"id":"be4533f9-f427-4b67-92c5-c96250f595f3","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rkqPzNAKnr9L5cAVJuR9Cn3KMWRcWUIuQm3KiiAPAsc/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"email list ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rkqPzNAKnr9L5cAVJuR9Cn3KMWRcWUIuQm3KiiAPAsc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.emails }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,500],"id":"de38d621-160a-4c08-826e-e48f90379793","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"fo81pXlXsgWfJ8V2","name":"Google Sheets account 3"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-140,-20],"id":"3af09adc-851b-4388-8528-dd3c844bb496","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const cities = [\n  \"Mumbai\", \"Delhi\", \"Bangalore\", \"Hyderabad\", \"Pune\", \"Agra\", \"Ahmedabad\", \"Bhubaneswar\", \"Chennai\", \"Kolkata\",\n  \"Jaipur\", \"Srinagar\", \"Jammu\", \"Nagpur\", \"Cuttack\", \"Bhopal\", \"Patna\", \"Guwahati\", \"Kanpur\", \"Ranchi\",\n  \"Cochin\", \"Surat\", \"Nashik\", \"Itanagar\", \"Ara\", \"Barauni\", \"Begusarai\", \"Bhagalpur\", \"Bihar Sharif\", \"Bodh Gaya\",\n  \"Buxar\", \"Chapra\", \"Darbhanga\", \"Dehri\", \"Dinapur Nizamat\", \"Gaya\", \"Hajipur\", \"Azamgarh\", \"Bahraich\", \"Ballia\",\n  \"Banda\", \"Bara Banki\", \"Bareilly\", \"Basti\", \"Bijnor\", \"Bithur\", \"Budaun\", \"Bulandshahr\", \"Deoria\", \"Etah\",\n  \"Etawah\", \"Farrukhabad-cum-Fatehgarh\", \"Fatehpur\", \"Fatehpur Sikri\", \"Ghaziabad\", \"Ghazipur\", \"Gonda\", \"Gorakhpur\", \"Hamirpur\",\n  \"Hardoi\", \"Hathras\", \"Jalaun\", \"Jaunpur\", \"Jhansi\", \"Kannauj\", \"Lakhimpur\", \"Lalitpur\", \"Lucknow\", \"Mainpuri\",\n  \"Mathura\", \"Meerut\", \"Mirzapur-Vindhyachal\", \"Moradabad\", \"Muzaffarnagar\", \"Partapgarh\", \"Pilibhit\", \"Prayagraj\", \"Rae Bareli\", \"Rampur\",\n  \"Saharanpur\", \"Sambhal\", \"Shahjahanpur\", \"Sitapur\", \"Sultanpur\", \"Tehri\", \"Varanasi\"\n];\n\n// Function to get a random city\nfunction getRandomCity() {\n  return cities[Math.floor(Math.random() * cities.length)];\n}\n\n// Example: Generate 10 random city queries\nconst result = Array.from({ length: 10 }, () => ({\n  query: `Gyms+in+${getRandomCity()}`\n}));\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20,0],"id":"88e2c187-f118-4b4c-a897-1e61883af2bd","name":"Code"}],"connections":{"Remove Duplicates":{"main":[[{"node":"opening websites","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Getting list of business":{"main":[[{"node":"removing HTML","type":"main","index":0}]]},"removing HTML":{"main":[[{"node":"Removing useless domains","type":"main","index":0}]]},"Removing useless domains":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"opening websites":{"main":[[{"node":"Getting Emails","type":"main","index":0}],[{"node":"Website to open","type":"main","index":0}]]},"Getting Emails":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Email Extracter","type":"main","index":0}]]},"Email Extracter":{"main":[[{"node":"Getting Emails","type":"main","index":0}]]},"Website to open":{"main":[[{"node":"opening websites","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"HTTP Request":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Getting list of business","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d7127042-6b1e-47aa-9d66-eae6cf771a66","triggerCount":0,"tags":[]}