email-rapid-api-scraper-1X9ZuZBSQWrH78WG.json
{"createdAt":"2025-02-24T18:13:17.750Z","updatedAt":"2025-02-27T17:59:15.702Z","id":"1X9ZuZBSQWrH78WG","name":"Email Rapid API Scraper","active":false,"nodes":[{"parameters":{"jsCode":"const cities = [\n  \"Mumbai\", \"Delhi\", \"Bangalore\", \"Hyderabad\", \"Pune\", \"Agra\", \"Ahmedabad\", \"Bhubaneswar\", \"Chennai\", \"Kolkata\",\n  \"Jaipur\", \"Srinagar\", \"Jammu\", \"Nagpur\", \"Cuttack\", \"Bhopal\", \"Patna\", \"Guwahati\", \"Kanpur\", \"Ranchi\",\n  \"Cochin\", \"Surat\", \"Nashik\", \"Itanagar\", \"Ara\", \"Barauni\", \"Begusarai\", \"Bhagalpur\", \"Bihar Sharif\", \"Bodh Gaya\",\n  \"Buxar\", \"Chapra\", \"Darbhanga\", \"Dehri\", \"Dinapur Nizamat\", \"Gaya\", \"Hajipur\", \"Azamgarh\", \"Bahraich\", \"Ballia\",\n  \"Banda\", \"Bara Banki\", \"Bareilly\", \"Basti\", \"Bijnor\", \"Bithur\", \"Budaun\", \"Bulandshahr\", \"Deoria\", \"Etah\",\n  \"Etawah\", \"Farrukhabad-cum-Fatehgarh\", \"Fatehpur\", \"Fatehpur Sikri\", \"Ghaziabad\", \"Ghazipur\", \"Gonda\", \"Gorakhpur\", \"Hamirpur\",\n  \"Hardoi\", \"Hathras\", \"Jalaun\", \"Jaunpur\", \"Jhansi\", \"Kannauj\", \"Lakhimpur\", \"Lalitpur\", \"Lucknow\", \"Mainpuri\",\n  \"Mathura\", \"Meerut\", \"Mirzapur-Vindhyachal\", \"Moradabad\", \"Muzaffarnagar\", \"Partapgarh\", \"Pilibhit\", \"Prayagraj\", \"Rae Bareli\", \"Rampur\",\n  \"Saharanpur\", \"Sambhal\", \"Shahjahanpur\", \"Sitapur\", \"Sultanpur\", \"Tehri\", \"Varanasi\"\n];\n\nconst apiKeys = [\n  \"332768a26dmshad73a5ece46f3fbp1b46a0jsnb74e3874aedb\",\n  \"7345fe73bdmshcc35cd88f8c141dp105534jsn0291be684971\",\n  \"a0d5a3e986msh2349b4a2b9b2f36p16a56cjsn00e103eb99c4\",\n  \"1adb74b9e1msh091a381cc456196p10553cjsn725105a9fa54\",\n  \"8a5e69728emsh768aa60687c5071p1c7d74jsn0e5b8e09b8b3\",\n  \"ccf20155bcmshde80b8f400ddae0p150deejsn21a2dd449a22\",\n  \"b0d5798f5amsh8db072f47f89663p17a450jsn49bb4965c1a0\",\n  \"54d6af916emsh49ba65631dadca4p1671b3jsna0f6b625f977\",\n  \"99c105ebe4mshd9ab1e258657371p14d650jsna1000082fdc2\",\n  \"6c246072a3msh44a415f983a098ep1bdda2jsna02369b0bb8d\",\n  \"e7079ee689msh2bbd29a10da496ep15861ejsnae623d85f0e7\",\n  \"2f4e41113bmshbb1242ff51d52d8p17f246jsn5837135297ce\",\n  \"1a5bb8dc3dmshe0e95640e0e2781p16735ejsnea66d9c36054\",\n  \"87b470e50fmshba25d17c0de579bp1baa10jsnd77c2ad628ee\",\n  \"99c105ebe4mshd9ab1e258657371p14d650jsna1000082fdc2\",\n  \"bfd55d3298msh8be4b461252ca5fp1c4c3ajsn246c8b20e319\",\n  \"5bf27877b7msh7c8c58f4a745424p1b381djsn2e2d40ef7d08\",\n  \"53fc2d0c22msh3224e39d8c77575p1ae12cjsn9dab325200f0\",\n  \"a735afca84msh69004421859bda1p1c51ccjsn4fd1b7be51a4\",\n  \"6d9baeb693mshe9e0932ced3e3f3p161711jsn3d9fde4d0af9\"\n];\n\nconst result = cities.map((city, index) => {\n  const apiKey = apiKeys[Math.floor(index / 50) % apiKeys.length]; // Switch API key every 50 cities\n  return { json: { city, apiKey } };\n});\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-760,-440],"id":"dd0e60c5-2da0-48c1-af32-e99cac4ad918","name":"Code","onError":"continueErrorOutput"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[100,-280],"id":"a12105ab-c3cf-492e-9e6f-c06b4a860789","name":"Wait","webhookId":"ff72065e-9a85-4a10-bf5a-91c15aa4b810","onError":"continueRegularOutput"},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=Gyms+in+{{ $json.city }}+\"@gmail.com\" -site:justdial.com -site:sulekha.com -site:fitfaat.com -site:ind.5bestincity.com"},{"name":"lr","value":"en-US"},{"name":"num","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json.apiKey }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-460],"id":"7f0ba299-422b-444c-a9a2-7c28d2fd5fd6","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title ":"={{ $json.title }}","snippet":"={{ $json.snippet }}","link":"={{ $json.link }}","displayLink":"={{ $json.displayLink }}"},"matchingColumns":[],"schema":[{"id":"title ","displayName":"title ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"items","displayName":"items","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[480,-480],"id":"e5406c09-9b6f-4833-90a2-90d086fe8022","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-380,-460],"id":"cd3028a1-d288-4894-94c0-dad603c071ac","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $json.items.map(item => ({\n    json: {\n        title: item.title,\n        snippet: item.snippet,\n        link: item.link,\n        displayLink: item.displayLink\n    }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,-480],"id":"cad8c0f9-a02c-4929-8337-4901026537d7","name":"Code1","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1000,-440],"id":"ae57fd92-d1a1-43e3-a0a7-5a37ac1a4a34","name":"When clicking ‘Test workflow’"}],"connections":{"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Code1","type":"main","index":0}],[]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a0de20aa-4498-45ff-a753-f7ec98fbd25b","triggerCount":0,"tags":[{"createdAt":"2025-02-20T18:42:39.646Z","updatedAt":"2025-02-20T18:42:39.646Z","id":"xXj1uVX3Ltn9hSGd","name":"Production"}]}