email-rapid-api-scraper-copy-2-hHjQARBW8UPF3YuI.json
{"createdAt":"2025-02-27T17:59:25.786Z","updatedAt":"2025-02-27T19:33:14.540Z","id":"hHjQARBW8UPF3YuI","name":"Email Rapid API Scraper copy 2","active":false,"nodes":[{"parameters":{"jsCode":"const cities = [\n  \"Mumbai\", \"Delhi\", \"Bangalore\", \"Hyderabad\", \"Pune\", \"Agra\", \"Ahmedabad\", \"Bhubaneswar\", \"Chennai\", \"Kolkata\",\n  \"Jaipur\", \"Srinagar\", \"Jammu\", \"Nagpur\", \"Cuttack\", \"Bhopal\", \"Patna\", \"Guwahati\", \"Kanpur\", \"Ranchi\",\n  \"Cochin\", \"Surat\", \"Nashik\", \"Itanagar\", \"Ara\", \"Barauni\", \"Begusarai\", \"Bhagalpur\", \"Bihar Sharif\", \"Bodh Gaya\",\n  \"Buxar\", \"Chapra\", \"Darbhanga\", \"Dehri\", \"Dinapur Nizamat\", \"Gaya\", \"Hajipur\", \"Azamgarh\", \"Bahraich\", \"Ballia\",\n  \"Banda\", \"Bara Banki\", \"Bareilly\", \"Basti\", \"Bijnor\", \"Bithur\", \"Budaun\", \"Bulandshahr\", \"Deoria\", \"Etah\",\n  \"Etawah\", \"Farrukhabad-cum-Fatehgarh\", \"Fatehpur\", \"Fatehpur Sikri\", \"Ghaziabad\", \"Ghazipur\", \"Gonda\", \"Gorakhpur\", \"Hamirpur\",\n  \"Hardoi\", \"Hathras\", \"Jalaun\", \"Jaunpur\", \"Jhansi\", \"Kannauj\", \"Lakhimpur\", \"Lalitpur\", \"Lucknow\", \"Mainpuri\",\n  \"Mathura\", \"Meerut\", \"Mirzapur-Vindhyachal\", \"Moradabad\", \"Muzaffarnagar\", \"Partapgarh\", \"Pilibhit\", \"Prayagraj\", \"Rae Bareli\", \"Rampur\",\n  \"Saharanpur\", \"Sambhal\", \"Shahjahanpur\", \"Sitapur\", \"Sultanpur\", \"Tehri\", \"Varanasi\"\n];\n\nconst result = cities.map(city => ({ json: { city } }));\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2800,-860],"id":"30631c5c-29d2-4412-be63-219289b472ad","name":"Code","onError":"continueErrorOutput"},{"parameters":{"amount":1,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2000,-640],"id":"51209164-9c42-4db2-a4ef-bdc3c21992f9","name":"Wait","webhookId":"1aa4a8d9-507f-49fa-8ef6-136635dfdcda","onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title ":"={{ $json.title }}","snippet":"={{ $json.snippet }}","link":"={{ $json.link }}","displayLink":"={{ $json.displayLink }}"},"matchingColumns":[],"schema":[{"id":"title ","displayName":"title ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"items","displayName":"items","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1580,-1060],"id":"27ba5f55-26ec-48eb-88c8-bd85947c304b","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2420,-960],"id":"30e8f49e-72c8-4662-8cce-32fb381a89ab","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $json.items.map(item => ({\n    json: {\n        title: item.title,\n        snippet: item.snippet,\n        link: item.link,\n        displayLink: item.displayLink\n    }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1880,-1060],"id":"f9967364-4df5-4879-8954-b0739527f7bc","name":"Code1","onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":" link","include":"={{ $json.displayLink }}","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1500,-700],"id":"adbe879e-73e2-4912-a83d-7a8cb78ab3da","name":"Split Out"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,-700],"id":"28ed342c-c1b6-4354-ad21-2bc0a2ae632a","name":"HTTP Request1","onError":"continueRegularOutput"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-620,-700],"id":"b3e3fe76-9650-4a03-9ba4-ac0d431eb931","name":"Markdown","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function to extract emails, phone numbers, addresses, and websites from text\nfunction extractData(text) {\n    // Regular expressions for email, phone numbers, and websites\n    const emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/g;\n    const phoneRegex = /\\b\\d{10,12}\\b/g; // Matches 10-12 digit phone numbers\n    \n    // Better address regex - this is a generic pattern that may need adjustment based on your data\n    const addressRegex = /\\b\\d+\\s+[A-Za-z0-9\\s,\\.]+(?:Avenue|Lane|Road|Boulevard|Drive|Street|Ave|Ln|Rd|Blvd|Dr|St)\\.?(?:\\s+[A-Za-z]+)?(?:,\\s*[A-Za-z]+)?(?:,\\s*[A-Z]{2})?\\s*\\d{5}(?:-\\d{4})?\\b/gi;\n    \n    const websiteRegex = /https?:\\/\\/(?:www\\.)?([A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?(?:\\.[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?)+)(?:\\/[^\\s\"')]*)?/g;\n    \n    // Extracting data\n    const emails = [...new Set(text.match(emailRegex) || [])];\n    const phoneNumbers = [...new Set(text.match(phoneRegex) || [])];\n    const addresses = [...new Set((text.match(addressRegex) || []).map(addr => addr.trim()))];\n    \n    // Social media domains list\n    const socialMediaDomains = ['facebook.com', 'instagram.com', 'twitter.com', 'linkedin.com', 'youtube.com', 'pinterest.com', 'tiktok.com'];\n    \n    // Website extraction\n    const mainWebsites = [];\n    const socialMediaLinks = {};\n    const uniqueMainWebsites = new Set();\n    const seenUrlPatterns = new Set();\n    \n    let match;\n    while ((match = websiteRegex.exec(text)) !== null) {\n        const fullUrl = match[0];\n        const domain = match[1];\n        \n        // Skip resource files\n        if (!/\\.(jpg|jpeg|png|gif|svg|webp|js|css|ico|woff|woff2|ttf|eot)(\\?.*)?$/i.test(fullUrl)) {\n            // Get base URL (without query parameters and fragments)\n            const baseUrl = fullUrl.split(/[?#]/)[0];\n            \n            // Check if it's a social media link\n            const socialMediaPlatform = socialMediaDomains.find(socialdomain => domain.includes(socialdomain));\n            \n            if (socialMediaPlatform) {\n                // Extract platform name (e.g., 'facebook' from 'facebook.com')\n                const platformName = socialMediaPlatform.split('.')[0];\n                \n                // Store only the first instance of each social platform\n                if (!socialMediaLinks[platformName]) {\n                    socialMediaLinks[platformName] = baseUrl;\n                }\n            } else {\n                // Process main websites\n                // Create a pattern by removing repeating number patterns\n                const urlPattern = baseUrl.replace(/(-\\d+)+$/, '');\n                \n                // Only add if we haven't seen this pattern before\n                if (!seenUrlPatterns.has(urlPattern)) {\n                    seenUrlPatterns.add(urlPattern);\n                    \n                    // If we haven't already added this exact URL\n                    if (!uniqueMainWebsites.has(baseUrl)) {\n                        uniqueMainWebsites.add(baseUrl);\n                        mainWebsites.push({\n                            url: baseUrl,\n                            domain: domain\n                        });\n                    }\n                }\n            }\n        }\n    }\n    \n    return {\n        emails: emails,\n        phoneNumbers: phoneNumbers,\n        socialMediaLinks: socialMediaLinks,\n        addresses: addresses,\n        mainWebsites: mainWebsites\n    };\n}\n\n// n8n Function Node Input\nconst inputText = $json[\"data\"]; // Replace with your text source in n8n\n\n// Extract information\nconst extractedData = extractData(inputText);\n\n// Return structured output for n8n\nreturn [{ data: extractedData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-440,-700],"id":"38c76216-b777-47d7-8d49-53ac5ad9fc47","name":"Code3","onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xkO_ju29t5vTjrWuhhI98xzWXfXrpFpOZq3dlRYq_-4/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xkO_ju29t5vTjrWuhhI98xzWXfXrpFpOZq3dlRYq_-4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.data.mainWebsites[0].domain }}","phone Numbers":"={{ $json.data.phoneNumbers }}","email":"={{ $json.data.emails }}","data":"={{ $json.data }}","addresses":"={{ $json.data.addresses }}","youtube.com":"={{ $json.data.socialMediaLinks.youtube}}","facebook.com":"={{ $json.data.socialMediaLinks.facebook}}","instagram.com":"={{ $json.data.socialMediaLinks.instagram}}","linkedin.com":"={{ $json.data.socialMediaLinks.linkedin}}","twitter.com":"={{ $json.data.socialMediaLinks.twitter}}","pinterest.com":"={{ $json.data.socialMediaLinks.pinterest}}","tiktok.com":"={{ $json.data.socialMediaLinks.tiktok}}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone Numbers","displayName":"phone Numbers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube.com","displayName":"youtube.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook.com","displayName":"facebook.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram.com","displayName":"instagram.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin.com","displayName":"linkedin.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter.com","displayName":"twitter.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pinterest.com","displayName":"pinterest.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tiktok.com","displayName":"tiktok.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"addresses","displayName":"addresses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-260,-700],"id":"9b1fcb5a-a566-4106-8649-12f1e4614628","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"return $json.items.map(item => ({\n    json: {\n        title: item.title,\n        snippet: item.snippet,\n        link: item.link,\n        displayLink: item.displayLink\n    }\n}));\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1720,-700],"id":"a9c043b6-d0ad-42ce-9e34-9aa67efd7598","name":"Code2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1280,-700],"id":"4e0e4ca8-ed4b-40fc-9ea9-a7120c7f16a4","name":"Loop Over Items1","onError":"continueRegularOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1060,-700],"id":"110367da-b6dc-4ff7-acc7-1807f840f8b3","name":"Wait1","webhookId":"213b4ab9-6c44-403c-a7d0-107e07af5fa9"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"API_key\":null\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-3040,-860],"id":"63e77725-18b5-4822-ae4b-aa0814c642b7","name":"When Executed by Another Workflow"},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=Gyms+in+{{ $json.city }}+\"@gmail.com\" -site:justdial.com -site:sulekha.com -site:fitfaat.com -site:ind.5bestincity.com "},{"name":"lr","value":"en-US"},{"name":"num","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $('When Executed by Another Workflow').item.json.API_key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2180,-860],"id":"44a69106-5a8d-4485-8177-3e5021710fb9","name":"HTTP Request2","onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":2045147135,"mode":"list","cachedResultName":"city ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=2045147135"},"columns":{"mappingMode":"defineBelow","value":{"City ":"={{ $json.City_name }}","scraped ":"TRUE"},"matchingColumns":["City "],"schema":[{"id":"City ","displayName":"City ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scraped ","displayName":"scraped ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1760,-880],"id":"f53a015b-1381-4093-805e-955527c2c255","name":"Google Sheets2","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}}],"connections":{"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Code1","type":"main","index":0},{"node":"Code2","type":"main","index":0},{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d976647c-0c56-41f0-88b0-7dc57b62205b","triggerCount":0,"tags":[{"createdAt":"2025-02-26T09:35:40.488Z","updatedAt":"2025-02-26T09:35:40.488Z","id":"CK62JpZhEjVApyqL","name":"working"}]}