email-rapid-api-scraper-copy-yU0JLivUGkVAcy48.json
{"createdAt":"2025-02-26T18:29:28.881Z","updatedAt":"2025-03-02T17:52:42.132Z","id":"yU0JLivUGkVAcy48","name":"Email Rapid API Scraper copy","active":false,"nodes":[{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,-1220],"id":"5d115828-a162-4b46-8a11-367c70226609","name":"Wait","webhookId":"513f219a-e75a-4674-a0ee-dfb8c7ec8bc4","onError":"continueRegularOutput"},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=Gyms+in+{{ $json['City '] }}+\"@gmail.com\" -site:justdial.com -site:sulekha.com -site:fitfaat.com -site:ind.5bestincity.com"},{"name":"lr","value":"en-US"},{"name":"num","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json['API KEY'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,-960],"id":"533be4ac-121e-44a9-b2e2-9eb1f942b679","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-180,-980],"id":"6cadacc0-dbe3-4386-99b6-fff81d13c471","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1940,-1000],"id":"e1b87f8b-01fe-4397-9aa6-ac187fcd7737","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":1920648093,"mode":"list","cachedResultName":"Sheet3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=1920648093"},"columns":{"mappingMode":"defineBelow","value":{"API KEY":"={{ $json.apiKey }}","Hit count ":"50","Satus":"Not active"},"matchingColumns":["API KEY"],"schema":[{"id":"API KEY","displayName":"API KEY","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Hit count ","displayName":"Hit count ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Satus","displayName":"Satus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,-720],"id":"cb417c68-c0c1-4703-844c-9beb47b038ea","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":1920648093,"mode":"list","cachedResultName":"Sheet3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=1920648093"},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1680,-1160],"id":"78111e15-5088-4517-a073-96598d00e141","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f5049b7-1c18-4d8a-8107-6902297bc596","leftValue":"={{ $json.Satus }}","rightValue":"Active","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1500,-1160],"id":"1e160694-1fb4-4ea8-abb8-a2ad09aa8e1b","name":"If"},{"parameters":{"fieldToSplitOut":"['API KEY']","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[440,-720],"id":"b1b37889-549e-4986-9a84-6840340b3bf2","name":"Split Out"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":2045147135,"mode":"list","cachedResultName":"city ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=2045147135"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1720,-860],"id":"2343ccee-e0f0-4c45-9950-fe40b247abb8","name":"Google Sheets2","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d9e96d2-7cd4-4c86-9706-c18169fe9795","leftValue":"={{ $json.status }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1500,-860],"id":"543fadc2-5145-4e0f-8450-db8a34f2b7c0","name":"If1"},{"parameters":{"fieldToSplitOut":"API KEY","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1240,-1160],"id":"af9021a8-2c16-47c9-81ca-adbf94480c44","name":"Split Out1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-720,-1000],"id":"7b4c6872-55bb-409c-af6d-255b90a1374e","name":"Merge","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"9eaf5ed6-631c-4128-91b9-55b87ceb8e87","name":"API KEY","value":"={{ $json['API KEY'][0] }}","type":"string"},{"id":"4ed19ca7-f37c-441c-b8b2-c020493666e2","name":"City ","value":"={{ $json['City '][0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,-1000],"id":"0d11b2b1-1bd8-48ea-867d-096af2201c5d","name":"Edit Fields"},{"parameters":{"batchSize":"=4","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1240,-880],"id":"112c0e82-3c66-45ce-bd1c-0cea92964a8b","name":"Loop Over Items1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-960,-1160],"id":"ac126f7a-9f3e-4507-b3a8-042e70600373","name":"Loop Over Items3"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"City "}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-520,-520],"id":"83270071-6fe7-4ab2-b646-e04ab159ae63","name":"Aggregate1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"API KEY"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-440,-1540],"id":"f05cca08-ec72-4a93-aafe-47232132339f","name":"Aggregate4"}],"connections":{"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}],[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out1","type":"main","index":0}],[]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Merge","type":"main","index":1}],[{"node":"Aggregate1","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Merge","type":"main","index":0}],[{"node":"Aggregate4","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate4":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b3ace89d-be6b-4a76-9ff2-3271429c6f12","triggerCount":0,"tags":[]}