fetching-jokes-FYSzVRf2EpPkZMxn.json
{"createdAt":"2025-03-11T03:50:16.810Z","updatedAt":"2025-03-11T17:29:37.264Z","id":"FYSzVRf2EpPkZMxn","name":"Fetching jokes","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0d0e77b1-4d22-4063-9814-8e2518d495b4","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://v2.jokeapi.dev/joke/Dark?blacklistFlags=religious,political,racist,sexist&type=single","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"57dd33a0-fcc7-4978-b53c-d1e70cee8993","name":"HTTP Request"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"https://app.slack.com/client/T08HT2FTF2L/C08HT2SN2AC","mode":"url"},"text":"={{ $json.joke }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[440,0],"id":"97daf204-db10-4e5c-9445-777474e86501","name":"Slack","webhookId":"3918ebbb-ad33-4ad9-99ec-e38c71622ca9","credentials":{"slackApi":{"id":"fHgZGrEbMWCOEVV8","name":"Slack account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Slack","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"789447e7-5fb1-4537-b2ba-c5896f6720ce","triggerCount":0,"tags":[{"createdAt":"2025-03-11T04:06:19.115Z","updatedAt":"2025-03-11T04:06:27.132Z","id":"aCnYNsPdDqczmC6Y","name":"Incomplete"},{"createdAt":"2025-03-11T03:42:31.212Z","updatedAt":"2025-03-11T03:42:31.212Z","id":"NCXYmaiJINQMxnjZ","name":"Ajitesh"}]}