filtering-airtable-lHTs4Mo3TpbKK8Rb.json
{"createdAt":"2025-02-21T18:44:39.908Z","updatedAt":"2025-02-22T14:31:39.152Z","id":"lHTs4Mo3TpbKK8Rb","name":"Filtering Airtable","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-440,-60],"id":"425cb50c-6442-4f55-ae8a-11e72b9a8769","name":"When clicking ‘Test workflow’"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appbTAAVE73tgHdGB","mode":"list","cachedResultName":"EmailData","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB"},"table":{"__rl":true,"value":"tbldPtWv52uy4Lptx","mode":"list","cachedResultName":"Table 4","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tbldPtWv52uy4Lptx"},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-200,-60],"id":"2981c75c-83d0-4b98-be2d-699574fa4eae","name":"Airtable","credentials":{"airtableTokenApi":{"id":"aryyX9PKv9rQZwTy","name":"Airtable Personal Access Token account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[400,120],"id":"ac955092-d14c-48b2-a87f-48d06e3235cf","name":"Remove Duplicates"},{"parameters":{"fieldToSplitOut":"Email","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,120],"id":"64c816b3-f9e1-463e-b0b0-26f6bd25d5f2","name":"Split Out"},{"parameters":{"operation":"deleteRecord","base":{"__rl":true,"value":"appbTAAVE73tgHdGB","mode":"list","cachedResultName":"EmailData","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB"},"table":{"__rl":true,"value":"tbldPtWv52uy4Lptx","mode":"list","cachedResultName":"Table 4","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tbldPtWv52uy4Lptx"},"id":"={{ $json.id }}"},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[400,-220],"id":"a155e399-e657-4710-878f-f489a8ba8c75","name":"Airtable2","executeOnce":false,"credentials":{"airtableTokenApi":{"id":"aryyX9PKv9rQZwTy","name":"Airtable Personal Access Token account"}}},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appbTAAVE73tgHdGB","mode":"list","cachedResultName":"EmailData","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB"},"table":{"__rl":true,"value":"tbldPtWv52uy4Lptx","mode":"list","cachedResultName":"Table 4","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tbldPtWv52uy4Lptx"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.Email }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[620,120],"id":"2f1d86d0-152a-4756-a97e-1d59fda27df6","name":"Airtable1","credentials":{"airtableTokenApi":{"id":"aryyX9PKv9rQZwTy","name":"Airtable Personal Access Token account"}}},{"parameters":{"fieldToSplitOut":"id","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[180,-220],"id":"b0d57abd-effb-4682-898f-9a7f39be5a0e","name":"Getting Record ID"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Getting Record ID","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Getting Record ID":{"main":[[{"node":"Airtable2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"491e24fa-e3b4-448c-a455-e6132460ae33","triggerCount":0,"tags":[]}