gbot-9DNpzC6YzRj5QpTP.json
{"createdAt":"2025-02-19T13:50:54.745Z","updatedAt":"2025-02-19T14:04:21.374Z","id":"9DNpzC6YzRj5QpTP","name":"Gbot","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"id":"85ccd490-2839-4358-b4dd-3e072145df97","name":"Telegram Trigger","webhookId":"07378e64-ca20-4cb9-84c4-513c41196a7c","credentials":{"telegramApi":{"id":"EZ17dJesOQq5stCX","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"/clients","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bad8f63-4bea-471e-aaa5-c6f265e71d44","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[440,0],"id":"96c34031-33b2-4a03-b8d8-17bd095a668c","name":"Switch"},{"parameters":{"url":"https://backend.gymforce.in/api/start/1/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-100],"id":"fe29884d-57e1-46bc-9171-731777c0d19d","name":"HTTP Request"},{"parameters":{"chatId":"={{ $('Switch').item.json.message.chat.id }}","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-100],"id":"c1a8f457-ce44-4fa8-adec-3bd020b30db2","name":"Telegram","webhookId":"a36daf39-6292-4585-b7d6-40761067c062","credentials":{"telegramApi":{"id":"EZ17dJesOQq5stCX","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.from.username }}","rightValue":"Cryptopher_babyyy","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[220,0],"id":"9745999f-9c89-41ee-8e16-6cd80a19d493","name":"Switch1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5fefb0a7-2739-4648-88a2-e34f73381476","triggerCount":1,"tags":[]}