generates-and-sends-weekly-progress-reports-to-clients.-rXbZGNWim5ygpHHg.json
{"createdAt":"2025-03-13T16:03:00.292Z","updatedAt":"2025-03-17T15:56:49.094Z","id":"rXbZGNWim5ygpHHg","name":"Generates and sends weekly progress reports to clients.","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-640,-280],"id":"0103839f-b9d0-4086-97e9-f90baa3eb6dd","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=261262249#gid=261262249","mode":"url"},"sheetName":{"__rl":true,"value":261262249,"mode":"list","cachedResultName":"Progress","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=261262249"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-420,-280],"id":"bb6401ae-8802-4121-9136-757d5fb3180d","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"b0c113f3-6c76-4fe0-95ff-fe4a9127e401","name":"client_name","value":"={{ $json.client_name }}","type":"string"},{"id":"a5c10993-d0db-4039-bd72-f333f0209672","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"86655c8c-69da-446d-b560-152e3b0d2c84","name":"progress_summary","value":"={{ $json.progress_summary }}","type":"string"},{"id":"6227cd34-26f5-45d9-ad4d-e1a3bfd2f889","name":"report_date","value":"={{ $json.report_date }}","type":"string"}]},"options":{"dotNotation":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,-280],"id":"66f00093-d50d-470f-9415-0bbd9f8a4848","name":"Edit Fields"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=\"Weekly Progress Report - {{ $json[\"client_name\"] }}\"","message":"=**Weekly Progress Report**  Client: {{ $json[\"client_name\"] }} Progress Summary: {{ $json[\"progress_summary\"] }}  Keep up the great work!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[260,-260],"id":"549d5ecc-ecae-4c98-9465-f2f169a6365f","name":"Gmail","webhookId":"a363b0b1-c846-43c2-a5ad-b2453b7850b5","credentials":{"gmailOAuth2":{"id":"ZNBxoE1s7decTXRh","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,-280],"id":"ea71cef2-caea-4949-ab50-03e921480b21","name":"Loop Over Items"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6f523eff-d858-4e2d-879a-7ac6f94a0c70","triggerCount":0,"tags":[{"createdAt":"2025-03-11T03:42:46.764Z","updatedAt":"2025-03-11T03:42:46.764Z","id":"Gw9jAhW1O10zM33b","name":"Completed"},{"createdAt":"2025-03-17T15:54:29.839Z","updatedAt":"2025-03-17T15:54:29.839Z","id":"lqXQZmH0ptknEVlI","name":"Chirag"}]}