generates-and-sends-invoice-reminders-yTvUubEsCnozcOZg.json
{"createdAt":"2025-03-13T14:09:59.471Z","updatedAt":"2025-03-17T18:24:13.123Z","id":"yTvUubEsCnozcOZg","name":"Generates and sends invoice reminders","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-60],"id":"b2639706-8ad4-4fa9-92bf-c8c8e344c8cf","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=1055264774#gid=1055264774","mode":"url"},"sheetName":{"__rl":true,"value":1055264774,"mode":"list","cachedResultName":"Invoice","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=1055264774"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Unpaid"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,-60],"id":"2f47ebce-c463-4318-aa9d-1cae5168fe12","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9ba2189-f173-40c1-809d-382eaa0b488e","leftValue":"=\n\n\n","rightValue":"=\n\n","operator":{"type":"number","operation":"lt"}},{"id":"29ffeee0-3cb0-4cdf-bb24-84f4bca5d3e5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,-60],"id":"97d1fe80-6a5e-42f6-977a-d4ea84e5a0e3","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09b93f59-e6b5-4446-9906-ddde5a8388f3","leftValue":"={{ $json.Status }}","rightValue":"=paid","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-60,-60],"id":"2f37a855-78a8-49f6-8d8b-dea7cbe54cec","name":"Filter"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3363560b-db5e-46c7-80cb-a2ce6dc4e710","triggerCount":0,"tags":[{"createdAt":"2025-03-17T15:54:29.839Z","updatedAt":"2025-03-17T15:54:29.839Z","id":"lqXQZmH0ptknEVlI","name":"Chirag"}]}