getting-city-from-not-scraped-sheet-YutZhNI3gq2jbqaL.json
{"createdAt":"2025-03-01T10:14:30.628Z","updatedAt":"2025-03-09T15:14:00.142Z","id":"YutZhNI3gq2jbqaL","name":"getting city from not scraped sheet","active":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1178243976,"mode":"list","cachedResultName":"city list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=1178243976"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1040,-340],"id":"9359ea99-356d-43f3-8672-8f54d5e9beed","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=best gym in {{ $json.city }}  -site:justdial.com -site:indiamart.com -site:sulekha.com -site:yoactiv.com"},{"name":"num","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json.key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,-900],"id":"d7428830-98e6-45db-ad49-514facc0f9ea","name":"HTTP Request2","disabled":true,"onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"usage":"={{ $('Code').item.json.usage + 1 }}","key":"="},"matchingColumns":["key"],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-620,-1140],"id":"6df4353e-5407-4c8b-a153-cd5b86c9a862","name":"Google Sheets2","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"disabled":true},{"parameters":{"jsCode":"// Get city from Loop Node\nlet city = $json.city;\n\n// Get list of API keys from If Node\nlet apiKeys = $items(\"If\").map(item => item.json.key);\n\n// Remove any invalid API keys\napiKeys = apiKeys.filter(k => k);\n\nif (!city) {\n    return [{ json: { error: \"No city provided.\" } }];\n}\n\nif (apiKeys.length === 0) {\n    return [{ json: { city, error: \"No API keys available.\" } }];\n}\n\n// Function to delay execution\nfunction wait(ms) {\n    return new Promise(resolve => setTimeout(resolve, ms));\n}\n\n// Store errors for debugging\nlet errorMessages = [];\n\n// Try each API key one by one\nfor (let i = 0; i < apiKeys.length; i++) {\n    let apiKey = apiKeys[i];\n\n    try {\n        // Make an HTTP request using n8n's built-in request function\n        let response = await $http({\n            method: \"GET\",\n            url: \"https://your-api-url.com\",\n            qs: { city: city }, // Pass city as query parameter\n            headers: { \"x-api-key\": apiKey }, // Use API key in headers\n        });\n\n        // If successful, return response\n        return [{ \n            json: { \n                city: city, \n                apiKey: apiKey, \n                response: response \n            } \n        }];\n\n    } catch (error) {\n        let errorMessage = error.response?.status === 429 \n            ? \"Rate limit exceeded\" \n            : error.message;\n        \n        errorMessages.push(`Key ${apiKey} failed: ${errorMessage}`);\n\n        // If rate limit error (429), wait 1 second before trying the next key\n        if (error.response?.status === 429 && i < apiKeys.length - 1) {\n            console.log(`Rate limit hit with key ${apiKey}, waiting 1s before retrying...`);\n            await wait(1000);\n        }\n    }\n}\n\n// If all keys fail, return an error\nreturn [{ \n    json: { \n        city: city, \n        error: \"All API keys failed.\", \n        details: errorMessages \n    } \n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,-900],"id":"de2885f0-d4ba-4ced-8226-be8c491aa905","name":"Code","disabled":true},{"parameters":{"fieldToSplitOut":"apiKey","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-140,-640],"id":"caa51eaf-5507-40fa-bcde-16cca82998fd","name":"Split Out","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"key","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $json.apiKey }}","usage":"11"},"matchingColumns":["key"],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is active ","displayName":"is active ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,-640],"id":"e8edd5c7-44f0-4a3e-8d49-0796a9489bef","name":"Google Sheets4","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8baf326e-dfe6-484d-876f-f547a104dfd0","leftValue":"={{ $json['scrapped or not'] }}","rightValue":"not","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-840,-340],"id":"79439c37-200d-43da-a06c-75eadc4b5311","name":"If"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":2129718360,"mode":"list","cachedResultName":"Raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=2129718360"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["key"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-40,-960],"id":"cf46c690-2193-479d-8bbc-d4778e7f9878","name":"Google Sheets3","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"disabled":true},{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,-960],"id":"5f40873b-7a39-4900-a8e7-eabee298d8e8","name":"Loop Over Items1","disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":2129718360,"mode":"list","cachedResultName":"Raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=2129718360"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["key"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[380,-960],"id":"e0bbd271-2b77-4e22-b9f0-8d15eeaff1be","name":"Google Sheets5","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"disabled":true},{"parameters":{"fieldToSplitOut":"link","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[560,-960],"id":"285597b6-2e95-4b6d-8fa3-bc1116d3fd16","name":"Split Out1","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[740,-960],"id":"9a40e1d1-2faa-492b-8591-b6d6cf517ea3","name":"Loop Over Items2","disabled":true},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,-940],"id":"5ff4594f-921b-48d3-998f-884a8e5ceb06","name":"Wait","webhookId":"3504124c-5a57-496e-ab4b-a9f98a1a9d9e","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1140,-940],"id":"e199189c-1b7a-4418-8ca6-62402dea9577","name":"HTTP Request","disabled":true},{"parameters":{"fieldToSplitOut":"city","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-560,-360],"id":"54b87990-4dad-4053-8f2b-e0eeb252a7b5","name":"Split Out2","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"Y6BfuhCathf3v75k","mode":"list","cachedResultName":"getting api key from sheet and firing rapid api key"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-380,-360],"id":"718d7924-eb26-428b-9466-3f0aa97884b3","name":"Execute Workflow"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1300,-340],"id":"9b1b7925-5ec3-4e81-9bf0-c77763e64955","name":"Schedule Trigger"}],"connections":{"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"HTTP Request2":{"main":[[],[{"node":"Split Out","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[]]},"Google Sheets3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Google Sheets5","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Google Sheets5":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If":{"main":[[{"node":"Split Out2","type":"main","index":0}],[]]},"Split Out2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2626b5c7-a7dd-4fe9-b9b5-37bdcf2afc61","triggerCount":1,"tags":[{"createdAt":"2025-03-04T16:53:04.774Z","updatedAt":"2025-03-04T16:53:04.774Z","id":"strIWtrhxDXQ9jSK","name":"google serch & email"}]}