getting-api-key-from-sheet-and-firing-rapid-api-key-Y6BfuhCathf3v75k.json
{"createdAt":"2025-03-02T17:23:01.121Z","updatedAt":"2025-03-08T08:01:12.785Z","id":"Y6BfuhCathf3v75k","name":"getting api key from sheet and firing rapid api key","active":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n    \"row_number\": 2,\n    \"scrapped or not\": \"not\",\n    \"city\": \"Mumbai\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-380,-80],"id":"57bad5ad-d60d-4103-9342-c07fa1800f69","name":"When Executed by Another Workflow"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-160,-80],"id":"eec8ab56-4486-4b2e-b100-ae4db90d56da","name":"Getting API list","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d4c970d7-6a86-454e-9e69-6f28dad8e37e","leftValue":"={{ $json.status }}","rightValue":"true","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[60,-80],"id":"46ebecb2-2594-48f7-adb3-479d84a55b6e","name":"Getting useable API"},{"parameters":{"fieldToSplitOut":"key","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[300,-100],"id":"0ca28662-a6ec-4d74-b6ad-b1c97cd9ac22","name":"Seprating API","executeOnce":true},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":837721424,"mode":"list","cachedResultName":"Processing data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=837721424"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","snippet":"={{ $json.snippet }}","link":"={{ $json.link }}","displayLink":"={{ $json.displayLink }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,-620],"id":"72b76e40-a187-42c0-9cbc-24465716e545","name":"Pushed for processing","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":2129718360,"mode":"list","cachedResultName":"Raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=2129718360"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","snippet":"={{ $json.snippet }}","link":"={{ $json.link }}","displayLink":"={{ $json.displayLink }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,-320],"id":"66c139ba-efc3-4c83-a1b0-c2504a3ff315","name":"Storing RAW data","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $json.key }}","usage":"51"},"matchingColumns":["key"],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[820,140],"id":"5d21c885-9589-4ffb-8267-3315cf477743","name":"Geting bad API","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=Gyms+in+{{ $('When Executed by Another Workflow').item.json.city }}+\"@gmail.com\" -site:justdial.com -site:sulekha.com -site:fitfaat.com -site:ind.5bestincity.com"},{"name":"lr","value":"en-US"},{"name":"num","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json.key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,-100],"id":"d8066c35-c09c-4d32-a797-48b741751dc2","name":"Hitting API","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $json.items.map(item => ({\n    json: {\n        title: item.title,\n        snippet: item.snippet,\n        link: item.link,\n        displayLink: item.displayLink\n    }\n}));\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,-120],"id":"995197e4-4e52-4f71-9106-8847d8210e3d","name":"Seprating profiles"},{"parameters":{"authentication":"serviceAccount","operation":"appendOrUpdate","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":1178243976,"mode":"list","cachedResultName":"city list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=1178243976"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["title"],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1640,-820],"id":"c86fd15b-99cf-4cb8-90fe-59b0917de5fe","name":"Pushed for processing1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"disabled":true},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=1178243976#gid=1178243976","mode":"url"},"sheetName":{"__rl":true,"value":1178243976,"mode":"list","cachedResultName":"city list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=1178243976"},"columns":{"mappingMode":"defineBelow","value":{"city":"={{ $('When Executed by Another Workflow').item.json.city }}","scrapped or not":"yes","row_number":"={{ $('When Executed by Another Workflow').item.json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scrapped or not","displayName":"scrapped or not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1100,100],"id":"09fe19bd-3a62-477e-8684-10120b1541f3","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Getting API list","type":"main","index":0}]]},"Getting API list":{"main":[[{"node":"Getting useable API","type":"main","index":0}]]},"Getting useable API":{"main":[[{"node":"Seprating API","type":"main","index":0}]]},"Seprating API":{"main":[[{"node":"Hitting API","type":"main","index":0}]]},"Storing RAW data":{"main":[[]]},"Hitting API":{"main":[[{"node":"Seprating profiles","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}],[{"node":"Geting bad API","type":"main","index":0}]]},"Seprating profiles":{"main":[[{"node":"Pushed for processing","type":"main","index":0},{"node":"Storing RAW data","type":"main","index":0}]]},"Pushed for processing":{"main":[[]]},"Pushed for processing1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37e8730b-4ce3-49f9-82a1-ce4676cbdcf6","triggerCount":0,"tags":[{"createdAt":"2025-03-04T16:53:04.774Z","updatedAt":"2025-03-04T16:53:04.774Z","id":"strIWtrhxDXQ9jSK","name":"google serch & email"}]}