kunal-&-chirag-final-work-flow-0VV2vj3qdp2sqUFR.json
{"createdAt":"2025-02-22T08:24:14.145Z","updatedAt":"2025-02-23T21:18:01.525Z","id":"0VV2vj3qdp2sqUFR","name":"kunal & chirag final work flow","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-780,-600],"id":"2743e949-b483-42b5-9e67-2811f23867d1","name":"When clicking ‘Test workflow’"},{"parameters":{"jsCode":"const cities = [\n  \"Mumbai\", \"Delhi\", \"Bangalore\", \"Hyderabad\", \"Pune\", \"Agra\", \"Ahmedabad\", \"Bhubaneswar\", \"Chennai\", \"Kolkata\",\n  \"Jaipur\", \"Srinagar\", \"Jammu\", \"Nagpur\", \"Cuttack\", \"Bhopal\", \"Patna\", \"Guwahati\", \"Kanpur\", \"Ranchi\",\n  \"Cochin\", \"Surat\", \"Nashik\", \"Itanagar\", \"Ara\", \"Barauni\", \"Begusarai\", \"Bhagalpur\", \"Bihar Sharif\", \"Bodh Gaya\",\n  \"Buxar\", \"Chapra\", \"Darbhanga\", \"Dehri\", \"Dinapur Nizamat\", \"Gaya\", \"Hajipur\", \"Azamgarh\", \"Bahraich\", \"Ballia\",\n  \"Banda\", \"Bara Banki\", \"Bareilly\", \"Basti\", \"Bijnor\", \"Bithur\", \"Budaun\", \"Bulandshahr\", \"Deoria\", \"Etah\",\n  \"Etawah\", \"Farrukhabad-cum-Fatehgarh\", \"Fatehpur\", \"Fatehpur Sikri\", \"Ghaziabad\", \"Ghazipur\", \"Gonda\", \"Gorakhpur\", \"Hamirpur\",\n  \"Hardoi\", \"Hathras\", \"Jalaun\", \"Jaunpur\", \"Jhansi\", \"Kannauj\", \"Lakhimpur\", \"Lalitpur\", \"Lucknow\", \"Mainpuri\",\n  \"Mathura\", \"Meerut\", \"Mirzapur-Vindhyachal\", \"Moradabad\", \"Muzaffarnagar\", \"Partapgarh\", \"Pilibhit\", \"Prayagraj\", \"Rae Bareli\", \"Rampur\",\n  \"Saharanpur\", \"Sambhal\", \"Shahjahanpur\", \"Sitapur\", \"Sultanpur\", \"Tehri\", \"Varanasi\"\n];\n\nconst apiKeys = [\n  \"332768a26dmshad73a5ece46f3fbp1b46a0jsnb74e3874aedb\",\n  \"7345fe73bdmshcc35cd88f8c141dp105534jsn0291be684971\",\n  \"a0d5a3e986msh2349b4a2b9b2f36p16a56cjsn00e103eb99c4\",\n  \"1adb74b9e1msh091a381cc456196p10553cjsn725105a9fa54\",\n  \"8a5e69728emsh768aa60687c5071p1c7d74jsn0e5b8e09b8b3\",\n  \"ccf20155bcmshde80b8f400ddae0p150deejsn21a2dd449a22\",\n  \"b0d5798f5amsh8db072f47f89663p17a450jsn49bb4965c1a0\",\n  \"54d6af916emsh49ba65631dadca4p1671b3jsna0f6b625f977\",\n  \"99c105ebe4mshd9ab1e258657371p14d650jsna1000082fdc2\",\n  \"6c246072a3msh44a415f983a098ep1bdda2jsna02369b0bb8d\",\n  \"e7079ee689msh2bbd29a10da496ep15861ejsnae623d85f0e7\",\n  \"2f4e41113bmshbb1242ff51d52d8p17f246jsn5837135297ce\",\n  \"1a5bb8dc3dmshe0e95640e0e2781p16735ejsnea66d9c36054\",\n  \"87b470e50fmshba25d17c0de579bp1baa10jsnd77c2ad628ee\",\n  \"99c105ebe4mshd9ab1e258657371p14d650jsna1000082fdc2\",\n  \"bfd55d3298msh8be4b461252ca5fp1c4c3ajsn246c8b20e319\",\n  \"5bf27877b7msh7c8c58f4a745424p1b381djsn2e2d40ef7d08\",\n  \"53fc2d0c22msh3224e39d8c77575p1ae12cjsn9dab325200f0\",\n  \"a735afca84msh69004421859bda1p1c51ccjsn4fd1b7be51a4\",\n  \"6d9baeb693mshe9e0932ced3e3f3p161711jsn3d9fde4d0af9\"\n];\n\nconst result = cities.map((city, index) => {\n  const apiKey = apiKeys[Math.floor(index / 50) % apiKeys.length]; // Switch API key every 50 cities\n  return { json: { city, apiKey } };\n});\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-740,-340],"id":"99335d31-977e-49ab-b16a-1ed1afd86643","name":"Code","onError":"continueErrorOutput"},{"parameters":{"amount":10,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-240,120],"id":"0c31e42c-4967-4ba7-bec5-00d125484f4f","name":"Wait","webhookId":"43ec0daa-ca83-4c37-ae6b-99dedccae184","onError":"continueRegularOutput"},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=Gyms+in+{{ $json.city }}+\"@gmail.com\" -site:justdial.com -site:sulekha.com -site:fitfaat.com -site:ind.5bestincity.com"},{"name":"lr","value":"en-US"},{"name":"num","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json.apiKey }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-440,-80],"id":"4970d3f8-ed68-45ad-b2e9-3987ffa1b394","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"snippet","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[260,-360],"id":"11efbf13-16b0-4acc-80ac-d2689a50d7a3","name":"Split Out","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"snippet","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[500,-360],"id":"f6f1f04d-542d-4790-a907-0f4b7f54128b","name":"Split Out1","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.snippet;  // Ensure data is a string\nconst emailRegex = /(?:[-\\s]*email[-\\s]*)?([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,})/gi;\n\n// Check if data exists and is a string, then match emails\nlet emails = [];\nif (typeof data === 'string') {\n  emails = [...data.matchAll(emailRegex)]\n    .map(match => match[1].toLowerCase());  // Extract clean email and convert to lowercase\n}\n\n// Return only if emails exist, otherwise return null to filter later\nreturn emails.length > 0 ? { json: { emails } } : null;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-360],"id":"205f925b-65fd-4cf3-9d13-1c6413c99e24","name":"Email Extracter","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://gymforce.io/?fluentcrm=1&route=contact&hash=c7c7d191-1176-4273-8939-6a3721b4ff58","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,120],"id":"d2729685-c357-400a-a8a3-5a27086de871","name":"Wordpress Server","onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1rkqPzNAKnr9L5cAVJuR9Cn3KMWRcWUIuQm3KiiAPAsc/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"email list ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1rkqPzNAKnr9L5cAVJuR9Cn3KMWRcWUIuQm3KiiAPAsc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.emails }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[680,-120],"id":"ad78b0f1-9d56-4b4e-917f-86206a264ff1","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"pbIVl7erkpS9MyzY","name":"Google Sheets account 2"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw","mode":"list","cachedResultName":"Gym email data ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title ":"={{ $json.title }}","snippet":"={{ $json.snippet }}","link":"={{ $json.link }}","displayLink":"={{ $json.displayLink }}"},"matchingColumns":[],"schema":[{"id":"title ","displayName":"title ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"snippet","displayName":"snippet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"displayLink","displayName":"displayLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"items","displayName":"items","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"RAW"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[300,-580],"id":"6eb0e66b-5bd8-4f0b-b95c-18513b6b3729","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"pbIVl7erkpS9MyzY","name":"Google Sheets account 2"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-740,-100],"id":"e8bec435-9509-47c6-b83d-0dba06f4161a","name":"Loop Over Items","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $json.items.map(item => ({\n    json: {\n        title: item.title,\n        snippet: item.snippet,\n        link: item.link,\n        displayLink: item.displayLink\n    }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-320],"id":"a75c845e-2f27-4356-abf0-9c7e3190e7b4","name":"Code1","onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a5100c6-1b68-4b98-91fb-e8973a05039f","leftValue":"={{ $json.emails }}","rightValue":"(wixpress|sentry|webp|cult|example)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,-120],"id":"22d6b014-6f67-4e96-bdf0-16ef02c841e5","name":"Filter","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[60,-120],"id":"75eb82fa-6b19-451e-9dfb-8a82e9ae7268","name":"Remove Duplicates","onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[920,-360],"id":"c2fe659a-1b43-451d-8282-e3658f8da372","name":"Split Out2","onError":"continueRegularOutput"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0},{"node":"Code1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Email Extracter","type":"main","index":0}]]},"Email Extracter":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Wordpress Server","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"HTTP Request":[{"json":{"status":"success","items":[{"title":"Gym | Cardio | CrossFit | Fitness Centre (@jupitofitness) - Instagram","htmlTitle":"Gym | Cardio | CrossFit | Fitness Centre (@jupitofitness) - Instagram","snippet":"Visit us: Keshav Srishti Apartment, Opp Bata Showroom, Above Bank Of India, Malad (W), Link Road, Mumbai - 400064 Contact us: 8591589967 Email: jupitofitness@ ...","htmlSnippet":"Visit us: Keshav Srishti Apartment, Opp Bata Showroom, Above Bank Of India, Malad (W), Link Road, Mumbai - 400064 Contact us: 8591589967 Email: jupitofitness@ ...","link":"https://www.instagram.com/jupitofitness/","displayLink":"www.instagram.com"},{"title":"Maharashtra Fitness Club – Fitness Center in Mumbai","htmlTitle":"Maharashtra Fitness Club – Fitness Center in Mumbai","snippet":"mahafitclub@gmail.com. Opening Hours:Mon - Sun:8.00 am-7.00 pm. 9930923333 ... 22/03/2022. Crossfit · Getting Back Into CrossFit After Vacation · Maharashtra ...","htmlSnippet":"mahafitclub@gmail.com. Opening Hours:Mon - Sun:8.00 am-7.00 pm. 9930923333 ... 22/03/2022. Crossfit · Getting Back Into CrossFit After Vacation · Maharashtra ...","link":"https://maharashtrafitness.in/","displayLink":"maharashtrafitness.in"},{"title":"Incline Fitness Gym | Mumbai - Facebook","htmlTitle":"Incline Fitness Gym | Mumbai - Facebook","snippet":"please Feel Free to directly get in touch with us DM Us or Mail at - info.inclinefitness@gmail@com thank you - Team Incline Fitness #gymnastics #gym # ...","htmlSnippet":"please Feel Free to directly get in touch with us DM Us or Mail at - info.inclinefitness@gmail@com thank you - Team Incline Fitness #gymnastics #gym # ...","link":"https://www.facebook.com/inclinefitnessgym/","displayLink":"www.facebook.com"},{"title":"NAVI MUMBAI'S BIGGEST GYM IN NERUL. Visit us for your free trial ...","htmlTitle":"NAVI MUMBAI'S BIGGEST GYM IN NERUL. Visit us for your free trial ...","snippet":"shredxnavimumbai on April 18, 2024: \"NAVI MUMBAI'S BIGGEST GYM IN NERUL. Visit us for your free trial! For membership bookings: Call: +91 ...","htmlSnippet":"shredxnavimumbai on April 18, 2024: \"NAVI MUMBAI'S BIGGEST GYM IN NERUL. Visit us for your free trial! For membership bookings: Call: +91 ...","link":"https://www.instagram.com/shredxnavimumbai/reel/C56EfMptZC0/","displayLink":"www.instagram.com"},{"title":"RawFit - The Gym & CrossFit Center - Facebook","htmlTitle":"RawFit - The Gym & CrossFit Center - Facebook","snippet":"... mumbai Rawfit Gym, workout, CrossFit , cardio, gym life , gym offers, monsoon sale, discounts, gym buddies, gym partners, gym friends, Santacruz, vakola , ...","htmlSnippet":"... mumbai Rawfit Gym, workout, CrossFit , cardio, gym life , gym offers, monsoon sale, discounts, gym buddies, gym partners, gym friends, Santacruz, vakola , ...","link":"https://www.facebook.com/rawfitgymofficial/","displayLink":"www.facebook.com"},{"title":"SHREDX FYTNEST (@shredxnavimumbai) - Instagram","htmlTitle":"SHREDX FYTNEST (@shredxnavimumbai) - Instagram","snippet":"Navi Mumbai's Biggest Gym Gym | Crossfit | Calisthenics | Zumba | Yoga |Functional | KickBoxing ☎️ ~ 9137647501, 8104577373, 8104599176 Location    .","htmlSnippet":"Navi Mumbai's Biggest Gym Gym | Crossfit | Calisthenics | Zumba | Yoga |Functional | KickBoxing ☎️ ~ 9137647501, 8104577373, 8104599176 Location    .","link":"https://www.instagram.com/shredxnavimumbai/","displayLink":"www.instagram.com"},{"title":"NAVI MUMBAI'S BIGGEST GYM IN NERUL @shredxnavimumbai ...","htmlTitle":"NAVI MUMBAI'S BIGGEST GYM IN NERUL @shredxnavimumbai ...","snippet":"337 likes, 17 comments - shredxnavimumbai on June 22, 2024: \"NAVI MUMBAI'S BIGGEST GYM IN NERUL @shredxnavimumbai ✨ Featuring- ...","htmlSnippet":"337 likes, 17 comments - shredxnavimumbai on June 22, 2024: \"NAVI MUMBAI'S BIGGEST GYM IN NERUL @shredxnavimumbai ✨ Featuring- ...","link":"https://www.instagram.com/shredxnavimumbai/reel/C8hbn55tkns/","displayLink":"www.instagram.com"},{"title":"Get the Best Fitness Workouts, Gyms and membership in India | WTF","htmlTitle":"Get the Best Fitness Workouts, Gyms and membership in India | WTF","snippet":"Join WTF Gyms for premium workouts, yoga, Zumba, Dance, and CrossFit. Enjoy expert trainers and flexible memberships starting at ₹999/month.","htmlSnippet":"Join WTF Gyms for premium workouts, yoga, Zumba, Dance, and CrossFit. Enjoy expert trainers and flexible memberships starting at ₹999/month.","link":"https://wtfgyms.com/","displayLink":"wtfgyms.com"},{"title":"Gym Mumbai | PDF | Physical Fitness - Scribd","htmlTitle":"Gym Mumbai | PDF | Physical Fitness - Scribd","snippet":"This document contains a list of gyms, fitness centers, and yoga studios located in Kandivali, Mumbai. There are over 50 entries listed with each business' ...","htmlSnippet":"This document contains a list of gyms, fitness centers, and yoga studios located in Kandivali, Mumbai. There are over 50 entries listed with each business' ...","link":"https://www.scribd.com/document/692387378/gym-mumbai","displayLink":"www.scribd.com"},{"title":"Don't let excuses hold you back!❌️ Step into the gym ... - Instagram","htmlTitle":"Don't let excuses hold you back!❌️ Step into the gym ... - Instagram","snippet":"Visit us: Keshav Srishti Apartment, Opp Bata Showroom, Above Bank Of India, Malad (W), Link Road, Mumbai - 400064 Contact us: 8591589967 ...","htmlSnippet":"Visit us: Keshav Srishti Apartment, Opp Bata Showroom, Above Bank Of India, Malad (W), Link Road, Mumbai - 400064 Contact us: 8591589967 ...","link":"https://www.instagram.com/jupitofitness/reel/DAVu7RTKkCw/","displayLink":"www.instagram.com"},{"title":"Your Gym in Mumbai","htmlTitle":"Your Gym in Mumbai","snippet":"Mumbai - 400095 (Maharashtra) India. Mobile Number : 22-65651555. Email : Yourgym@gmail.com. Welcome to Your Gym in Mumbai. Your Gym, conveniently located at ...","htmlSnippet":"Mumbai - 400095 (Maharashtra) India. Mobile Number : 22-65651555. Email : Yourgym@gmail.com. Welcome to Your Gym in Mumbai. Your Gym, conveniently located at ...","link":"https://mumbai.idbf.in/mumbai/545913/your-gym","displayLink":"mumbai.idbf.in"},{"title":"piyush_patel_5 and @hrishi_033 doin lunges like never ... - Instagram","htmlTitle":"piyush_patel_5 and @hrishi_033 doin lunges like never ... - Instagram","snippet":"@piyush_patel_5 and @hrishi_033 doin lunges like never before on the biggest gym track in Navi Mumbai, spanning over 80 meters.","htmlSnippet":"@piyush_patel_5 and @hrishi_033 doin lunges like never before on the biggest gym track in Navi Mumbai, spanning over 80 meters.","link":"https://www.instagram.com/shredxnavimumbai/reel/DErx_D7tUMW/","displayLink":"www.instagram.com"},{"title":"Soho House Mumbai | Members' Club & Hotel in India","htmlTitle":"Soho House Mumbai | Members' Club & Hotel in India","snippet":"Overlooking Juhu Beach, Soho House Mumbai is a place for members and guests to meet and relax. It has a rooftop pool and bar, club spaces and restaurants.","htmlSnippet":"Overlooking Juhu Beach, Soho House Mumbai is a place for members and guests to meet and relax. It has a rooftop pool and bar, club spaces and restaurants.","link":"https://www.sohohouse.com/houses/soho-house-mumbai","displayLink":"www.sohohouse.com"},{"title":"Learn, Unlearn, Relearn with Jupito   Start your journey today with ...","htmlTitle":"Learn, Unlearn, Relearn with Jupito   Start your journey today with ...","snippet":"Visit us: Keshav Srishti Apartment, Opp Bata Showroom, Above Bank Of India, Malad (W), Link Road, Mumbai - 400064 Contact us: 8591589967 ...","htmlSnippet":"Visit us: Keshav Srishti Apartment, Opp Bata Showroom, Above Bank Of India, Malad (W), Link Road, Mumbai - 400064 Contact us: 8591589967 ...","link":"https://www.instagram.com/jupitofitness/reel/DB-5o9gqGyg/","displayLink":"www.instagram.com"},{"title":"Multi Gyms || Demand Sport - World Mart Export","htmlTitle":"Multi Gyms || Demand Sport - World Mart Export","snippet":"Products Details. product image. Multi Gyms. Enquiry Now. Demand Sport. Mumbai Maharashtra India 400063 India Phone: 9820499462. Email: shivprasady22@gmail.com ...","htmlSnippet":"Products Details. product image. Multi Gyms. Enquiry Now. Demand Sport. Mumbai Maharashtra India 400063 India Phone: 9820499462. Email: shivprasady22@gmail.com ...","link":"https://www.worldmartexport.com/catalogue/demand-sport/product/multi-gyms-6/","displayLink":"www.worldmartexport.com"},{"title":"Unleash your infinite potential and transform your body and mind at ...","htmlTitle":"Unleash your infinite potential and transform your body and mind at ...","snippet":"Photo by INFINITY FITNESS GYM , GOTA on January 22, 2025. May be a. 5 ... #fitness #gym #fitnessmotivation #model #gymmotivation #mumbai.","htmlSnippet":"Photo by INFINITY FITNESS GYM , GOTA on January 22, 2025. May be a. 5 ... #fitness #gym #fitnessmotivation #model #gymmotivation #mumbai.","link":"https://www.instagram.com/gota_infinityfitnessgym/reel/Cr6EZmeojnJ/","displayLink":"www.instagram.com"},{"title":"Sheet1 - dataexport","htmlTitle":"Sheet1 - dataexport","snippet":"Mumbai. 86, Flexy Gym, J Mansur Imam, 9940573117, jimam@rediffmail.com, New No-22 College Road, Nungambakkam, Chennai. 87, Bloom Gym, Rajeev, 9917022222 ...","htmlSnippet":"Mumbai. 86, Flexy Gym, J Mansur Imam, 9940573117, jimam@rediffmail.com, New No-22 College Road, Nungambakkam, Chennai. 87, Bloom Gym, Rajeev, 9917022222 ...","link":"https://dataexport.in/wp-content/uploads/2023/12/Gymnasiums-Database-2024-Sample.xlsx?srsltid=AfmBOoq91HEgyfLiE2LwtzgXM5cIqOoyui1G3w9sXrFZhtQ6wMoPW51T","displayLink":"dataexport.in"},{"title":"Grand Hyatt Mumbai Hotel & Residences","htmlTitle":"Grand Hyatt Mumbai Hotel & Residences","snippet":"AMENITIES · Business Services · Concierge · Digital Check-In · Digital Key · Fitness Center · Free Internet Access · Free Parking · Laundry.","htmlSnippet":"AMENITIES · Business Services · Concierge · Digital Check-In · Digital Key · Fitness Center · Free Internet Access · Free Parking · Laundry.","link":"https://www.hyatt.com/grand-hyatt/en-US/mumgh-grand-hyatt-mumbai","displayLink":"www.hyatt.com"},{"title":"Munira Limbdiwala - Manager - FITWORKZ GYM | LinkedIn","htmlTitle":"Munira Limbdiwala - Manager - FITWORKZ GYM | LinkedIn","snippet":"Manager at Fitworkz Gym (Santacruz west) · Experienced Administrative with a demonstrated history of working in the health wellness and fitness industry.","htmlSnippet":"Manager at Fitworkz Gym (Santacruz west) · Experienced Administrative with a demonstrated history of working in the health wellness and fitness industry.","link":"https://in.linkedin.com/in/munira-limbdiwala-84aab893","displayLink":"in.linkedin.com"},{"title":"All Locations - Anytime Fitness","htmlTitle":"All Locations - Anytime Fitness","snippet":"Find all Anytime Fitness locations by country and state. Find all the information regarding your best gym near me.","htmlSnippet":"Find all Anytime Fitness locations by country and state. Find all the information regarding your best gym near me.","link":"https://www.anytimefitness.co.in/locations/in/uttar/","displayLink":"www.anytimefitness.co.in"},{"title":"Gym KLE Society's Law College","htmlTitle":"Gym KLE Society's Law College","snippet":"Navi Mumbai - 410218 (Maharashtra), India. +91 8097969176 · klemumbailawcollege@gmail.com. QUICK LINKS. » Home » About Us » Chairman's Message » Principals Desk","htmlSnippet":"Navi Mumbai - 410218 (Maharashtra), India. +91 8097969176 · klemumbailawcollege@gmail.com. QUICK LINKS. » Home » About Us » Chairman's Message » Principals Desk","link":"https://klecollegeoflawmumbai.edu.in/gym-2/","displayLink":"klecollegeoflawmumbai.edu.in"},{"title":"BOLLYWOOD WORKOUT BY SURESH FITNESS CENTER TEAM ...","htmlTitle":"BOLLYWOOD WORKOUT BY SURESH FITNESS CENTER TEAM ...","snippet":"Whatsapp - BOLLYWOOD WORKOUT BY SURESH FITNESS CENTER TEAM NEW MUMBAI NERUL. 22K views · 5 years ago SURESH FITNESS CENTRE ...more. Suresh ...","htmlSnippet":"Whatsapp - BOLLYWOOD WORKOUT BY SURESH FITNESS CENTER TEAM NEW MUMBAI NERUL. 22K views · 5 years ago SURESH FITNESS CENTRE ...more. Suresh ...","link":"https://www.youtube.com/watch?v=3x7RmAxdS38","displayLink":"www.youtube.com"},{"title":"facilities • gymnasium - Malabar Hill Club","htmlTitle":"facilities • gymnasium - Malabar Hill Club","snippet":"The Malabar Hill Club's modern gymnasium, staffed with experienced personal trainers, is a hub of fitness excellence. ... Mumbai-400 006 malabarhillclub@gmail.com","htmlSnippet":"The Malabar Hill Club's modern gymnasium, staffed with experienced personal trainers, is a hub of fitness excellence. ... Mumbai-400 006 malabarhillclub@gmail.com","link":"https://www.malabarhillclub.com/facilities_gym.html","displayLink":"www.malabarhillclub.com"},{"title":"APS FITNESS 22 kg Home Gym Set, 20 kg Weight Plates 2.5 kg x 8 ...","htmlTitle":"APS FITNESS 22 kg Home Gym Set, 20 kg Weight Plates 2.5 kg x 8 ...","snippet":"Amazon.in: Buy APS FITNESS 22 kg Home Gym Set, 20 kg Weight Plates 2.5 kg x 8 Plates and 2 x 13.5-inches Long Rods with 4 Metal Locks online at low price in ...","htmlSnippet":"Amazon.in: Buy APS FITNESS 22 kg Home Gym Set, 20 kg Weight Plates 2.5 kg x 8 Plates and 2 x 13.5-inches Long Rods with 4 Metal Locks online at low price in ...","link":"https://www.amazon.in/Warranty-Weight-Plates-2-5kg-13-5-inches/dp/B07DN15SR7","displayLink":"www.amazon.in"},{"title":"Google Maps","htmlTitle":"Google Maps","snippet":"Find local businesses, view maps and get driving directions in Google Maps.","htmlSnippet":"Find local businesses, view maps and get driving directions in Google Maps.","link":"https://maps.google.com/","displayLink":"maps.google.com"},{"title":"PHYSICAL EDUCATION – University of Mumbai","htmlTitle":"PHYSICAL EDUCATION – University of Mumbai","snippet":"The Department of Physical Education is established in order to create, resourceful and eminent Teachers and Masters in the field of Physical Education.","htmlSnippet":"The Department of Physical Education is established in order to create, resourceful and eminent Teachers and Masters in the field of Physical Education.","link":"https://mu.ac.in/sports/physical-education","displayLink":"mu.ac.in"},{"title":"SHREDX FYTNEST on Instagram: \"HAPPY MEMBER ...","htmlTitle":"SHREDX FYTNEST on Instagram: \"HAPPY MEMBER ...","snippet":"... gym experience, we ensure every workout counts. Join Navi Mumbai's biggest gym and be part of a community that pushes you to be your best ...","htmlSnippet":"... gym experience, we ensure every workout counts. Join Navi Mumbai's biggest gym and be part of a community that pushes you to be your best ...","link":"https://www.instagram.com/shredxnavimumbai/reel/DGA2l0VB1yc/","displayLink":"www.instagram.com"},{"title":"TALWALKARS GYM - ANDHERI - MUMBAI Reviews and Ratings","htmlTitle":"TALWALKARS GYM - ANDHERI - MUMBAI Reviews and Ratings","snippet":"Talwalkars offers training in weights, cardio vascular exercises using the treadmill etc.; coaching for floor exercises and an hour of aerobics on alternate ...","htmlSnippet":"Talwalkars offers training in weights, cardio vascular exercises using the treadmill etc.; coaching for floor exercises and an hour of aerobics on alternate ...","link":"https://m.mouthshut.com/product-reviews/Talwalkars-Gym-Andheri-Mumbai-reviews-925003794-sort-read-order-d","displayLink":"m.mouthshut.com"},{"title":"The Westin Mumbai Garden City Goregaon - Marriott","htmlTitle":"The Westin Mumbai Garden City Goregaon - Marriott","snippet":"An oasis crafted to revive your senses amidst the vibrant pulse of Mumbai. Experience sophisticated accommodations featuring floor-to-ceiling windows.","htmlSnippet":"An oasis crafted to revive your senses amidst the vibrant pulse of Mumbai. Experience sophisticated accommodations featuring floor-to-ceiling windows.","link":"https://www.marriott.com/en-us/hotels/bomwi-the-westin-mumbai-garden-city/overview/","displayLink":"www.marriott.com"},{"title":"Novotel Mumbai International Airport - ALL - Accor Group","htmlTitle":"Novotel Mumbai International Airport - ALL - Accor Group","snippet":"+91 22 6925 8888. Fax +91 22 6925 8869. Contact email. HB4C0-RE@ACCOR.com. Click ... Fitness center; Wi-Fi; Air conditioning; Breakfast; Bar; Meeting rooms; 100 ...","htmlSnippet":"+91 22 6925 8888. Fax +91 22 6925 8869. Contact email. HB4C0-RE@ACCOR.com. Click ... Fitness center; Wi-Fi; Air conditioning; Breakfast; Bar; Meeting rooms; 100 ...","link":"https://all.accor.com/hotel/B4C0/index.en.shtml","displayLink":"all.accor.com"},{"title":"MMA Champion Culture in MUMBAI ft. Chaitanya Gavali - YouTube","htmlTitle":"MMA Champion Culture in MUMBAI ft. Chaitanya Gavali - YouTube","snippet":"He is the Owner and Head Coach of Ultimate Fitness MMA Gym in Mumbai ... gmail.com Credit: Photo: Sven Mandel #MMAPodcast #DoctorPodcast ...","htmlSnippet":"He is the Owner and Head Coach of Ultimate Fitness MMA Gym in Mumbai ... gmail.com Credit: Photo: Sven Mandel #MMAPodcast #DoctorPodcast ...","link":"https://www.youtube.com/watch?v=JOeuws9AIBM","displayLink":"www.youtube.com"},{"title":"Gymnasium - Clara's College Of Education","htmlTitle":"Gymnasium - Clara's College Of Education","snippet":"Gymnasium. A healthy mind dwells in a healthy body ... Mumbai, Maharashtra - 400061. prin.claracollegeofeducation@gmail.com · +91-22 6365385 / +91-9987445379 ...","htmlSnippet":"Gymnasium. A healthy mind dwells in a healthy body ... Mumbai, Maharashtra - 400061. prin.claracollegeofeducation@gmail.com · +91-22 6365385 / +91-9987445379 ...","link":"https://www.clarascollegeofeducation.in/gym.php","displayLink":"www.clarascollegeofeducation.in"},{"title":"Brain Gym Courses - Breakthroughs International","htmlTitle":"Brain Gym Courses - Breakthroughs International","snippet":"Browse the Brain Gym Course Descriptions and find classes below. Workshops are introductory Brain Gym training sessions that are developed independently.","htmlSnippet":"Browse the Brain Gym Course Descriptions and find classes below. Workshops are introductory Brain Gym training sessions that are developed independently.","link":"https://breakthroughsinternational.org/brain-gym-courses/","displayLink":"breakthroughsinternational.org"},{"title":"Best Gym Equipment Brand in India | Gym Equipment Manufacturer","htmlTitle":"Best Gym Equipment Brand in India | Gym Equipment Manufacturer","snippet":"Our top-tier fitness equipment includes cutting-edge exercise machines, free weights, indoor cycling options, treadmills, and much more.","htmlSnippet":"Our top-tier fitness equipment includes cutting-edge exercise machines, free weights, indoor cycling options, treadmills, and much more.","link":"https://www.jeraifitness.com/","displayLink":"www.jeraifitness.com"},{"title":"Can I open a gym in the basement area? - Quora","htmlTitle":"Can I open a gym in the basement area? - Quora","snippet":"Yes but you will have to focus on ventilation, space and marketing. Customised marketing plan will be required for your business.","htmlSnippet":"Yes but you will have to focus on ventilation, space and marketing. Customised marketing plan will be required for your business.","link":"https://www.quora.com/Can-I-open-a-gym-in-the-basement-area","displayLink":"www.quora.com"},{"title":"Architect List - PCMC","htmlTitle":"Architect List - PCMC","snippet":"yojanaarch@gmail.com. 41. PCMC/ARC/0202/2017. YOGENDRA GOPAL. CHINCHWADE. 342, WALHEKAR WADI ROAD ,. CHINCHWAD PUNE - 411033. 9860076278 ychinchawade@gmail. com.","htmlSnippet":"yojanaarch@gmail.com. 41. PCMC/ARC/0202/2017. YOGENDRA GOPAL. CHINCHWADE. 342, WALHEKAR WADI ROAD ,. CHINCHWAD PUNE - 411033. 9860076278 ychinchawade@gmail. com.","link":"https://www.pcmcindia.gov.in/marathi/pdf/R_publication/Lice_Architect%20List.pdf","displayLink":"www.pcmcindia.gov.in"},{"title":"List of Architect/Licence Engineer/Structural Engineer/Supervisor 1 ...","htmlTitle":"List of Architect/Licence Engineer/Structural Engineer/Supervisor 1 ...","snippet":"4,dattaprasad,1206B/7 jm road archvaidya@gmail.com. 9890047993 Architect. 828 S VARTAK. 9822532013 Architect. 829 SHASHANK J VAIDYA. 919850058038 Architect.","htmlSnippet":"4,dattaprasad,1206B/7 jm road archvaidya@gmail.com. 9890047993 Architect. 828 S VARTAK. 9822532013 Architect. 829 SHASHANK J VAIDYA. 919850058038 Architect.","link":"https://autodcr.pmc.gov.in/SWC.Client/Downloads/Architect%20List.pdf","displayLink":"autodcr.pmc.gov.in"},{"title":"Best Gym In Mumbai | Mr. Yash Birla","htmlTitle":"Best Gym In Mumbai | Mr. Yash Birla","snippet":"Yash Birla's Pump Gym emerges as the premier gym in Mumbai by offering unparalleled facilities, holistic wellness services, convenient accessibility, and a ...","htmlSnippet":"Yash Birla's Pump Gym emerges as the premier gym in Mumbai by offering unparalleled facilities, holistic wellness services, convenient accessibility, and a ...","link":"https://yashbirla.in/best-gym-in-mumbai/","displayLink":"yashbirla.in"},{"title":"Demand for gyms and yoga classes rise by 234%: Just Dial ...","htmlTitle":"Demand for gyms and yoga classes rise by 234%: Just Dial ...","snippet":"Gyms dominated the searches on Just Dial for fitness training, contributing to almost 62% of the total searches during the AMJ'22 quarter.","htmlSnippet":"Gyms dominated the searches on Just Dial for fitness training, contributing to almost 62% of the total searches during the AMJ'22 quarter.","link":"https://www.passionateinmarketing.com/normalisation-and-withdrawal-of-covid-restrictions-signal-a-bumper-business-revival-for-indias-fitness-training-industry-demand-for-gyms-and-yoga-classes-rise-by-234-just-dial-consumer-insi/","displayLink":"www.passionateinmarketing.com"},{"title":"Curiosity Gym: Home","htmlTitle":"Curiosity Gym: Home","snippet":"Linkedin Facebook Instagram Youtube Twitter ... Contact Us. explore@curiositygym.com; +91 9326620374; 22, Sujata, Little Gibbs Road, Malabar Hill, Mumbai 400006.","htmlSnippet":"Linkedin Facebook Instagram Youtube Twitter ... Contact Us. explore@curiositygym.com; +91 9326620374; 22, Sujata, Little Gibbs Road, Malabar Hill, Mumbai 400006.","link":"https://curiositygym.com/","displayLink":"curiositygym.com"},{"title":"Performance and Fitness Center. - Planet Muscle","htmlTitle":"Performance and Fitness Center. - Planet Muscle","snippet":"From well-equipped gyms ... Near Station, Lohona Colony , Andheri West, Mumbai - 400053; planetMusclepmfc@gmail.com; +91 9137829886; 07:00 - 22:00 Everyday ...","htmlSnippet":"From well-equipped gyms ... Near Station, Lohona Colony , Andheri West, Mumbai - 400053; planetMusclepmfc@gmail.com; +91 9137829886; 07:00 - 22:00 Everyday ...","link":"https://www.planetmuscle.fit/aboutUs","displayLink":"www.planetmuscle.fit"},{"title":"health spa clinics fitness centers in mumbai aerobic class yoga ...","htmlTitle":"health spa clinics fitness centers in mumbai aerobic class yoga ...","snippet":"health spa clinics fitness centers in mumbai aerobic class yoga gymnasium gym in mumbai wellness club chembur andheri bandra dadar colaba thane borivali ...","htmlSnippet":"health spa clinics fitness centers in mumbai aerobic class yoga gymnasium gym in mumbai wellness club chembur andheri bandra dadar colaba thane borivali ...","link":"https://www.topmumbai.com/classihealth.htm","displayLink":"www.topmumbai.com"},{"title":"InterContinental Marine Drive-Mumbai | Luxury Hotel In Mumbai - IHG","htmlTitle":"InterContinental Marine Drive-Mumbai | Luxury Hotel In Mumbai - IHG","snippet":"Fitness center. On-site parking. Pool. 3 On-site restaurants. Wi-Fi ... Front desk: 91-22-66399999. Email: info@intercontinentalmumbai.com. 135 Marine ...","htmlSnippet":"Fitness center. On-site parking. Pool. 3 On-site restaurants. Wi-Fi ... Front desk: 91-22-66399999. Email: info@intercontinentalmumbai.com. 135 Marine ...","link":"https://www.ihg.com/intercontinental/hotels/us/en/mumbai/bomhb/hoteldetail","displayLink":"www.ihg.com"},{"title":"Gym Bags || Demand Sport - World Mart Export","htmlTitle":"Gym Bags || Demand Sport - World Mart Export","snippet":"Products Details. product image. Gym Bags. Enquiry Now. Demand Sport. Mumbai Maharashtra India 400063 India Phone: 9820499462. Email: shivprasady22@gmail.com ...","htmlSnippet":"Products Details. product image. Gym Bags. Enquiry Now. Demand Sport. Mumbai Maharashtra India 400063 India Phone: 9820499462. Email: shivprasady22@gmail.com ...","link":"https://www.worldmartexport.com/catalogue/demand-sport/product/gym-bags-7/","displayLink":"www.worldmartexport.com"},{"title":"List of Gyms and Fitness Centers in Panvel - PanvelOnline.in","htmlTitle":"List of Gyms and Fitness Centers in Panvel - PanvelOnline.in","snippet":"List of Gyms and Fitness Centers in Panvel. In Shape Gym Address: Kalpataru Arcade Shop No 18/19, Sector No 4. Above Dominos Pizza, New Panvel, Navi Mumbai – ...","htmlSnippet":"List of Gyms and Fitness Centers in Panvel. In Shape Gym Address: Kalpataru Arcade Shop No 18/19, Sector No 4. Above Dominos Pizza, New Panvel, Navi Mumbai – ...","link":"https://www.panvelonline.in/guide/gyms-in-panvel","displayLink":"www.panvelonline.in"},{"title":"Gym & Matrix Fight Night Owner Krishna Shroff visit to Punjab","htmlTitle":"Gym & Matrix Fight Night Owner Krishna Shroff visit to Punjab","snippet":"Mumbai. 22nd Feb 2023 Youth Icon Krishna Shroff To Visit MMA Matrix Gyms At Ludhiana & Jalandhar For Krishna Shroff, fitness is in her core.","htmlSnippet":"Mumbai. 22nd Feb 2023 Youth Icon Krishna Shroff To Visit MMA Matrix Gyms At Ludhiana & Jalandhar For Krishna Shroff, fitness is in her core.","link":"https://worldpress24x7.wordpress.com/2023/02/22/gym-matrix-fight-night-owner-krishna-shroff-visit-to-punjab/","displayLink":"worldpress24x7.wordpress.com"},{"title":"Luxury Service Apartments in Mumbai | Corporate Stay at Lalco ...","htmlTitle":"Luxury Service Apartments in Mumbai | Corporate Stay at Lalco ...","snippet":"... 22 Feb 2025. Room. Room. Guest(s). - +. Add another room. Promo Code. Search. Hotels ... Stay fit and healthy during your stay with the latest gym, squash court, ...","htmlSnippet":"... 22 Feb 2025. Room. Room. Guest(s). - +. Add another room. Promo Code. Search. Hotels ... Stay fit and healthy during your stay with the latest gym, squash court, ...","link":"https://www.lalcoresidency.com/","displayLink":"www.lalcoresidency.com"},{"title":"Gym Equipment Online Shopping | Fitness Equipment Online | Aerofit","htmlTitle":"Gym Equipment Online Shopping | Fitness Equipment Online | Aerofit","snippet":"Buy the best quality fitness equipment and exercise machines including motorized treadmill, flat bench, etc. online from Aerofit.","htmlSnippet":"Buy the best quality fitness equipment and exercise machines including motorized treadmill, flat bench, etc. online from Aerofit.","link":"https://aerofit.co/shop/?pa-equipments_cat=26&pa-product_cat=22&srsltid=AfmBOooV-po4zYp9LNfXV8q4yJrDFo8cX_oA_aUSzLgb8Ti3Fx2pOVhL","displayLink":"aerofit.co"},{"title":"Kadam Fitness | Best Gym in Navi Mumbai - UzonMart","htmlTitle":"Kadam Fitness | Best Gym in Navi Mumbai - UzonMart","snippet":"Plot no 22, Pradirgh Complex, Vijay Marg, beside Neel Clinic, Sector-1, New Panvel East, Panvel, Navi Mumbai, Maharashtra 410206.","htmlSnippet":"Plot no 22, Pradirgh Complex, Vijay Marg, beside Neel Clinic, Sector-1, New Panvel East, Panvel, Navi Mumbai, Maharashtra 410206.","link":"https://uzonmart.com/umb/kadamfitness","displayLink":"uzonmart.com"},{"title":"Contacts - Bodysculptor","htmlTitle":"Contacts - Bodysculptor","snippet":"CONTACT US. Join the BodySculptor. Community. When you choose BodySculptor by Prashant Sawant, you're not just joining a gym; you're joining a supportive ...","htmlSnippet":"CONTACT US. Join the BodySculptor. Community. When you choose BodySculptor by Prashant Sawant, you're not just joining a gym; you're joining a supportive ...","link":"https://www.bodysculptor.in/contacts.html","displayLink":"www.bodysculptor.in"},{"title":"A nail-biting journey, an incredible victory, and a moment we'll never ...","htmlTitle":"A nail-biting journey, an incredible victory, and a moment we'll never ...","snippet":"... Mumbai - 400064 Contact us: 8591589967 Email: jupitofitness@gmail ... Photo shared by Gym | Cardio | CrossFit | Fitness Centre on July 11, 2024.","htmlSnippet":"... Mumbai - 400064 Contact us: 8591589967 Email: jupitofitness@gmail ... Photo shared by Gym | Cardio | CrossFit | Fitness Centre on July 11, 2024.","link":"https://www.instagram.com/jupitofitness/reel/DFaNGcVKzKw/","displayLink":"www.instagram.com"},{"title":"Novotel Mumbai Juhu Beach | Located on Beach near Airport - Accor","htmlTitle":"Novotel Mumbai Juhu Beach | Located on Beach near Airport - Accor","snippet":"+91 22 6693 4444. Fax +91 22 6693 4455. Contact email h6926-re@accor ... Fitness center; Wi-Fi; Air conditioning; Breakfast; Bar; Meeting ...","htmlSnippet":"+91 22 6693 4444. Fax +91 22 6693 4455. Contact email h6926-re@accor ... Fitness center; Wi-Fi; Air conditioning; Breakfast; Bar; Meeting ...","link":"https://all.accor.com/hotel/6926/index.en.shtml","displayLink":"all.accor.com"},{"title":"SUPERHUMAN GYM LLP | ZaubaCorp","htmlTitle":"SUPERHUMAN GYM LLP | ZaubaCorp","snippet":"SUPERHUMAN GYM is a 9 year old company with registered office in Mumbai Suburban, Maharashtra ... 22 Dec 2016. It is registered at ...","htmlSnippet":"SUPERHUMAN GYM is a 9 year old company with registered office in Mumbai Suburban, Maharashtra ... 22 Dec 2016. It is registered at ...","link":"https://www.zaubacorp.com/company/SUPERHUMAN-GYM-LLP/AAG-9875","displayLink":"www.zaubacorp.com"},{"title":"Top 100 Indian Fitness Influencers in 2025","htmlTitle":"Top 100 Indian Fitness Influencers in 2025","snippet":"... thepilatesstudiomumbai | Equestrian#KISSS ****@gratitudecompany.inInstagram Handle ... Bio Miss India Fitness'22(1stRunnerUp)✨Trained 5000 ...","htmlSnippet":"... thepilatesstudiomumbai | Equestrian#KISSS ****@gratitudecompany.inInstagram Handle ... Bio Miss India Fitness'22(1stRunnerUp)✨Trained 5000 ...","link":"https://influencers.feedspot.com/indian_fitness_instagram_influencers/","displayLink":"influencers.feedspot.com"},{"title":"colle - Guru Nanak College of Arts Science and Commerce","htmlTitle":"colle - Guru Nanak College of Arts Science and Commerce","snippet":"Our college is extending the facility of gym for the mental and physical fitness of students. Students who wish to join Gym may contact. Prof. Sangam Koli.","htmlSnippet":"Our college is extending the facility of gym for the mental and physical fitness of students. Students who wish to join Gym may contact. Prof. Sangam Koli.","link":"https://www.gurunanakcollegeasc.in/wp-content/uploads/2023/02/GNC_SSR-2023_5.1.2-LS-D-50-P-11-2017-18-GYM-ACTIVITIES.pdf","displayLink":"www.gurunanakcollegeasc.in"},{"title":"Buy FACTO 22 L Gym Duffel Bag - Blue Online at Best Prices in India","htmlTitle":"Buy FACTO 22 L Gym Duffel Bag - Blue Online at Best Prices in India","snippet":"Buy FACTO 22 L Gym Duffel Bag - boys and girl collage bag school bag backpack - Blue online. Shop from our wide range of items in Home & Lifestyle at ...","htmlSnippet":"Buy FACTO 22 L Gym Duffel Bag - boys and girl collage bag school bag backpack - Blue online. Shop from our wide range of items in Home & Lifestyle at ...","link":"https://www.jiomart.com/p/homeandkitchen/facto-22-l-gym-duffel-bag-boys-and-girl-collage-bag-school-bag-backpack-blue/599661427","displayLink":"www.jiomart.com"},{"title":"Rohit Malik - Fitness Trainer - Gold's Gym | LinkedIn","htmlTitle":"Rohit Malik - Fitness Trainer - Gold's Gym | LinkedIn","snippet":"Fitness Trainer at Gold's Gym · Experience: Gold's Gym · Location: 110054. View Rohit Malik's profile on LinkedIn, a professional community of 1 billion ...","htmlSnippet":"Fitness Trainer at Gold's Gym · Experience: Gold's Gym · Location: 110054. View Rohit Malik's profile on LinkedIn, a professional community of 1 billion ...","link":"https://in.linkedin.com/in/rohit-malik-8564631b6","displayLink":"in.linkedin.com"},{"title":"Best Gym & Fitness Centre in Mumbai | AK Fitness Centre and ...","htmlTitle":"Best Gym & Fitness Centre in Mumbai | AK Fitness Centre and ...","snippet":"Transform your fitness journey with AK Fitness Centre & Family Club – Mumbai's ultimate fitness destination with top-tier equipment, expert trainers, and ...","htmlSnippet":"Transform your fitness journey with AK Fitness Centre & Family Club – Mumbai's ultimate fitness destination with top-tier equipment, expert trainers, and ...","link":"https://akfitnesscentrenfamilyclub.com/","displayLink":"akfitnesscentrenfamilyclub.com"},{"title":"Top 10 Indoor play area in Mumbai India - Angel playground","htmlTitle":"Top 10 Indoor play area in Mumbai India - Angel playground","snippet":"07,Yaya Playzone. Address: Plot No. 22, Kavrana Estate, Bhai, Balmukund Marg ... gmail.comSitemap Tel:0086-577-68666993 Mobile: +8613968964515 (Wechat ...","htmlSnippet":"07,Yaya Playzone. Address: Plot No. 22, Kavrana Estate, Bhai, Balmukund Marg ... gmail.comSitemap Tel:0086-577-68666993 Mobile: +8613968964515 (Wechat ...","link":"https://www.angelplayground.com/top-indoor-play-area-mumbai-india-a-725.html?srsltid=AfmBOoqF9EfAdHA9tXLUkOYGo55wklL3QV2KpplKLJCUzMFWtn25DZr8","displayLink":"www.angelplayground.com"},{"title":"India's Best Brand - Zone 360 Vashi Mumbai by Nitrro Bespoke Fitness","htmlTitle":"India's Best Brand - Zone 360 Vashi Mumbai by Nitrro Bespoke Fitness","snippet":"gymtour #zone360 #bestbrand Akhil Sachar I am an award winning Gym Blogger, Consultant, Journalist who have covered, reviewed, done workout ...","htmlSnippet":"gymtour #zone360 #bestbrand Akhil Sachar I am an award winning Gym Blogger, Consultant, Journalist who have covered, reviewed, done workout ...","link":"https://www.youtube.com/watch?v=MqPj1ocZpd0&pp=ygULI2xlaXpvbmUzNjA%3D","displayLink":"www.youtube.com"},{"title":"hrfitnesscrossfitgym.com","htmlTitle":"hrfitnesscrossfitgym.com","snippet":"HR CROSSFIT Gym is a startup locally owned gym located in Mulund Colony , Mumbai. HR CROSSFIT Gym will include various exercise equipment, strength training ...","htmlSnippet":"HR CROSSFIT Gym is a startup locally owned gym located in Mulund Colony , Mumbai. HR CROSSFIT Gym will include various exercise equipment, strength training ...","link":"https://hrfitnesscrossfitgym.com/","displayLink":"hrfitnesscrossfitgym.com"},{"title":"Nerul Gymkhana in Nerul,Mumbai","htmlTitle":"Nerul Gymkhana in Nerul,Mumbai","snippet":"21st & 22nd December 2024 (Saturday & Sunday). Time: 11:30 AM – 10:00 PM. Venue: Nerul Gymkhana Lawns, off Palm Beach Road, Navi Mumbai. Sports. Cricket Academy ...","htmlSnippet":"21st & 22nd December 2024 (Saturday & Sunday). Time: 11:30 AM – 10:00 PM. Venue: Nerul Gymkhana Lawns, off Palm Beach Road, Navi Mumbai. Sports. Cricket Academy ...","link":"https://nerulgymkhana.com/","displayLink":"nerulgymkhana.com"},{"title":"Occupational Therapy - KING EDWARD MEMORIAL ... - KEM Hospital","htmlTitle":"Occupational Therapy - KING EDWARD MEMORIAL ... - KEM Hospital","snippet":"First Floor Multi storeyed building Seth GS Medical College & KEM Hospital Mumbai 400012! Background History. Occupational Therapy is the use of purposeful ...","htmlSnippet":"First Floor Multi storeyed building Seth GS Medical College & KEM Hospital Mumbai 400012! Background History. Occupational Therapy is the use of purposeful ...","link":"https://www.kem.edu/occupational-therapy","displayLink":"www.kem.edu"},{"title":"Best 4-Star Hotel in South Mumbai | West End Hotel | Near Bombay ...","htmlTitle":"Best 4-Star Hotel in South Mumbai | West End Hotel | Near Bombay ...","snippet":"The Best 4-star Heritage Boutique Hotel located at Marine Lines next to Bombay Hospital. The Hotel has 80 various types of suite rooms, Banquet Halls, ...","htmlSnippet":"The Best 4-star Heritage Boutique Hotel located at Marine Lines next to Bombay Hospital. The Hotel has 80 various types of suite rooms, Banquet Halls, ...","link":"http://www.westendhotelmumbai.com/","displayLink":"www.westendhotelmumbai.com"},{"title":"Other Countries | Dynamic Movement Intervention","htmlTitle":"Other Countries | Dynamic Movement Intervention","snippet":"REGISTERED PRACTITIONERS - INDIA · Dr. Yatisha Kesalikar (BPT) · Introductory Level B · Drishti physiotherapy clinic - Borivali · Mumbai, Maharashtra India.","htmlSnippet":"REGISTERED PRACTITIONERS - INDIA · Dr. Yatisha Kesalikar (BPT) · Introductory Level B · Drishti physiotherapy clinic - Borivali · Mumbai, Maharashtra India.","link":"https://dmitherapy.com/other-countries/","displayLink":"dmitherapy.com"},{"title":"Yuvas Fitness Center Virar East – SceneLoc8","htmlTitle":"Yuvas Fitness Center Virar East – SceneLoc8","snippet":"... Yuvas Fitness Center Virar East · Mumbai · Photography Shoot Music Videos Vlogging ... 22:00. Tuesday: 05:00 - 09:00 - 17:00 - 22:00.","htmlSnippet":"... Yuvas Fitness Center Virar East · Mumbai · Photography Shoot Music Videos Vlogging ... 22:00. Tuesday: 05:00 - 09:00 - 17:00 - 22:00.","link":"https://sceneloc8.com/location/yuvas-fitness-center/","displayLink":"sceneloc8.com"},{"title":"Gym - ASMC | Anushaktinagar Sports Management Committee","htmlTitle":"Gym - ASMC | Anushaktinagar Sports Management Committee","snippet":"Gym · Gents Gym Batches: · Morning: 05:30 – 07:45 · Evening: 20:30 – 22:00 · Ladies Gym Batches: · Morning: 09:15 – 11:30 · Evening: 16:00 – 19:00.","htmlSnippet":"Gym · Gents Gym Batches: · Morning: 05:30 – 07:45 · Evening: 20:30 – 22:00 · Ladies Gym Batches: · Morning: 09:15 – 11:30 · Evening: 16:00 – 19:00.","link":"https://asmcdae.in/facilities/sports-booking/99001","displayLink":"asmcdae.in"},{"title":"Buy GYM INSANE GYM HERO 22 L Duffle Bag Sports Travel Bag ...","htmlTitle":"Buy GYM INSANE GYM HERO 22 L Duffle Bag Sports Travel Bag ...","snippet":"Buy GYM INSANE GYM HERO 22 L Duffle Bag Sports Travel Bag with Shoe Compartment Waterproof Workout Unisex Gym Bag with Adjustable Strap Training Tote for ...","htmlSnippet":"Buy GYM INSANE GYM HERO 22 L Duffle Bag Sports Travel Bag with Shoe Compartment Waterproof Workout Unisex Gym Bag with Adjustable Strap Training Tote for ...","link":"https://www.amazon.in/Dumbbell-Strength-Training-Exercise-Equipment/dp/B089NWGPGJ","displayLink":"www.amazon.in"},{"title":"Page 35 - Property near Gym & Tonic - Nutrition And Fitness Centre ...","htmlTitle":"Page 35 - Property near Gym & Tonic - Nutrition And Fitness Centre ...","snippet":"Page 35 - Property near Gym & Tonic - Nutrition And Fitness Centre, Andheri West, Mumbai ... ritadasmittal@gmail.com. Floor : 4 out of 7 ... Posted: Nov 22, '24.","htmlSnippet":"Page 35 - Property near Gym & Tonic - Nutrition And Fitness Centre, Andheri West, Mumbai ... ritadasmittal@gmail.com. Floor : 4 out of 7 ... Posted: Nov 22, '24.","link":"https://www.magicbricks.com/property-near-gym-and-tonic-nutrition-and-fitness-centre-andheri-west-mumbai-pppfs/page-35","displayLink":"www.magicbricks.com"},{"title":"Gay Cruising Spot in Mumbai - Any experiences in the gym?","htmlTitle":"Gay Cruising Spot in Mumbai - Any experiences in the gym?","snippet":"Any experiences in the gym? ; No Picture. YourBro, Posted On Jan 20, 2025 way to fitness lalbaug legit has a lot of bottoms.Being a top i got ...","htmlSnippet":"Any experiences in the gym? ; No Picture. YourBro, Posted On Jan 20, 2025 way to fitness lalbaug legit has a lot of bottoms.Being a top i got ...","link":"https://www.ohmojo.com/cruisingspot.aspx?cruisingspotid=10317","displayLink":"www.ohmojo.com"},{"title":"Hey evening ⚜️⚜️ #mumbai #plussize #event #bikinilife ...","htmlTitle":"Hey evening ⚜️⚜️ #mumbai #plussize #event #bikinilife ...","snippet":"Dheexa||Plussize enthusiast (@deexajag). 12 Replies. 166 Likes. Hey evening ⚜️⚜️ #mumbai #plussize #event #bikinilife #beachlife #gymgirl #gym ...","htmlSnippet":"Dheexa||Plussize enthusiast (@deexajag). 12 Replies. 166 Likes. Hey evening ⚜️⚜️ #mumbai #plussize #event #bikinilife #beachlife #gymgirl #gym ...","link":"https://www.threads.net/@deexajag/post/DCy-6yIyvYe","displayLink":"www.threads.net"},{"title":"Frequently Asked Questions (FAQ's) | Careers at Disney Cruise Line","htmlTitle":"Frequently Asked Questions (FAQ's) | Careers at Disney Cruise Line","snippet":"LTD. 5, Queens Mansion, 1st Floor 44 A.K. Nayak Marg Fort, Mumbai 400 001. Phone: (91 22) 4036 2100. Email: dcl@airbornerecruiting.com. Website: www ...","htmlSnippet":"LTD. 5, Queens Mansion, 1st Floor 44 A.K. Nayak Marg Fort, Mumbai 400 001. Phone: (91 22) 4036 2100. Email: dcl@airbornerecruiting.com. Website: www ...","link":"https://jobs.disneycareers.com/dcl-faq","displayLink":"jobs.disneycareers.com"},{"title":"How do you get your company to pay for your gym membership ...","htmlTitle":"How do you get your company to pay for your gym membership ...","snippet":"... gmail.com @Private Jets Business @Private Jets Business @Private Jets Business ENGINES, APU & AIRFRAME CFM56-7B27/3B3 Engines Both Engines ...","htmlSnippet":"... gmail.com @Private Jets Business @Private Jets Business @Private Jets Business ENGINES, APU & AIRFRAME CFM56-7B27/3B3 Engines Both Engines ...","link":"https://www.tiktok.com/@boardroomconfidential/video/7423805088117886214","displayLink":"www.tiktok.com"},{"title":"Physique 57 India | Barre Studios","htmlTitle":"Physique 57 India | Barre Studios","snippet":"Physique 57 offers India's first barre-based workout, designed to target full-body muscle endurance in every class. For fitness novices and professional ...","htmlSnippet":"Physique 57 offers India's first barre-based workout, designed to target full-body muscle endurance in every class. For fitness novices and professional ...","link":"https://physique57india.com/","displayLink":"physique57india.com"},{"title":"PWG GYMS INTERNATIONAL PRIVATE LIMITED - ClearTax","htmlTitle":"PWG GYMS INTERNATIONAL PRIVATE LIMITED - ClearTax","snippet":"... gmail.com or visit them at their registered address PWG GYMS ... PLOT22,MAHALAXMI CHAMBERS 400026 CUMBALLA HILL, MUMBAI-Mumbai City. PWG GYMS ...","htmlSnippet":"... gmail.com or visit them at their registered address PWG GYMS ... PLOT22,MAHALAXMI CHAMBERS 400026 CUMBALLA HILL, MUMBAI-Mumbai City. PWG GYMS ...","link":"https://cleartax.in/f/company/pwg-gyms-international-private-limited/U74999MH2019PTC318952/","displayLink":"cleartax.in"},{"title":"Mumbai, India, Luxury Hotel | The St. Regis Mumbai - Marriott","htmlTitle":"Mumbai, India, Luxury Hotel | The St. Regis Mumbai - Marriott","snippet":"Nestled within the High Street Phoenix in Lower Parel, our hotel is just steps away from premium shopping & entertainment and major commercial business ...","htmlSnippet":"Nestled within the High Street Phoenix in Lower Parel, our hotel is just steps away from premium shopping & entertainment and major commercial business ...","link":"https://www.marriott.com/en-us/hotels/bomxr-the-st-regis-mumbai/overview/","displayLink":"www.marriott.com"},{"title":"University of Mumbai – English","htmlTitle":"University of Mumbai – English","snippet":"CIRCULAR - Instruction for filling Performance Appraisal Report (PAR) for Academic Sessions 2021-22 & 2022-23. ... Gym Khana. Hostels. Hostel. Girls Hostel ...","htmlSnippet":"CIRCULAR - Instruction for filling Performance Appraisal Report (PAR) for Academic Sessions 2021-22 & 2022-23. ... Gym Khana. Hostels. Hostel. Girls Hostel ...","link":"https://mu.ac.in/","displayLink":"mu.ac.in"},{"title":"Reebok® Official Site | Life is Not a Spectator Sport","htmlTitle":"Reebok® Official Site | Life is Not a Spectator Sport","snippet":"Discover Reebok's iconic athletic shoes, apparel, and gear designed for performance, style, and comfort. Sign up for 15% off your first order, early access ...","htmlSnippet":"Discover Reebok's iconic athletic shoes, apparel, and gear designed for performance, style, and comfort. Sign up for 15% off your first order, early access ...","link":"https://www.reebok.com/?srsltid=AfmBOoqS7hn6O0sV1_Wr0sBb2jUJsFpmntJUvYHVgl9phIQfRq20S_G7","displayLink":"www.reebok.com"},{"title":"Facilities -MHCL - Malabar Hill Club","htmlTitle":"Facilities -MHCL - Malabar Hill Club","snippet":"The Malabar Hill Club offers a wide array of top-notch facilities, including a well-equipped gym ... Mumbai-400 006 malabarhillclub@gmail.com +91 22 23631636","htmlSnippet":"The Malabar Hill Club offers a wide array of top-notch facilities, including a well-equipped gym ... Mumbai-400 006 malabarhillclub@gmail.com +91 22 23631636","link":"https://malabarhillclub.com/facilities.html","displayLink":"malabarhillclub.com"},{"title":"Fitness Equipment Manufacturers in Mumbai Archives - Mahaveer ...","htmlTitle":"Fitness Equipment Manufacturers in Mumbai Archives - Mahaveer ...","snippet":"Post published:October 22, 2024; Post category:india; Post comments:0 Comments. Mahaveer Gym Industry: Your Destination for the Best Gym Equipment in Odisha In ...","htmlSnippet":"Post published:October 22, 2024; Post category:india; Post comments:0 Comments. Mahaveer Gym Industry: Your Destination for the Best Gym Equipment in Odisha In ...","link":"https://blog.mahaveergymindustry.com/tag/fitness-equipment-manufacturers-in-mumbai/","displayLink":"blog.mahaveergymindustry.com"},{"title":"Buy Body Maxx 22 Kg Combo Home Gym Lifeline Fitness Kit Bml22 ...","htmlTitle":"Buy Body Maxx 22 Kg Combo Home Gym Lifeline Fitness Kit Bml22 ...","snippet":"FRIENDS TRADING COMPANY · FRIENDS TRADING COMPANY D-19 SPORTS AND SURGICAL COMPLEX NEAR BASTI BAWA KHEL JALANDHAR -144002 PUNJAB · FRIENDSSALES171@GMAIL.COM · WWW.","htmlSnippet":"FRIENDS TRADING COMPANY · FRIENDS TRADING COMPANY D-19 SPORTS AND SURGICAL COMPLEX NEAR BASTI BAWA KHEL JALANDHAR -144002 PUNJAB · FRIENDSSALES171@GMAIL.COM · WWW.","link":"https://www.jiomart.com/p/homeandkitchen/body-maxx-22-kg-combo-home-gym-lifeline-fitness-kit-bml22/598176960","displayLink":"www.jiomart.com"},{"title":"F360 GYM LLP | ZaubaCorp","htmlTitle":"F360 GYM LLP | ZaubaCorp","snippet":"F360 GYM is a 9 year old company with registered office in Mumbai, Maharashtra ... PLOT 22 22A, FLOOR G, BPT PLOT, MAGAZINE STREET ...","htmlSnippet":"F360 GYM is a 9 year old company with registered office in Mumbai, Maharashtra ... PLOT 22 22A, FLOOR G, BPT PLOT, MAGAZINE STREET ...","link":"https://www.zaubacorp.com/company/F360-GYM-LLP/AAH-7095","displayLink":"www.zaubacorp.com"},{"title":"JORDAN MIDS - Sneaker Cafe Mumbai","htmlTitle":"JORDAN MIDS - Sneaker Cafe Mumbai","snippet":"22 products. Patent Black Mid Aj1. Sale. Patent Black Mid ... gmail.com. Phone: +91 84548 80666. Subscribe to our emails. Email. Facebook ...","htmlSnippet":"22 products. Patent Black Mid Aj1. Sale. Patent Black Mid ... gmail.com. Phone: +91 84548 80666. Subscribe to our emails. Email. Facebook ...","link":"https://www.sneakercafemumbai.com/collections/jordan-mids?srsltid=AfmBOorDZvfF8vK3Ghbxd_OGKeTTae5MfJtjH4AnZxIiPBkpHsLegT0-","displayLink":"www.sneakercafemumbai.com"},{"title":"Shiv Gym | Electric Food Grinder - MYTAT","htmlTitle":"Shiv Gym | Electric Food Grinder - MYTAT","snippet":"Manmeetsingh12940@gmail.com ... If you wish to engage with Udama Industries India Private Limited in Mumbai, Maharashtra, their location is Flat No. 22, 1st Floor ...","htmlSnippet":"Manmeetsingh12940@gmail.com ... If you wish to engage with Udama Industries India Private Limited in Mumbai, Maharashtra, their location is Flat No. 22, 1st Floor ...","link":"https://mytat.co/mart-details/electric-food-grinder/shiv-gym-2058786","displayLink":"mytat.co"},{"title":"Fitness Centers 285 | PDF | Wellness - Scribd","htmlTitle":"Fitness Centers 285 | PDF | Wellness - Scribd","snippet":"Pure Energy The Fitness Gym Mumbai 400001. Proline Fitness Mumbai 400091 ... nghcjaipur@gmail.com www.nghc2.com Fitness Trainers & Consultants Fitness ...","htmlSnippet":"Pure Energy The Fitness Gym Mumbai 400001. Proline Fitness Mumbai 400091 ... nghcjaipur@gmail.com www.nghc2.com Fitness Trainers & Consultants Fitness ...","link":"https://www.scribd.com/document/786787120/Fitness-Centers-285","displayLink":"www.scribd.com"},{"title":"Deadlift PR With New Dunks | New Gym | Mumbai Vlog ! - YouTube","htmlTitle":"Deadlift PR With New Dunks | New Gym | Mumbai Vlog ! - YouTube","snippet":"thanks for watching ❤️ ​⁠ My Instagram : https://instagram.com/tamangsobit_14 For collab or promotions: sobitvlogs@gmail.com #sobittamang ...","htmlSnippet":"thanks for watching ❤️ ​⁠ My Instagram : https://instagram.com/tamangsobit_14 For collab or promotions: sobitvlogs@gmail.com #sobittamang ...","link":"https://www.youtube.com/watch?v=maOElvSjzQk","displayLink":"www.youtube.com"},{"title":"Find Doctors, Diagnostic Labs, Gyms, Spas & Salons - Practo","htmlTitle":"Find Doctors, Diagnostic Labs, Gyms, Spas & Salons - Practo","snippet":"jaydeep.deshpande@gmail.com (verified). 22 days ago. Visited for Ulcerative Colitis. I recommend this doctor! Happy with: Doctor friendlinessExplanation of the ...","htmlSnippet":"jaydeep.deshpande@gmail.com (verified). 22 days ago. Visited for Ulcerative Colitis. I recommend this doctor! Happy with: Doctor friendlinessExplanation of the ...","link":"https://www.practo.com/mumbai/doctor/dr-nitin-aherrao-gastroenterologist/recommended?practice_id=1269578&specialization=Nonalcoholic%20Fatty%20Liver%20Disease&referrer=doctor_listing&page_uid=7807ebdf-c9f2-49ee-be6a-6b72e36a874c&category_name=symptom&category_id=611","displayLink":"www.practo.com"},{"title":"Sykz Gym / Simca fitness on Instagram","htmlTitle":"Sykz Gym / Simca fitness on Instagram","snippet":"16 likes, 0 comments - sykz_gym on November 22, 2023: \"#lokhandwala #mumbai #andheri #andheriwest #bandra #juhu #malad #lokhandwalamarket ...","htmlSnippet":"16 likes, 0 comments - sykz_gym on November 22, 2023: \"#lokhandwala #mumbai #andheri #andheriwest #bandra #juhu #malad #lokhandwalamarket ...","link":"https://www.instagram.com/sykz_gym/reel/Cz8zA_ESoP3/","displayLink":"www.instagram.com"},{"title":"mma matrix gym private limited / u86900mh2025ptc438654","htmlTitle":"mma matrix gym private limited / u86900mh2025ptc438654","snippet":"MMA MATRIX GYM PRIVATE LIMITED having CIN U86900MH2025PTC438654 is 17 days old Private company incorporated with MCA on 22 nd January, 2025.","htmlSnippet":"MMA MATRIX GYM PRIVATE LIMITED having CIN U86900MH2025PTC438654 is 17 days old Private company incorporated with MCA on 22 nd January, 2025.","link":"https://www.falconebiz.com/company/MMA-MATRIX-GYM-PRIVATE-LIMITED-U86900MH2025PTC438654","displayLink":"www.falconebiz.com"},{"title":"Store Locator - Safari Bags","htmlTitle":"Store Locator - Safari Bags","snippet":"mumbai.borivali@safari.in · safaribags.com · Get Direction · Directions. View on ... Shop No 22, Second Floor, Z Square Mall, MG Marg, near by Bada ...","htmlSnippet":"mumbai.borivali@safari.in · safaribags.com · Get Direction · Directions. View on ... Shop No 22, Second Floor, Z Square Mall, MG Marg, near by Bada ...","link":"https://safaribags.com/pages/store-locator","displayLink":"safaribags.com"},{"title":"Weekly Horoscope Pisces, February 16-22, 2025 predicts fiscal ...","htmlTitle":"Weekly Horoscope Pisces, February 16-22, 2025 predicts fiscal ...","snippet":"While traveling somewhere, take all the necessary precautions and keep a first aid box always with you. You may also join a gym this week to ...","htmlSnippet":"While traveling somewhere, take all the necessary precautions and keep a first aid box always with you. You may also join a gym this week to ...","link":"https://www.hindustantimes.com/astrology/horoscope/weekly-horoscope-pisces-february-16-22-2025-predicts-fiscal-gains-soon-101739625000210.html","displayLink":"www.hindustantimes.com"},{"title":"Women what do you think of male trainers in Gym? Do they ... - Reddit","htmlTitle":"Women what do you think of male trainers in Gym? Do they ... - Reddit","snippet":"205 votes, 175 comments. 696K subscribers in the AskIndia community. A forum for questions on India—relationships, culture, food, history, ...","htmlSnippet":"205 votes, 175 comments. 696K subscribers in the AskIndia community. A forum for questions on India—relationships, culture, food, history, ...","link":"https://www.reddit.com/r/AskIndia/comments/1bqkags/women_what_do_you_think_of_male_trainers_in_gym/","displayLink":"www.reddit.com"},{"title":"Bhanzu","htmlTitle":"Bhanzu","snippet":"22 USD per Session. View Curriculum. LearningRoadmap. Build math confidence in 4 ... Grade 1, Mumbai. Naira is a bright child and I wanted to give her more ...","htmlSnippet":"22 USD per Session. View Curriculum. LearningRoadmap. Build math confidence in 4 ... Grade 1, Mumbai. Naira is a bright child and I wanted to give her more ...","link":"https://bhanzu.com/","displayLink":"bhanzu.com"},{"title":"CURIOSITY GYM PRIVATE LIMITED - ClearTax","htmlTitle":"CURIOSITY GYM PRIVATE LIMITED - ClearTax","snippet":"... : girish.nair@gmail.com or visit them at their registered address FLAT NO 22, 2ND FLR, SUJATA, LITTLE GIBBS RD, MALABAR HILL, MUMBAI Mumbai City MH IN 400006.","htmlSnippet":"... : girish.nair@gmail.com or visit them at their registered address FLAT NO 22, 2ND FLR, SUJATA, LITTLE GIBBS RD, MALABAR HILL, MUMBAI Mumbai City MH IN 400006.","link":"https://cleartax.in/f/company/curiosity-gym-private-limited/U74999MH2015PTC266319/","displayLink":"cleartax.in"},{"title":"Platinum Gym & Spa in Mumbai","htmlTitle":"Platinum Gym & Spa in Mumbai","snippet":"Mobile Number : 22-21645113,21645114,65119009. Email : platinumgymandspa@gmail.com. Welcome to Platinum Gym & Spa in Mumbai. Platinum Gym & Spa, conveniently ...","htmlSnippet":"Mobile Number : 22-21645113,21645114,65119009. Email : platinumgymandspa@gmail.com. Welcome to Platinum Gym & Spa in Mumbai. Platinum Gym & Spa, conveniently ...","link":"https://mumbai.idbf.in/mumbai/383755/platinum-gym-spa","displayLink":"mumbai.idbf.in"},{"title":"Gym Start Karne Mai Kya Challenges Aate Hain ? Ultimate Gym ...","htmlTitle":"Gym Start Karne Mai Kya Challenges Aate Hain ? Ultimate Gym ...","snippet":"Join us for an inspiring story of determination and resilience as we introduce Suryansh Pandit, who left his high-paying IT job to pursue ...","htmlSnippet":"Join us for an inspiring story of determination and resilience as we introduce Suryansh Pandit, who left his high-paying IT job to pursue ...","link":"https://www.youtube.com/watch?v=9HKsfzFCaqE","displayLink":"www.youtube.com"},{"title":"11:11 health and fitness studio | gym in navi mumbai - Karo Search","htmlTitle":"11:11 health and fitness studio | gym in navi mumbai - Karo Search","snippet":"11:11 Health And Fitness Studio is one of the best gym in Kharghar. Our services are as follows Weight Training, Cardio, MMB, Crossfit, Personal ...","htmlSnippet":"11:11 Health And Fitness Studio is one of the best gym in Kharghar. Our services are as follows Weight Training, Cardio, MMB, Crossfit, Personal ...","link":"https://www.karosearch.com/business/1111-health-and-fitness-studio-020495.html","displayLink":"www.karosearch.com"},{"title":"#mumbai #gym #fitness #model#blackgirlmagic - Instagram","htmlTitle":"#mumbai #gym #fitness #model#blackgirlmagic - Instagram","snippet":"vakil_khan13.22 on May 8, 2024: \"#mumbai #gym #fitness #model#blackgirlmagic\".","htmlSnippet":"vakil_khan13.22 on May 8, 2024: \"#mumbai #gym #fitness #model#blackgirlmagic\".","link":"https://www.instagram.com/vakil_khan13.22/reel/C6uJC2xSG49/","displayLink":"www.instagram.com"},{"title":"Shibani to Farhan Akhtar: I love you more than you will ever know","htmlTitle":"Shibani to Farhan Akhtar: I love you more than you will ever know","snippet":"Mumbai, February 22 (IANS) As they complete three years of marital bliss, Shibani Dandekar penned a heart-melting post for her husband ...","htmlSnippet":"Mumbai, February 22 (IANS) As they complete three years of marital bliss, Shibani Dandekar penned a heart-melting post for her husband ...","link":"https://www.morungexpress.com/shibani-to-farhan-akhtar-i-love-you-more-than-you-will-ever-know","displayLink":"www.morungexpress.com"},{"title":"Get Fit India Pvt Ltd in Mumbai - DriveAt.com","htmlTitle":"Get Fit India Pvt Ltd in Mumbai - DriveAt.com","snippet":"Categories: Body Massage Centre, Fitness Centre, Gym · Address: 2nd Floor, Heritage Plaza, J P Road, Andheri West, Mumbai - 400053 · Landmark: Opp Indian Oil ...","htmlSnippet":"Categories: Body Massage Centre, Fitness Centre, Gym · Address: 2nd Floor, Heritage Plaza, J P Road, Andheri West, Mumbai - 400053 · Landmark: Opp Indian Oil ...","link":"http://www.driveat.com/Get-Fit-India-Pvt-Ltd-300840.html","displayLink":"www.driveat.com"}]}}]},"versionId":"601c9359-d47d-4077-9667-d56ff0efe881","triggerCount":0,"tags":[{"createdAt":"2025-02-20T18:42:39.646Z","updatedAt":"2025-02-20T18:42:39.646Z","id":"xXj1uVX3Ltn9hSGd","name":"Production"}]}