kunal-email-scraper-Vp6gMZcvmeo4h3yr.json
{"createdAt":"2025-02-19T17:40:23.748Z","updatedAt":"2025-02-21T18:00:40.927Z","id":"Vp6gMZcvmeo4h3yr","name":"kunal email scraper","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-280],"id":"02234a6c-4a38-47b4-9f8d-29ca0dd1e26a","name":"When Executed by Another Workflow"},{"parameters":{"url":"=http://www.google.com/maps/search/{{ $json.querry }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-280],"id":"cb6faf6f-560c-4b0a-a115-69a20fc65eb6","name":"HTTP Request"},{"parameters":{"jsCode":"const data = $input.first().json.data;\n\nif (!data || typeof data !== 'string') {\n    return [];\n}\n\nconst regex = /https?:\\/\\/[^\\/]+/g;\nconst urls = data.match(regex) || [];\n\nreturn urls.map(url => ({ json: { url: url } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,-280],"id":"a8e70ace-0e53-45ec-bf40-da6d97dbcf86","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9296ab27-4aca-43a1-9d68-7b8b72a29de0","leftValue":"={{ $json.url }}","rightValue":"^(?!.*(google|gstatic|ggpht|schema|example)).*(gym|fitness|workout|training|crossfit).*","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,-280],"id":"720af54e-57d3-44c1-b803-7415a061665b","name":"Filter"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"url","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[400,-280],"id":"368c2d0b-f1e2-4748-a6f6-1a4168f6911e","name":"Remove Duplicates"},{"parameters":{"url":"={{$json.url}}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,-340],"id":"6cbfbd92-e696-43f8-a728-6cd8c12602ee","name":"HTTP Request1","onError":"continueErrorOutput"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,-300],"id":"c70b2bbf-d8fa-4cc6-9b0e-430142c629c2","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-260,20],"id":"08a135ed-99b1-480f-8048-04f725eaef2a","name":"Loop Over Items1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $json.data || \"\";  // Ensure data exists\n\n// Regular Expression to match emails but exclude image links\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\n// Extract emails from the data\nconst emails = data.match(emailRegex) || []; // Ensure it returns an array\n\nconsole.log(\"Extracted Emails:\", emails);\n\n// Return result in expected JSON format\nreturn [{ json: { emails } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20,140],"id":"95c0c07b-ef6d-4f11-b4ec-315806d9c440","name":"Code1","onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-60,-80],"id":"16d896d3-d78e-4256-962f-d2369c6d9088","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[200,-60],"id":"7f9874d6-4780-4608-9816-7542d26e3e34","name":"Split Out"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appbTAAVE73tgHdGB","mode":"list","cachedResultName":"EmailData","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB"},"table":{"__rl":true,"value":"tblHe7ohBVtdmcqX5","mode":"list","cachedResultName":"Table 3","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tblHe7ohBVtdmcqX5"},"columns":{"mappingMode":"defineBelow","value":{"Notes":"testing","emails":"={{ $json['0'] }}"},"matchingColumns":[],"schema":[{"id":"emails","displayName":"emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,-60],"id":"7ae187f6-9b0a-4942-9cc7-a6a084009cfe","name":"Airtable","credentials":{"airtableTokenApi":{"id":"aryyX9PKv9rQZwTy","name":"Airtable Personal Access Token account"}},"onError":"continueErrorOutput"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"querry":"gyms+in+usa"}}],"Remove Duplicates":[{"json":{"url":"https://ultimateworkout.com"}},{"json":{"url":"https://www.bobsfitnesscomplex.com"}},{"json":{"url":"http://www.usagyminc.com"}},{"json":{"url":"https://www.usagym.life"}},{"json":{"url":"http://usgym.org"}},{"json":{"url":"http://crossfitomaha.com"}},{"json":{"url":"http://americasgym.com"}},{"json":{"url":"http://omaharockgym.com"}},{"json":{"url":"http://www.fitnesslincoln.com"}},{"json":{"url":"https://www.planetfitness.com"}},{"json":{"url":"https://muscleboundusagym.com"}},{"json":{"url":"https://shredfitness.club"}}]},"versionId":"0b56fd3c-01f3-418e-a44c-84f6685cf439","triggerCount":0,"tags":[]}