merges-data-from-two-different-spreadsheets-S41abuauO0kQLckw.json
{"createdAt":"2025-03-17T15:49:07.195Z","updatedAt":"2025-03-17T15:54:42.046Z","id":"S41abuauO0kQLckw","name":"merges data from two different spreadsheets","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-380,-40],"id":"9bc3d001-3ec4-444c-ac52-403bd0e6f7ce","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=759885513#gid=759885513","mode":"url"},"sheetName":{"__rl":true,"value":1826061743,"mode":"list","cachedResultName":"Customer ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=1826061743"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-200,-180],"id":"f89832c8-0369-49dd-9333-174badc0da75","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=759885513#gid=759885513","mode":"url"},"sheetName":{"__rl":true,"value":759885513,"mode":"list","cachedResultName":"orders","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=759885513"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-200,80],"id":"093ea58b-c925-48d6-beeb-a1db549a6773","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"ID","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[60,-60],"id":"200b2479-a569-4394-bc04-7c396b7a229c","name":"Merge"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=759885513#gid=759885513","mode":"url"},"sheetName":{"__rl":true,"value":1483125112,"mode":"list","cachedResultName":"merge data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=1483125112"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.ID }}","Name":"={{ $json.Name }}","Email":"={{ $json.Email }}","City":"={{ $json.City }}","Order_ID":"={{ $json.Order_ID }}","Product":"={{ $json.Product }}","Amount ($)":"={{ $json['Amount ($)'] }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Order_ID","displayName":"Order_ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Product","displayName":"Product","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Amount ($)","displayName":"Amount ($)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,-60],"id":"77903076-670a-45dc-8843-68608981055d","name":"Google Sheets2","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a47470ef-dbff-446f-9806-b64360db1694","triggerCount":0,"tags":[{"createdAt":"2025-03-11T03:42:46.764Z","updatedAt":"2025-03-11T03:42:46.764Z","id":"Gw9jAhW1O10zM33b","name":"Completed"},{"createdAt":"2025-03-17T15:54:29.839Z","updatedAt":"2025-03-17T15:54:29.839Z","id":"lqXQZmH0ptknEVlI","name":"Chirag"}]}