my-workflow-5-JhI670jdWzaL7yuJ.json
{"createdAt":"2025-02-27T18:44:42.563Z","updatedAt":"2025-03-02T17:04:46.043Z","id":"JhI670jdWzaL7yuJ","name":"My workflow 5","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1900,-200],"id":"ff10fdbe-4df8-4f4d-be40-8f1b889e7b6e","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1640,-200],"id":"4997d135-c1f3-4b68-9a5d-7d936a351989","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"jsCode":"// List of Indian cities\nconst cities = [\n    \"Mumbai\", \"Delhi\", \"Bangalore\", \"Hyderabad\", \"Ahmedabad\", \"Chennai\", \"Kolkata\", \"Pune\", \n    \"Jaipur\", \"Surat\", \"Lucknow\", \"Kanpur\", \"Nagpur\", \"Indore\", \"Thane\", \"Bhopal\", \"Visakhapatnam\", \n    \"Patna\", \"Vadodara\", \"Ghaziabad\", \"Ludhiana\", \"Agra\", \"Nashik\", \"Faridabad\", \"Meerut\", \"Rajkot\", \n    \"Varanasi\", \"Srinagar\", \"Aurangabad\", \"Dhanbad\", \"Amritsar\", \"Navi Mumbai\", \"Allahabad\", \n    \"Howrah\", \"Gwalior\", \"Jabalpur\", \"Coimbatore\", \"Vijayawada\", \"Jodhpur\", \"Madurai\", \"Raipur\"\n];\n\n// Get data from Google Sheets node\nconst data = $input.all();\n\n// Fix key names by trimming spaces\nconst cleanedData = data.map(item => {\n    let obj = {};\n    for (let key in item.json) {\n        obj[key.trim()] = item.json[key]; // Trim key names\n    }\n    return obj;\n});\n\n// Debugging: Log received and cleaned data\nconsole.log(\"Cleaned API keys:\", cleanedData);\n\n// Filter valid API keys (status = true & usage < total_usage)\nconst availableKeys = cleanedData.filter(api => \n    api.status === true && api.usage < api[\"total usage\"]\n);\n\n// Debugging: Log available keys\nconsole.log(\"Available API keys after filtering:\", availableKeys);\n\nif (availableKeys.length === 0) {\n    return [{ json: { error: \"No available API keys left\" } }];\n}\n\n// Select a random available API key\nconst selectedKey = availableKeys[Math.floor(Math.random() * availableKeys.length)];\n\n// Pick a random city from the list\nconst selectedCity = cities[Math.floor(Math.random() * cities.length)];\n\n// Output the selected API key and city\nreturn [{\n    json: {\n        row_number: selectedKey.row_number,\n        key: selectedKey.key.trim(), // Trim spaces\n        usage: selectedKey.usage,\n        total_usage: selectedKey[\"total usage\"],\n        city: selectedCity\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,-200],"id":"d43c958c-5080-416c-af7c-48a742e82a8a","name":"Code"},{"parameters":{"url":"https://google-search72.p.rapidapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"=best gym in  {{ $json.city }} -site:justdial.com -site:indiamart.com -site:sulekha.com -site:yoactiv.com"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"google-search72.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"={{ $json.key }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,-200],"id":"9ea6d8eb-7977-49f7-8b6c-8660cb85f325","name":"HTTP Request2","onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"usage":"={{ $('Code').item.json.usage + 1 }}","key":"={{ $('Code').item.json.key }}"},"matchingColumns":["key"],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-580,-460],"id":"d69d5f86-c9d9-4bc8-b1f3-48a626a1ff47","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"fieldToSplitOut":"link","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-360,-220],"id":"a65f55cb-9a40-437e-ba22-99600ca32604","name":"Split Out"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-220],"id":"b643ee4b-016a-4c37-930f-da67af9f6b36","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"jsCode":"return $json.items.map(item => ({\n    json: {\n        title: item.title,\n        snippet: item.snippet,\n        link: item.link,\n        displayLink: item.displayLink\n    }\n}));\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,-220],"id":"0e30335a-9992-4886-8b8b-0ec410dd5d4e","name":"Code1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-160,-220],"id":"397922bf-49be-4ef0-8517-ba397ac2159b","name":"Loop Over Items1","onError":"continueRegularOutput"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[120,-220],"id":"88e1723e-7e0f-4ef4-827a-c2ef30f6ffe7","name":"Wait","webhookId":"1b8b75d9-3f28-48cd-9706-f5ce97d8265e"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[540,-240],"id":"a986b2a5-21ca-4006-94cd-0a769e622cb1","name":"Markdown","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function to extract emails, phone numbers, addresses, and websites from text\nfunction extractData(text) {\n    // Regular expressions for email, phone numbers, and websites\n    const emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/g;\n    const phoneRegex = /\\b\\d{10,12}\\b/g; // Matches 10-12 digit phone numbers\n    \n    // Better address regex - this is a generic pattern that may need adjustment based on your data\n    const addressRegex = /\\b\\d+\\s+[A-Za-z0-9\\s,\\.]+(?:Avenue|Lane|Road|Boulevard|Drive|Street|Ave|Ln|Rd|Blvd|Dr|St)\\.?(?:\\s+[A-Za-z]+)?(?:,\\s*[A-Za-z]+)?(?:,\\s*[A-Z]{2})?\\s*\\d{5}(?:-\\d{4})?\\b/gi;\n    \n    const websiteRegex = /https?:\\/\\/(?:www\\.)?([A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?(?:\\.[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?)+)(?:\\/[^\\s\"')]*)?/g;\n    \n    // Extracting data\n    const emails = [...new Set(text.match(emailRegex) || [])];\n    const phoneNumbers = [...new Set(text.match(phoneRegex) || [])];\n    const addresses = [...new Set((text.match(addressRegex) || []).map(addr => addr.trim()))];\n    \n    // Social media domains list\n    const socialMediaDomains = ['facebook.com', 'instagram.com', 'twitter.com', 'linkedin.com', 'youtube.com', 'pinterest.com', 'tiktok.com'];\n    \n    // Website extraction\n    const mainWebsites = [];\n    const socialMediaLinks = {};\n    const uniqueMainWebsites = new Set();\n    const seenUrlPatterns = new Set();\n    \n    let match;\n    while ((match = websiteRegex.exec(text)) !== null) {\n        const fullUrl = match[0];\n        const domain = match[1];\n        \n        // Skip resource files\n        if (!/\\.(jpg|jpeg|png|gif|svg|webp|js|css|ico|woff|woff2|ttf|eot)(\\?.*)?$/i.test(fullUrl)) {\n            // Get base URL (without query parameters and fragments)\n            const baseUrl = fullUrl.split(/[?#]/)[0];\n            \n            // Check if it's a social media link\n            const socialMediaPlatform = socialMediaDomains.find(socialdomain => domain.includes(socialdomain));\n            \n            if (socialMediaPlatform) {\n                // Extract platform name (e.g., 'facebook' from 'facebook.com')\n                const platformName = socialMediaPlatform.split('.')[0];\n                \n                // Store only the first instance of each social platform\n                if (!socialMediaLinks[platformName]) {\n                    socialMediaLinks[platformName] = baseUrl;\n                }\n            } else {\n                // Process main websites\n                // Create a pattern by removing repeating number patterns\n                const urlPattern = baseUrl.replace(/(-\\d+)+$/, '');\n                \n                // Only add if we haven't seen this pattern before\n                if (!seenUrlPatterns.has(urlPattern)) {\n                    seenUrlPatterns.add(urlPattern);\n                    \n                    // If we haven't already added this exact URL\n                    if (!uniqueMainWebsites.has(baseUrl)) {\n                        uniqueMainWebsites.add(baseUrl);\n                        mainWebsites.push({\n                            url: baseUrl,\n                            domain: domain\n                        });\n                    }\n                }\n            }\n        }\n    }\n    \n    return {\n        emails: emails,\n        phoneNumbers: phoneNumbers,\n        socialMediaLinks: socialMediaLinks,\n        addresses: addresses,\n        mainWebsites: mainWebsites\n    };\n}\n\n// n8n Function Node Input\nconst inputText = $json[\"data\"]; // Replace with your text source in n8n\n\n// Extract information\nconst extractedData = extractData(inputText);\n\n// Return structured output for n8n\nreturn [{ data: extractedData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[740,-240],"id":"43e0e410-7d69-404f-8e74-98ab3f813fb4","name":"Code3","onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=639497660#gid=639497660","mode":"url"},"sheetName":{"__rl":true,"value":639497660,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=639497660"},"columns":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.data.mainWebsites[0].domain }}","email":"={{ $json.data.emails }}","phone Numbers":"={{ $json.data.phoneNumbers }}","youtube.com":"={{ $json.data.socialMediaLinks.youtube }}","facebook.com":"={{ $json.data.socialMediaLinks.facebook }}","instagram.com":"={{ $json.data.socialMediaLinks.instagram }}","linkedin.com":"={{ $json.data.socialMediaLinks.linkedin }}","twitter.com":"={{ $json.data.socialMediaLinks.twitter}}","pinterest.com":"=  {{ $json.data.socialMediaLinks.pinterest}}","tiktok.com":"=","addresses":"={{ $json.data.addresses }}","data":"={{ $json.data }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone Numbers","displayName":"phone Numbers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube.com","displayName":"youtube.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook.com","displayName":"facebook.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram.com","displayName":"instagram.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin.com","displayName":"linkedin.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter.com","displayName":"twitter.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pinterest.com","displayName":"pinterest.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tiktok.com","displayName":"tiktok.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"addresses","displayName":"addresses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[940,-240],"id":"2e9c5100-43ca-4c0e-a85f-cb48841156af","name":"Google Sheets3","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=1178243976#gid=1178243976","mode":"url"},"sheetName":{"__rl":true,"value":1178243976,"mode":"list","cachedResultName":"Sheet3","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=1178243976"},"columns":{"mappingMode":"defineBelow","value":{"city":"={{ $('Code').item.json.city }}","scrapped or not":"Yes"},"matchingColumns":["city"],"schema":[{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scrapped or not","displayName":"scrapped or not","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,-500],"id":"84830440-4dd4-4f3f-8a4e-14873385f1f4","name":"Google Sheets2","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"fieldToSplitOut":"email","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1160,-240],"id":"4396c0d7-fddd-4939-ac8d-f3358548a036","name":"Split Out1"},{"parameters":{"method":"POST","url":"https://gymforce.io/?fluentcrm=1&route=contact&hash=5dc69fea-ba52-45b0-a79f-b8df9ab648a9","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.email }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,-240],"id":"d4364138-4627-4270-9b90-5dbff067a6ff","name":"Wordpress Server","onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"key","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"key":"={{ $json.key }}","usage":"11"},"matchingColumns":["key"],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is active ","displayName":"is active ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-240,60],"id":"cd38aaaa-0757-421b-a156-d00fe58c4fc5","name":"Google Sheets4","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"fieldToSplitOut":"key","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-540,-20],"id":"460850ed-6d2a-47da-aaad-84c3280af8ee","name":"Split Out2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1280,-200],"id":"7b8d4a96-b8fb-4c91-b8e9-c40466c7e84f","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1480,-680],"id":"8c4bbe84-c93b-46c3-8d5e-e071a0cf04ca","name":"Split Out3"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Google Sheets1","type":"main","index":0},{"node":"Code1","type":"main","index":0}],[{"node":"Split Out2","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Split Out1","type":"main","index":0},{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets2":{"main":[[]]},"Split Out1":{"main":[[{"node":"Wordpress Server","type":"main","index":0}]]},"Wordpress Server":{"main":[[]]},"Split Out2":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Split Out3":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code1":[{"json":{"title":"Gym Recommendations : r/vadodara - Reddit","snippet":"Urban Fitness (Akota and O.P. Road) is the best crowd wise. It's pricy though. Same for Swolder fitness (Reliance mall, O.P. Road). You can try ...","link":"https://www.reddit.com/r/vadodara/comments/1ge3ys4/gym_recommendations/","displayLink":"www.reddit.com"}},{"json":{"title":"Our Gym Vadodara: Best Gym in Vadodara","snippet":"Our Gym is a new and unique gym in Vadodara. We offer many programmes such as Spinning studio, Aerobics, Zumba, etc. Read our home page to know more about ...","link":"https://ourgym.in/","displayLink":"ourgym.in"}},{"json":{"title":"Fitness Track Gym Vadodara ®️ (@fitnesstrackgym) - Instagram","snippet":". Fitness Track Gym (FTG) #No.1 Gym Chain Of Vadodara Since 2013. . Join the Vadodara Fitness Family with 11 years of experience at any of the 7 FTG branches, ...","link":"https://www.instagram.com/fitnesstrackgym/","displayLink":"www.instagram.com"}},{"json":{"title":"List of Top Gyms in Vadodara | FITPASS","snippet":"SWAS Gym offers various services online. Services such as members log in, workout routines, fitness and health records, diet plans are available on the handset.","link":"https://fitpass.co.in/vadodara/fitness-centers?srsltid=AfmBOoojzRVc4aokAd8V_7ROZrVKpv3nBc3veG9sOSV2Oal4k_RxvW1a","displayLink":"fitpass.co.in"}},{"json":{"title":"3 Best Gym in Vadodara - Expert Recommendations","snippet":"1. Fitness Track 2. Vision Fitness 3. Snapfit Gym — The top Vadodara gym selected via rigorous 50-Point Inspection.","link":"https://threebestrated.in/gym-in-vadodara-gj","displayLink":"threebestrated.in"}},{"json":{"title":"Vision Fitness • Best Gym in Vadodara (@visionfitnessgym)","snippet":"Workout in Best Fitness Gym | Vadodara Personal Training Steam Bath & Latest Equipments HIIT • Yoga • Zumba • Abs Class · Photo by Vision Fitness • Best Gym ...","link":"https://www.instagram.com/visionfitnessgym/","displayLink":"www.instagram.com"}},{"json":{"title":"Leocor Gym and Fitness","snippet":"Our gym pertains to all international standards with highly qualified gym trainers to help you accomplish your fitness and weight goals, effectively.","link":"https://www.leocorgym.com/","displayLink":"www.leocorgym.com"}},{"json":{"title":"5 Best Gym in Vadodara, Gujarat - 5BestINcity.com","snippet":"5 Best Gym in Vadodara, Gujarat · Life Fitness Link, Fitness Track Gym, Horizon Fitness Club, Spartan Extreme Gym, 360 Fitness A Premium Gym Top Gym in Vadodara ...","link":"https://ind.5bestincity.com/gym-in-vadodara-gj","displayLink":"ind.5bestincity.com"}},{"json":{"title":"Fitness Track Gym: Best Gym In Vadodara","snippet":"The Ultimate Way To Get Fit. Fitness Track Gym Vadodara.Fitness Track is one of the Vadodara's largest chains of health centers.","link":"https://fitnesstrackgyms.com/","displayLink":"fitnesstrackgyms.com"}},{"json":{"title":"Fun Fitness: Luxurious Gym in the Emperor Mall Vasna Bhayli ...","snippet":"Fun Fitness is a Luxury gym in the Emperor Mall Vasna Bhayli Road Vadodara Gujarat, offering state-of-the-art equipment, certified trainers, ...","link":"https://www.funfitness.co.in/","displayLink":"www.funfitness.co.in"}}],"Split Out":[{"json":{"link":"https://www.reddit.com/r/vadodara/comments/1ge3ys4/gym_recommendations/"}},{"json":{"link":"https://ourgym.in/"}},{"json":{"link":"https://www.instagram.com/fitnesstrackgym/"}},{"json":{"link":"https://fitpass.co.in/vadodara/fitness-centers?srsltid=AfmBOoojzRVc4aokAd8V_7ROZrVKpv3nBc3veG9sOSV2Oal4k_RxvW1a"}},{"json":{"link":"https://threebestrated.in/gym-in-vadodara-gj"}},{"json":{"link":"https://www.instagram.com/visionfitnessgym/"}},{"json":{"link":"https://www.leocorgym.com/"}},{"json":{"link":"https://ind.5bestincity.com/gym-in-vadodara-gj"}},{"json":{"link":"https://fitnesstrackgyms.com/"}},{"json":{"link":"https://www.funfitness.co.in/"}}],"HTTP Request2":[{"json":{"status":"success","items":[{"title":"Best Gym in Indore - Reddit","htmlTitle":"Best Gym in Indore - Reddit","snippet":"I have been going to Golds Vijay Nagar for 1.5 yrs now and it's awesome. They actually added more machines so even at peak time the wait for ...","htmlSnippet":"I have been going to Golds Vijay Nagar for 1.5 yrs now and it's awesome. They actually added more machines so even at peak time the wait for ...","link":"https://www.reddit.com/r/Indore/comments/1gllr9b/best_gym_in_indore/","displayLink":"www.reddit.com"},{"title":"List Of The 8 Best Gyms In Indore - your-space","htmlTitle":"List Of The 8 Best Gyms In Indore - your-space","snippet":"Check out the top gyms in Indore for an awesome workout session. Golds gym, Cult fitness, Star gym, calorie fitness, Alright fitness gym etc.","htmlSnippet":"Check out the top gyms in Indore for an awesome workout session. Golds gym, Cult fitness, Star gym, calorie fitness, Alright fitness gym etc.","link":"https://www.your-space.in/blogs/best-gyms-in-indore/","displayLink":"www.your-space.in"},{"title":"Best Gym In Indore | cult Dance Fitness, Yoga, Boxing & Group ...","htmlTitle":"Best Gym In Indore | cult Dance Fitness, Yoga, Boxing & Group ...","snippet":"You can find gyms in Indore in almost all areas. However, the best area among these is MadhuMilan Square. We, at Cult, understand this and have a Cult centre in ...","htmlSnippet":"You can find gyms in Indore in almost all areas. However, the best area among these is MadhuMilan Square. We, at Cult, understand this and have a Cult centre in ...","link":"https://www.cult.fit/lp/cult/center/gyms-in-indore","displayLink":"www.cult.fit"},{"title":"Gym Near Me In Indore - List of Top Gyms in Indore | FITPASS","htmlTitle":"Gym Near Me In Indore - List of Top Gyms in Indore | FITPASS","snippet":"Bodyline Gym is the pinnacle of the perfect fitness destination, located in Indore's Maharaja Tukoji Rao Holker Cloth Market. You can work out in the studio ...","htmlSnippet":"Bodyline Gym is the pinnacle of the perfect fitness destination, located in Indore's Maharaja Tukoji Rao Holker Cloth Market. You can work out in the studio ...","link":"https://fitpass.co.in/indore/fitness-centers?srsltid=AfmBOoqYtAe06t6lpKzdIYXY_PuUxliYxOFvg9KktbAN66gH2HU6gXuy","displayLink":"fitpass.co.in"},{"title":"Trigno The Gym: Best Gym in Indore","htmlTitle":"Trigno The Gym: Best Gym in Indore","snippet":"Experience fitness at its finest with the best gym in Indore. Our 3-floor facility offers top-notch equipment and extensive training zones for all your ...","htmlSnippet":"Experience fitness at its finest with the best gym in Indore. Our 3-floor facility offers top-notch equipment and extensive training zones for all your ...","link":"https://trignothegym.com/","displayLink":"trignothegym.com"},{"title":"Best Gym in Indore Near me - fitfaat health and fitness","htmlTitle":"Best Gym in Indore Near me - fitfaat health and fitness","snippet":"Neels Health Club. Morning- 06:00 AM - 11:55 AM. Evening - 04:00 PM - 10:00 PM. 654/9, Near MIG Thana, Atal Dwar, Nehru Nagar, Indore, Madhya Pradesh 452001 ...","htmlSnippet":"Neels Health Club. Morning- 06:00 AM - 11:55 AM. Evening - 04:00 PM - 10:00 PM. 654/9, Near MIG Thana, Atal Dwar, Nehru Nagar, Indore, Madhya Pradesh 452001 ...","link":"https://www.fitfaat.com/India/Indore/1/Gym-in-Indore","displayLink":"www.fitfaat.com"},{"title":"Welcome to The Gym Hut, Indore's premier luxury fitness ... - Instagram","htmlTitle":"Welcome to The Gym Hut, Indore's premier luxury fitness ... - Instagram","snippet":"Find us at: [navlakha brts ,opposite sky heights building , Indore] Contact Us: [7389416170] At The Gym Hut, we bring together fitness, ...","htmlSnippet":"Find us at: [navlakha brts ,opposite sky heights building , Indore] Contact Us: [7389416170] At The Gym Hut, we bring together fitness, ...","link":"https://www.instagram.com/the_gym_hut/reel/DCqhtxHMRpH/","displayLink":"www.instagram.com"},{"title":"Gold's Gym Indore Vijay Nagar","htmlTitle":"Gold's Gym Indore Vijay Nagar","snippet":"World class fitness centre & Gold's Gym Vijay Nagar Indore India. We provide you with the best fitness programs along with professional trainer and equipment.","htmlSnippet":"World class fitness centre & Gold's Gym Vijay Nagar Indore India. We provide you with the best fitness programs along with professional trainer and equipment.","link":"https://goldsgym.in/our-gyms/gold-s-gym-indore-vijay-nagar/","displayLink":"goldsgym.in"},{"title":"Gym in Indore, Madhya Pradesh 452010 - Anytime Fitness","htmlTitle":"Gym in Indore, Madhya Pradesh 452010 - Anytime Fitness","snippet":"Welcome to your neighborhood 24 hour gym in Indore! Whether you're a beginner or a fitness regular, we'll help you get to a healthier place.","htmlSnippet":"Welcome to your neighborhood 24 hour gym in Indore! Whether you're a beginner or a fitness regular, we'll help you get to a healthier place.","link":"https://www.anytimefitness.co.in/gyms/in-1074/indore-madhya-pradesh-452010/","displayLink":"www.anytimefitness.co.in"},{"title":"Gyms in Indore - Stanza Living","htmlTitle":"Gyms in Indore - Stanza Living","snippet":"Top Gyms in Indore · Golds Gym Vijay Nagar · The World Gym & Fitness Centre Annapurna Nagar · 24 fitness Pipliyahana · CultFit Madhumilan Square ...","htmlSnippet":"Top Gyms in Indore · Golds Gym Vijay Nagar · The World Gym & Fitness Centre Annapurna Nagar · 24 fitness Pipliyahana · CultFit Madhumilan Square ...","link":"https://www.stanzaliving.com/blog/gyms-in-indore","displayLink":"www.stanzaliving.com"}]}}]},"versionId":"a55a3c39-3bf4-49b6-80dd-808b7b80d0bd","triggerCount":0,"tags":[]}