processing-data-from-airtable-H9vlivzj6eKzHkMv.json
{"createdAt":"2025-02-20T18:27:43.309Z","updatedAt":"2025-02-20T18:35:28.064Z","id":"H9vlivzj6eKzHkMv","name":"Processing Data from Airtable","active":false,"nodes":[{"parameters":{"operation":"search","base":{"__rl":true,"value":"appbTAAVE73tgHdGB","mode":"list","cachedResultName":"EmailData","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB"},"table":{"__rl":true,"value":"tblpxMcv1xxxE1kEg","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tblpxMcv1xxxE1kEg"},"options":{"fields":["link"],"view":{"__rl":true,"value":"viwmxu8YdbOWrfCnQ","mode":"list","cachedResultName":"Grid view","cachedResultUrl":"https://airtable.com/appbTAAVE73tgHdGB/tblpxMcv1xxxE1kEg/viwmxu8YdbOWrfCnQ"}}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-640,100],"id":"8e6069fa-0007-442c-bf4a-a57f946f86ff","name":"Airtable3","alwaysOutputData":true,"credentials":{"airtableTokenApi":{"id":"aryyX9PKv9rQZwTy","name":"Airtable Personal Access Token account"}}},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,100],"id":"79153c1f-52e9-47c0-b129-471f7c17e90c","name":"HTTP Request","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4de5fa0a-43d6-42fa-85e6-1a1517ff756a","leftValue":"={{ $json.link }}","rightValue":"justdial.com","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-440,100],"id":"9b64ee2f-bb71-493d-85f6-45843e33348e","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-220,100],"id":"429f9630-61f6-43f9-be0b-66dbeb0e5356","name":"Loop Over Items2","onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[0,0],"id":"256a2b2f-927b-4d48-9205-62a6a39a8544","name":"Aggregate1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-880,100],"id":"aef946d6-d951-4b2b-bea8-f5f679b083d4","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"Browser Rest Apis","operation":"Content","url":"https://www.google.com/maps/search/Gyms+in+Mumbai/@19.0815168,72.8389299,11z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDIxNy4wIKXMDSoJLDEwMjExNDUzSAFQAw%3D%3D","requestOptions":{}},"type":"n8n-nodes-browserless.browserless","typeVersion":2,"position":[0,360],"id":"37f0f7ff-715f-4dfd-828f-2541433ee61a","name":"Browserless","credentials":{"browserlessApi":{"id":"oFE1UcWMGOzKci2b","name":"Browserless Credentials account"}}}],"connections":{"Airtable3":{"main":[[{"node":"Filter","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Aggregate1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Airtable3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9ce32a5-d4eb-441f-a9a7-c563937c4f79","triggerCount":0,"tags":[]}