seo-automation---creating-and-publishing-blog-post-copy-fXX2jk3s3VhBtZ74.json
{"createdAt":"2025-03-05T15:43:51.027Z","updatedAt":"2025-03-08T19:30:27.278Z","id":"fXX2jk3s3VhBtZ74","name":"SEO Automation - Creating and publishing blog post copy","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"2 1 * * 2"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[80,500],"id":"91c75c1f-835e-4cdc-bf69-052e8b3f09ab","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1iQjAEmo_4Ip8AMeBGQumgO76tANYcAfHC6yK4MmeH6Q/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Cluster","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1iQjAEmo_4Ip8AMeBGQumgO76tANYcAfHC6yK4MmeH6Q/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"complete","lookupValue":"no"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[260,500],"id":"df98f403-6700-4f62-b72e-c5cd985cda6d","name":"Grab New Cluster","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"modelId":{"__rl":true,"value":"openai/o1-mini","mode":"id"},"messages":{"values":[{"content":"=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords and search intent. \n\n- Keywords: The keywords are to what the blog post is meant to rank for. They are scattered throughout the blog and define the topic of the blog post. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword which defines be the theme of the blog post, so they click on our blog to satisfy their search. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword will go in the title and first few sentences. It is important that the topic of the blog post is related to the primary keyword so that you can place it into the title and introduction naturally. \n\nGiven a list of keywords and search intent, your job is to understand the goal of th e blog post, identify the thought process behind the flow of the blog post and come up with a preliminary plan for the post. \n\nYour output must: \n\n- Recognise the discussion points of the blog post.\n\n- Be in dot point format.\n\nYou must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\nWhen making the plan keep in mind that all keywords must be used in the final blog post. \n\nThe final goal of the project is to create a high quality, high value, highly relevant blog post that will satisfy the users search intent and give them everything they need to know about the topic. \n\nA new project just came across your desk with below keywords and search intent:\n\nKeywords: \n{{ $json.Keywords }}\n\nSearch intent: \n{{ $json.Intent }}\n\nPrimary keyword: \n{{ $json['Primary Keyword'] }}\n\nCreate the preliminary plan."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[540,60],"id":"27ff3b7b-c3bd-4221-948c-2c3cab002a8a","name":"Preliminary Plan","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"23b8e8c4-9191-415a-9661-1b60d413528a","name":"research","value":"={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1260,340],"id":"689732d2-6307-463e-a23d-95c06dfccd65","name":"Fix Links"},{"parameters":{"modelId":{"__rl":true,"value":"o1-preview","mode":"list","cachedResultName":"O1-PREVIEW"},"messages":{"values":[{"content":"=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords, a primary keyword, search intent, research findings and a preliminary blog post plan. Here's a definition of each of the inputs: \n\n- Keywords: These are the keywordswhich the blog post is meant to rank for on SEO. They should be scattered throughout the blog post intelligently to help with SEO. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword. Our goal is to optimise the blog post to be highly relevant and valuable to the user, as such the search intent should be satisfied within the blog post. \n\n- Research findings: This is research found from very reputable resources in relation to the blog post. You must intelligently use this research to make your blog post more reputable. \n\n- Preliminary plan: Very basic plan set out by your colleague to kick off the blog post. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword is the keyword which has the highest SEO importance and as such must go in the title and first few sentences of the blog post. It is important that the blog post is highly relevant to the primary keyword, so that it could be placed naturally into the title and introduction sections. \n\n\nGiven the said info, you must create a detailed plan for the blog post. \n \nYour output must: \n\n- Include a plan for the blog post.\n\n- Be in dot point format. \n\n- In each part of the blog post, you must mention which keywords should be placed. \n\nHere are the other things you must consider: \n\n- All keywords must be placed inside the blog post. For each section, mention which keywords to include. The keyword placement must feel natural and must make sense. \n\n- You must include all research points in the blog post. When including the research points, make sure to also include their source URL so that the copywriter can use them as hyperlinks. \n\n- You must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\n- Your plan must be very detailed. \n\n- Keep in mind the copywriter that will use your plan to write the blog post is not an expert in the topic of the blog post. So you should give them all the detail required so they can just turn it into nicely formatted paragraphs. So your plan should include all technical detail regarding each point to be in the blog post. For example instead of saying \"define X\", you must have \"define X as ...\". \n\n- The plan you create must have a flow that makes sense. \n\n- You must ensure the bog post will be highly detailed and satisfy the most important concepts regarding the topic. \n\nA new project has just came across your desk with below details:\n\nKeywords: \n{{ $('Grab New Cluster').item.json.Keywords }} \n\nSearch intent: \n{{ $('Grab New Cluster').item.json.Intent }}\n\nPreliminary plan: \n{{ $('Preliminary Plan').item.json.message.content }}\n\nResearch findings: \n{{ $json.research }}\n\nPrimary keyword: \n{{ $('Grab New Cluster').item.json['Primary Keyword'] }}\n\nCreate the detailed plan. \n\nYour output must only be the plan and nothing else. \n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1400,340],"id":"5bd17773-082c-4f3a-82dc-95a6b9e1aa79","name":"Create plan"},{"parameters":{"modelId":{"__rl":true,"value":"anthropic/claude-3.5-sonnet:beta","mode":"id"},"messages":{"values":[{"content":"=You are part of a team that creates world class blog posts. \n\nYou are the teams best copywriter and are responsible for writing out the actual blog post. \n\nFor each new blog post project you are provided with a detailed plan and research findings. \n\nYour job is to create the blog post by closely following the detailed plan. \n\nThe blog post you create must: \n\n- Follow the plan bit by bit. \n\n- Use short paragraphs. \n\n- Use bullet points and subheadings with keywords where appropriate.  \n\n- Not have any fluff. The content of the blog must be value dense and direct. \n\n- Be very detailed. \n\n- Include the keywords mentioned in each section within that section. \n\n- Use the research as advised by the plan. Make sure to include the link associated with each point you extract from the research at the end of that section in the form of a URL.  \n\n- Place the primary keyword in the blog title, H1 header and early in the introduction. \n\n- Place one keyword for each section in the heading of that section. \n\n-  When possible pepper synonyms of the keywords throughout each section. \n\n- When possible use Latent Semantic Indexing (LSI) keywords and related terms to enhance context (e.g., “robotic process automation” for RPA). \n\n- Be at minimum 2000 to 2500 words long. \n\n- Be suitable for a year 5 reading level. \n\nMake sure to create the entire blog post draft in your first output. Don't stop or cut it short. \n\nHere are the details of your next blog post project: \n\nDetailed Plan: \n{{ $json.message.content }}\n\nDetailed Research: \n{{ $('Fix Links').item.json.research }}\n\n\nWrite the blog post."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1760,340],"id":"a87ceed1-2d43-49af-bf82-05d14922cfdc","name":"Write Blog"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"previous-posts","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2240,560],"id":"61e44b08-f9c6-487f-8587-caa140a4d770","name":"Aggregate"},{"parameters":{"documentId":{"__rl":true,"value":"1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU","mode":"list","cachedResultName":"Completed Keywords","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2080,560],"id":"ca3270db-b4c0-46b5-bd48-04729776cd10","name":"Previous Posts"},{"parameters":{"modelId":{"__rl":true,"value":"o1-mini-2024-09-12","mode":"list","cachedResultName":"O1-MINI-2024-09-12"},"messages":{"values":[{"content":"=You are part of a team that creates world class blog posts. \n\nYou are in charge of internal linking between blog posts. \n\nFor each new blog post that comes across your desk, your job is to look through previously posted blogs and make atleast 5 internal links. \n\nTo choose the best internal linking opportunities you must: \n\n- Read the previous blog post summaries and look through their keywords. If there is a match where the previous blog post is highly relevant, then this is an internal linking opportunity. \n\n- Do not link if it is not highly relevant. Only make a link if it makes sense and adds value for the reader. \n\nOnce you've found the best linking opportunities, you must update the blog post with the internal links. To do this you must: \n\n- Add the link of the previous blog post at the relevant section of the new blog post. Drop the URL at the place which makes most sense. Later we will hyperlink the URL to the word in the blog post which it is placed next to. So your placing is very important. \n\nMake sure to not delete any existing URLs or change anything about the blog post provided to you. You must only add new internal linking URLs and output the revised blog post. \n\nYour output must be the blog post given to you plus the new urls. Don't remove any info. \n\nDon't return the previous blog posts. Only return the current blog post with the internal links added.\n\nCurrent blog Post: \n{{ $('Write Blog').last().json.message.content }}\n\nPrevious Blog Posts: \n{{ $json['previous-posts'].toJsonString().split() }}\n\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2320,400],"id":"02ddd72d-e30f-437c-ba38-a19b23a859d3","name":"Add internal links"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Create a slug for the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\nA slug in a blog post is the part of the URL that comes after the domain name and identifies a specific page. It is typically a short, descriptive phrase that summarizes the content of the post, making it easier for users and search engines to understand what the page is about. For example, in the URL www.example.com/intelligent-agents, the slug is intelligent-agents. A good slug is concise, contains relevant keywords, and avoids unnecessary words to improve readability and SEO. \n\nThe slug must be 4 or 5 words max and must include the primary keyword of the blog post which is {{ $('Grab New Cluster').last().json['Primary Keyword'] }}.\n\nYour output must be the slug and nothing else so that I can copy and paste your output and put it at the end of my blog post URL to post it right away. "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3020,560],"id":"f99d58c8-9762-41f0-8031-c5d6884da354","name":"Slug"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"messages":{"values":[{"content":"=Extract the blog post title from the following blog post: \n{{ $('Add internal links').item.json.message.content }}\n\n\n\nThe blog post title must include the primary keyword {{ $('Grab New Cluster').last().json['Primary Keyword'] }} and must inform the users right away of what they can expect from reading the blog post. \n\n- Don't put the output in \"\". The output should just text with no markdown or formatting. \n\nYour output must only be the blog post title and nothing else. "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3320,560],"id":"ce2c67f9-e539-4b4a-be0d-9f9472f5b724","name":"Title"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-2024-11-20","mode":"list","cachedResultName":"GPT-4O-2024-11-20"},"messages":{"values":[{"content":"=Create a good meta description for the following blog post: \n\n{{ $('Add internal links').item.json.message.content }}\n\nA good meta description for a blog post that is SEO-optimized should:\n- Be Concise: Stick to 150-160 characters to ensure the full description displays in search results. \n- Include Keywords: Incorporate primary keywords naturally to improve visibility and relevance to search queries.\n\nPrimary keyword = {{ $('Grab New Cluster').last().json['Primary Keyword'] }}\n\nMore keywords to include if possible = [{{ $('Grab New Cluster').last().json.Keywords }}]\n\n- Provide Value: Clearly describe what the reader will learn or gain by clicking the link. \n\n- Be Engaging: Use persuasive language, such as action verbs or a question, to encourage clicks. \n\n- Align with Content: Ensure the description accurately reflects the blog post to meet user expectations and reduce bounce rates. \n\nYour output must only be the meta description and nothing else. \n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3620,560],"id":"c715f56b-e4d9-40b6-b380-ef90d4d469db","name":"Meta description"},{"parameters":{"modelId":{"__rl":true,"value":"o1-preview","mode":"list","cachedResultName":"O1-PREVIEW"},"messages":{"values":[{"content":"=DO NOT OUTPUT ANYTHING OTHER THAN THE CODE. I want you to follow the layout of the template as a guide to generate the WordPress code for a blog post. Here are the rules to follow:\n\nThe blog post should have a title, estimated reading time, key takeaways, table of contents, body, and FAQ in this order.\nMake it engaging by using italics, dot points, quotes, bold, spaces, and sometimes new lines. Never use emojis.\nThe blog post will have some URLs referenced next to certain keyphrases to show where the info came from. You must hyperlink the keyphrase with the provided URL so that the reader can click on the referenced URL. It is critical you get this right.\nWrap the entire content in a container <div> with inline CSS that sets the text color to white (#ffffff), uses a legible font such as Arial, sans-serif, and sets line-height to 1.6.\nEnsure that all non-heading text elements (e.g., paragraphs, list items) have an inline style or embedded style that sets their font size to 20px and color to white (#ffffff) using !important to override theme styles.\nHyperlinks, points in the table of contents, and FAQ questions must be styled in blue (#00c2ff).\nAll headings and subheadings should have an underline implemented via a bottom border in blue (#00c2ff) with appropriate padding.\nPlace a double break (<br><br>) between each section to improve readability.\nDo not output any extra text or mention code tags like HTML''' around the output; just output the HTML code.\nBlog post: \n\n{{ $json.message.content }}\n\nHere's an example of a well formatted output:\n\n<div style=\"color: #ffffff; font-family: Arial, sans-serif; line-height: 1.6;\"> <style> p, .wp-block-paragraph, ul.wp-block-list, li { color: #ffffff !important; font-size: 20px !important; } a { color: #00c2ff !important; } </style> <h1 id=\"h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" class=\"wp-block-heading\" style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\">Devin AI: The Hype and Reality of an AI Software Engineer</h1> <br><br> <p class=\"estimated-reading-time\" style=\"color: #ffffff; font-size: 20px !important;\">Estimated reading time: 5 minutes</p> <br><br> <h2 id=\"h-key-takeaways\" class=\"wp-block-heading\" style=\"border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\"><strong>Key Takeaways</strong></h2> <br><br> <ul class=\"wp-block-list\"> <li><mark style=\"background-color: #ffd966;\"><strong>Devin AI</strong></mark> claims to be the world's first fully autonomous AI software engineer.</li> <br><br> <li>Initial demos and claims have generated significant <mark style=\"background-color: #ffff00;\">hype</mark> and interest.</li> <br><br> <li>Critics argue some capabilities may be exaggerated or misleading.</li> <br><br> <li>Real-world testing reveals both <em>strengths</em> and <em>limitations</em>.</li> <br><br> <li>The true impact on software engineering remains to be seen.</li> </ul> <br><br> <div class=\"wp-block-yoast-seo-table-of-contents yoast-table-of-contents\"> <h2 style=\"color: #ffffff; border-bottom: 2px solid #00c2ff; padding-bottom: 5px;\">Table of contents</h2> <br><br> <ul> <li><a href=\"#h-devin-ai-the-hype-and-reality-of-an-ai-software-engineer\" data-level=\"1\">Devin AI: The Hype and Reality of an AI Software Engineer</a></li> <br><br> <li><a href=\"#h-key-takeaways\" data-level=\"2\">Key Takeaways</a></li> <br><br> <li><a href=\"#h-what-is-devin-ai\" data-level=\"2\">What is Devin AI?</a></li> <br><br> <li><a href=\"#h-the-hype-around-devin-ai\" data-level=\"2\">The Hype Around Devin AI</a></li> <br><br> <li><a href=\"#h-putting-devin-to-the-test\" data-level=\"2\">Putting Devin to the Test</a></li> <br><br> <li><a href=\"#h-the-reality-check\" data-level=\"2\">The Reality Check</a></li> <br><br> <li><a href=\"#h-the-future-of-ai-in-software-development\" data-level=\"2\">The Future of AI in Software Development</a></li> <br><br> <li><a href=\"#h-frequently-asked-questions\" data-level=\"2\">Frequently Asked Questions</a></li> </ul> </div> <br><br> <p>Devin AI has burst onto the tech scene, promising to revolutionize software development as we know it. But does this AI-powered coding assistant live up to the hype? Let's dive into what Devin AI really is, what it can do, and what developers are saying after putting it to the test.</p> <br><br> <!-- Rest of blog post content goes here --> </div>\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2640,580],"id":"c8839729-59d8-4feb-9caa-3dc3354cd4c2","name":"HTML version"},{"parameters":{"url":"https://serpapi.com/search?engine=google_images","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Title').item.json.message.content }}"},{"name":"gl","value":"us"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3960,560],"id":"c6f8b099-cd6c-4946-8fb2-530739e7566e","name":"Image Covers"},{"parameters":{"assignments":{"assignments":[{"id":"1f0541df-05ab-4e3d-a5d8-3904579fc8a9","name":"image-url","value":"={{ $json.images_results[1].original }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4120,560],"id":"686b2684-c2fc-4cf4-9c1c-9dcf6e3c5e19","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1yz2ekTV_aJk2X2C0e3QU3t4Th-_dZdbaOCVWTHIjBg8","mode":"list","cachedResultName":"Keywords","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz2ekTV_aJk2X2C0e3QU3t4Th-_dZdbaOCVWTHIjBg8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"AI Agents","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1yz2ekTV_aJk2X2C0e3QU3t4Th-_dZdbaOCVWTHIjBg8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Primary Keyword":"={{ $('Grab New Cluster').last().json['Primary Keyword'] }}","Completed":"Yes"},"matchingColumns":["Primary Keyword"],"schema":[{"id":"Cluster","displayName":"Cluster","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Intent","displayName":"Intent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Completed","displayName":"Completed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4580,560],"id":"4d65d548-2e2c-4d50-9249-c898f49512b2","name":"Check as completed on Sheets"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU","mode":"list","cachedResultName":"Completed Keywords","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1t-J2x22lsG6TpktQLBkwaS-ewuJI2WQvB-g4vQspbYU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Blog Title ":"={{ $('Title').item.json.message.content }}","Keywords":"={{ $('Grab New Cluster').last().json.Keywords }}","Summary ":"={{ $('Meta description').item.json.message.content }}","URL":"=https://YourURL/{{ $('Slug').item.json.message.content }}"},"matchingColumns":[],"schema":[{"id":"Blog Title ","displayName":"Blog Title ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Summary ","displayName":"Summary ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4780,560],"id":"2e43d3ef-27cc-43a4-8c52-9f7f3e7af139","name":"Google Sheets"},{"parameters":{"content":"## Schedule a trigger\n \n","height":240,"width":260},"type":"n8n-nodes-base.stickyNote","position":[0,400],"typeVersion":1,"id":"9a76724e-9247-4b2e-870f-45d16b2a583f","name":"Sticky Note"},{"parameters":{"content":"## New Post Info\n \n","height":240},"type":"n8n-nodes-base.stickyNote","position":[260,400],"typeVersion":1,"id":"8401470c-3cff-48e6-8271-0cefe61adb71","name":"Sticky Note1"},{"parameters":{"content":"## Preliminary Post Plan \n \n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[500,400],"typeVersion":1,"id":"4d4e94d0-93ab-43c5-a97c-85930023a8c0","name":"Sticky Note2"},{"parameters":{"content":"## Research\n \n \n","height":240,"width":180},"type":"n8n-nodes-base.stickyNote","position":[800,400],"typeVersion":1,"id":"5a95be2b-07b1-45ad-b1f2-94beeaeb561f","name":"Sticky Note3"},{"parameters":{"content":"## Post Plan \n \n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[1240,260],"typeVersion":1,"id":"6abb8bce-90de-4003-86ec-36dc2ee9ce1e","name":"Sticky Note4"},{"parameters":{"content":"## Writing Blog\n \n \n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[1540,260],"typeVersion":1,"id":"816296e2-e66f-4c11-90c4-cf6547637558","name":"Sticky Note5"},{"parameters":{"content":"## Internal Links\n \n \n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[2120,320],"typeVersion":1,"id":"74cee17e-9e32-4d7d-af52-abd8ed43ff5b","name":"Sticky Note6"},{"parameters":{"content":"## HTML\n\n \n \n","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","position":[2420,320],"typeVersion":1,"id":"65bb980c-1a91-4bbd-8e1d-11b94e3549cb","name":"Sticky Note7"},{"parameters":{"content":"## Slug\n\n\n \n \n","height":240,"width":320},"type":"n8n-nodes-base.stickyNote","position":[2760,480],"typeVersion":1,"id":"9e45052f-214e-4ecc-866e-61a65cf69aa6","name":"Sticky Note8"},{"parameters":{"content":"## Post Title\n\n\n \n \n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[3080,480],"typeVersion":1,"id":"3748bbbd-24e0-4eca-859b-2c2585b30bc1","name":"Sticky Note9"},{"parameters":{"content":"## Meta Description\n\n\n \n \n","height":240,"width":300},"type":"n8n-nodes-base.stickyNote","position":[3380,480],"typeVersion":1,"id":"9f9773e2-5b7b-4525-92ee-53aa6785a5d7","name":"Sticky Note10"},{"parameters":{"content":"## Get Image\n\n\n\n \n \n","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[3680,480],"typeVersion":1,"id":"d2e97257-dc95-42ec-9a81-6b78717999c4","name":"Sticky Note11"},{"parameters":{"content":"## Post\n\n\n\n\n \n \n","height":240,"width":220},"type":"n8n-nodes-base.stickyNote","position":[4040,480],"typeVersion":1,"id":"6aa54034-6c90-49a6-9055-245abd2a10ac","name":"Sticky Note12"},{"parameters":{"title":"={{ $('Title').item.json.message.content }}","additionalFields":{"authorId":2,"content":"=<img src=\"{{ $json['image-url'] }}\" alt=\"Cover Image\">\n{{ $('HTML version').item.json.message.content }}","slug":"={{ $('Slug').item.json.message.content }}","status":"draft","commentStatus":"closed","sticky":false,"categories":[280],"tags":[281],"postTemplate":{"values":{}}}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[4340,560],"id":"e3ff2fe7-1981-441f-99cc-f0b242afbbcc","name":"Wordpress"},{"parameters":{"content":"## Completion\n\n\n\n\n\n \n \n","height":240,"width":480},"type":"n8n-nodes-base.stickyNote","position":[4280,480],"typeVersion":1,"id":"f24388e6-031c-4207-934b-b232526b494e","name":"Sticky Note13"},{"parameters":{"content":"# CLUSTER SEO POST\n\n \n \n","height":100,"width":500,"color":4},"type":"n8n-nodes-base.stickyNote","position":[20,40],"typeVersion":1,"id":"abcab787-0f09-40d1-a436-d48aa19e1cd9","name":"Sticky Note14"},{"parameters":{"agent":"planAndExecuteAgent","promptType":"define","text":"=You are part of a team that creates world class blog posts. \n\nFor each new blog post project, you are provided with a list of keywords and search intent. \n\n- Keywords: The keywords are to what the blog post is meant to rank for. They are scattered throughout the blog and define the topic of the blog post. \n\n- Search intent: The search intent recognises the intent of the user when searching up the keyword which defines be the theme of the blog post, so they click on our blog to satisfy their search. \n\n- Primary keyword: Out of the keywords, there is one keyword known as the primary keyword. The primary keyword will go in the title and first few sentences. It is important that the topic of the blog post is related to the primary keyword so that you can place it into the title and introduction naturally. \n\nGiven a list of keywords and search intent, your job is to understand the goal of th e blog post, identify the thought process behind the flow of the blog post and come up with a preliminary plan for the post. \n\nYour output must: \n\n- Recognise the discussion points of the blog post.\n\n- Be in dot point format.\n\nYou must ensure that the plan created satisfies the search intent and revolves directly around the given keywords. \n\nWhen making the plan keep in mind that all keywords must be used in the final blog post. \n\nThe final goal of the project is to create a high quality, high value, highly relevant blog post that will satisfy the users search intent and give them everything they need to know about the topic. \n\nA new project just came across your desk with below keywords and search intent:\n\nKeywords: \n{{ $json.Keywords }}\n\nSearch intent: \n{{ $json.Intent }}\n\nPrimary keyword: \n{{ $json['Primary Keyword'] }}\n\nCreate the preliminary plan.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,500],"id":"3ca8cb8d-4328-4e62-9d80-2aafc7cecaf3","name":"AI Agent"},{"parameters":{"model":"deepseek-r1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[540,760],"id":"ce7f39b2-4820-4827-af84-85d09b56c8b5","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"2ZQUMkDzYQqZuHeq","name":"Ollama account 3"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.message.content.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,40],"id":"8edccac1-ffa1-4eec-bf83-a414de29e86a","name":"Research2"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"perplexity/sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.output.split(/\\n+/).join(' ').replaceAll('\"', ' ') }}\"\n    }\n  ]\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,500],"id":"5b55e6bd-aa61-4bfc-bb11-62e3e8318f6b","name":"HTTP Request"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Grab New Cluster","type":"main","index":0}]]},"Grab New Cluster":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Preliminary Plan":{"main":[[]]},"Fix Links":{"main":[[{"node":"Create plan","type":"main","index":0}]]},"Create plan":{"main":[[{"node":"Write Blog","type":"main","index":0}]]},"Write Blog":{"main":[[{"node":"Previous Posts","type":"main","index":0}]]},"Previous Posts":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Add internal links","type":"main","index":0}]]},"Add internal links":{"main":[[{"node":"HTML version","type":"main","index":0}]]},"Slug":{"main":[[{"node":"Title","type":"main","index":0}]]},"Title":{"main":[[{"node":"Meta description","type":"main","index":0}]]},"HTML version":{"main":[[{"node":"Slug","type":"main","index":0}]]},"Meta description":{"main":[[{"node":"Image Covers","type":"main","index":0}]]},"Image Covers":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Wordpress","type":"main","index":0}]]},"Check as completed on Sheets":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Wordpress":{"main":[[{"node":"Check as completed on Sheets","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request":{"main":[[{"node":"Fix Links","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"AI Agent":[{"json":{"output":"<think>\nOkay, so I need to create a blog post about Gym CRM software, specifically focusing on educating readers about what a Gym CRM is and how it aids in gym management. The keywords provided are Gym CRM software, CRM for gyms, Best gym CRM, Gym management CRM, and GymForce CRM review. The search intent is informational, so the goal is to inform and provide value to gym owners looking to understand and improve their operations.\n\nFirst, I'll start with an introduction that defines what a Gym CRM is, touching on its importance in managing member relationships and operations. This sets the stage for readers who might not be familiar with CRMs in the fitness context.\n\nNext, I should delve into why a Gym CRM is essential. Points here might include lead generation, retention strategies, communication efficiency, customer support, and scalability. These are key benefits that gym owners would care about.\n\nThen, I'll need to outline the features of an effective Gym CRM. Things like member tracking, scheduling tools, communication modules, analytics, integration capabilities, mobile access, and customization options come to mind. These features address specific needs gyms have when managing their operations.\n\nIncluding a section on how to choose the right Gym CRM would be helpful. Factors like ease of use, cost, scalability, and customer support are important considerations for gym owners.\n\nI should highlight top recommendations based on these factors, possibly mentioning GymForce CRM as one of the leading options with a brief review. This not only informs readers but also incorporates the keyword 'GymForce CRM review' naturally.\n\nFinally, I'll conclude by summarizing the key points and encouraging gym owners to implement a good CRM system for better management and growth.\n\nI need to make sure all keywords are included seamlessly throughout the blog post, especially the primary keyword 'Gym CRM software'. The language should be clear and jargon-free to appeal to gym owners who might not have a technical background. The flow should guide the reader from understanding what a Gym CRM is to how it can benefit their business, ending with actionable steps for implementation.\n\nI should also ensure that the blog post answers common questions or pain points gym owners might have, such as \"How do I track member information efficiently?\" or \"What tools help in lead generation?\" This makes the content more valuable and relevant.\n\nFinally, I need to structure all these points into a logical flow, starting from introduction to conclusion, ensuring each section transitions smoothly to maintain readability and engagement.\n</think>\n\n**Preliminary Blog Post Plan: Understanding Gym CRM Software and Its Impact on Gym Management**\n\n---\n\n### **Introduction**\n- Define what a Gym CRM (Customer Relationship Management) software is.\n- Explain why it's essential for gym owners to use such tools.\n- Set the stage for readers new to CRMs by highlighting its role in member management.\n\n---\n\n### **Why a Gym CRM is Essential**\n1. **Lead Generation:** Attracting and converting leads into members through effective outreach.\n2. **Member Retention:** Keeping members engaged with personalized communication and support.\n3. **Operational Efficiency:** Streamlining tasks like scheduling, payments, and data tracking.\n4. **Customer Support:** Enhancing member experience through timely assistance and feedback handling.\n\n---\n\n### **Features of an Effective Gym CRM**\n- **Member Tracking:** Centralized databases for easy access to member information.\n- **Scheduling Tools:** Automated class and session management.\n- **Communication Modules:** Bulk emails, SMS reminders, and social media integration.\n- **Analytics:** Insights into member behavior and business performance.\n- **Integration Capabilities:** Compatibility with payment systems and other gym software.\n- **Mobile Access:** Functionality for on-the-go management.\n\n---\n\n### **Choosing the Right Gym CRM**\n1. **Ease of Use:** User-friendly interface for quick navigation.\n2. **Cost Considerations:** Balancing features with affordable pricing models.\n3. **Scalability:** A system that grows with your gym's expansion.\n4. **Customer Support:** Reliable assistance to troubleshoot issues.\n\n---\n\n### **Top Recommendations**\n- Highlight GymForce CRM as a leading solution with a brief review of its features and benefits.\n- Discuss other notable CRMs if applicable, focusing on how they meet the criteria mentioned.\n\n---\n\n### **Conclusion**\n- Summarize key points about the importance of Gym CRM software.\n- Encourage gym owners to implement effective CRM systems for improved management and growth.\n\n---\n\nThis plan ensures a logical flow from introduction to conclusion, providing valuable information that addresses both the search intent and keywords. The content is designed to be informative and actionable, helping gym owners make informed decisions about their operations."}}]},"versionId":"22531ac9-577f-49a3-9c9d-627ff5f7d666","triggerCount":0,"tags":[]}