sheet-email-processing-hKyzmQKoUcPwygxy.json
{"createdAt":"2025-02-24T18:42:21.748Z","updatedAt":"2025-03-02T18:34:55.706Z","id":"hKyzmQKoUcPwygxy","name":"Sheet Email processing","active":true,"nodes":[{"parameters":{"fieldToSplitOut":"snippet","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-220,-380],"id":"3d52b9e8-9957-4bcf-9b41-4a7c3cd40847","name":"Split Out","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"snippet","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[80,-380],"id":"21eea132-a984-4dd9-8c31-b196fa7dc76b","name":"Split Out1","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.snippet;  // Ensure data is a string\nconst emailRegex = /(?:[-\\s]*email[-\\s]*)?([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,})/gi;\n\n// Check if data exists and is a string, then match emails\nlet emails = [];\nif (typeof data === 'string') {\n  emails = [...data.matchAll(emailRegex)]\n    .map(match => match[1].toLowerCase());  // Extract clean email and convert to lowercase\n}\n\n// Return only if emails exist, otherwise return null to filter later\nreturn emails.length > 0 ? { json: { emails } } : null;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-380],"id":"7e5fb4d6-80df-4fd9-a4cf-0d919bfc6ffc","name":"Email Extracter","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://gymforce.io/?fluentcrm=1&route=contact&hash=5dc69fea-ba52-45b0-a79f-b8df9ab648a9","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,40],"id":"a0737f79-cfea-42d3-bfcd-d90b207df6fd","name":"Wordpress Server","onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":75243423,"mode":"list","cachedResultName":"email only ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit#gid=75243423"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.emails }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[580,-160],"id":"ef20aff6-bda1-4458-ab87-302da66ecfda","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a5100c6-1b68-4b98-91fb-e8973a05039f","leftValue":"={{ $json.emails }}","rightValue":"(wixpress|sentry|webp|cult|example)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[80,-140],"id":"0b757045-b26b-4b3e-bf3f-c0b89781b7f4","name":"Filter","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-740,-140],"id":"27d942b2-0cd0-44d8-b54c-8c07240127c3","name":"Remove Duplicates","onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,-400],"id":"9ccc15d4-cb19-4fea-bba5-7fcf5fb2570c","name":"Split Out2","onError":"continueRegularOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"raw data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-720,-380],"id":"c6824e05-0c5d-4eba-8942-15174a2c8003","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"oJxRWehe2CCYPD3T","name":"Google Sheets Trigger account"}}},{"parameters":{"authentication":"serviceAccount","operation":"delete","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=837721424#gid=837721424","mode":"url"},"sheetName":{"__rl":true,"value":837721424,"mode":"list","cachedResultName":"Processing data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=837721424"},"numberToDelete":"={{ $json.count_title_ }}-1"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,-40],"id":"eacea9d2-0dfe-40b9-aff8-e0110a06f216","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"fieldsToSummarize":{"values":[{"field":"title "}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-160,-40],"id":"47359e49-3b0a-4bc7-ab80-a094eef85c8a","name":"Summarize"}],"connections":{"Split Out":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Email Extracter","type":"main","index":0}]]},"Email Extracter":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Wordpress Server","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Google Sheets Trigger":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Summarize","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw","sheetId":0,"lastIndexChecked":6740}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2b620e20-7cf2-4690-91fc-fc410a05f018","triggerCount":1,"tags":[]}