sheet-data-processing-for-(getting-api-key-from-sheet-and-firing-rapid-api-key)-O312EJdmcoqBkR0a.json
{"createdAt":"2025-03-02T17:34:15.811Z","updatedAt":"2025-03-04T18:52:31.712Z","id":"O312EJdmcoqBkR0a","name":"sheet data processing for (getting api key from sheet and firing rapid api key)","active":false,"nodes":[{"parameters":{"fieldToSplitOut":"snippet","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1580,80],"id":"85c73cd2-4ce6-48b1-adcb-b18f23588d6b","name":"Split Out","onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"snippet","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1320,80],"id":"c1e9ac47-94e8-460a-b15f-2a70867160eb","name":"Split Out1","onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.snippet;  // Ensure data is a string\nconst emailRegex = /(?:[-\\s]*email[-\\s]*)?([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,})/gi;\n\n// Check if data exists and is a string, then match emails\nlet emails = [];\nif (typeof data === 'string') {\n  emails = [...data.matchAll(emailRegex)]\n    .map(match => match[1].toLowerCase());  // Extract clean email and convert to lowercase\n}\n\n// Return only if emails exist, otherwise return null to filter later\nreturn emails.length > 0 ? { json: { emails } } : null;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,80],"id":"9e7c2858-fe5d-4213-a69a-8a8847825cf7","name":"Email Extracter","onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://gymforce.io/?fluentcrm=1&route=contact&hash=5dc69fea-ba52-45b0-a79f-b8df9ab648a9","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,100],"id":"92d04498-fb1a-4b91-95a9-0dec5e996a7d","name":"Wordpress Server","onError":"continueErrorOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":75243423,"mode":"list","cachedResultName":"email only ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bRHcq2T0u60sLmS6W8RR6ov5UK5phxeo5GzaDNw0Vkw/edit#gid=75243423"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $json.emails }}"},"matchingColumns":["Email"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[120,-80],"id":"d2415d84-a79f-486f-815f-96a5da14e9f6","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3a5100c6-1b68-4b98-91fb-e8973a05039f","leftValue":"={{ $json.emails }}","rightValue":"(wixpress|sentry|webp|cult|example)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-140,40],"id":"6d7ce955-325d-4e05-9b97-6f1314d1f776","name":"Filter","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-440,60],"id":"e23982dd-91c1-46bf-9dbf-f4bb6a0a1cd3","name":"Remove Duplicates","onError":"continueErrorOutput"},{"parameters":{"fieldToSplitOut":"emails","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-680,60],"id":"8f3bc40f-22ef-4140-9df1-87871591d3bd","name":"Split Out2","onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"delete","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=837721424#gid=837721424","mode":"url"},"sheetName":{"__rl":true,"value":837721424,"mode":"list","cachedResultName":"Processing data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=837721424"},"numberToDelete":"={{ $json.count_title }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1340,700],"id":"7b22040a-433a-465b-8d77-a0a46ba0deb1","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"disabled":true},{"parameters":{"fieldsToSummarize":{"values":[{"field":"title"}]},"options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[-1720,660],"id":"5d2f9753-cb28-48d3-98b0-e7ee11f5958d","name":"Summarize"},{"parameters":{"url":"={{ $json.link }}","options":{"redirect":{"redirect":{"maxRedirects":2}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-840,380],"id":"2351b130-1afe-4579-80e0-9adb87f92e30","name":"HTTP Request","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1360,360],"id":"5e106fd7-08f4-481d-bdb9-d627de3e9860","name":"Loop Over Items1","onError":"continueRegularOutput"},{"parameters":{"amount":0},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1080,380],"id":"34f2aefc-00e1-441e-b996-1b5ad1efa99e","name":"Wait","webhookId":"1b8b75d9-3f28-48cd-9706-f5ce97d8265e","disabled":true},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-520,360],"id":"62db989e-5ae2-4558-bf8b-df4ce20ea622","name":"Markdown","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Function to extract emails, phone numbers, addresses, and websites from text\nfunction extractData(text) {\n    // Regular expressions for email, phone numbers, and websites\n    const emailRegex = /\\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Z|a-z]{2,}\\b/g;\n    const phoneRegex = /\\b\\d{10,12}\\b/g; // Matches 10-12 digit phone numbers\n    \n    // Better address regex - this is a generic pattern that may need adjustment based on your data\n    const addressRegex = /\\b\\d+\\s+[A-Za-z0-9\\s,\\.]+(?:Avenue|Lane|Road|Boulevard|Drive|Street|Ave|Ln|Rd|Blvd|Dr|St)\\.?(?:\\s+[A-Za-z]+)?(?:,\\s*[A-Za-z]+)?(?:,\\s*[A-Z]{2})?\\s*\\d{5}(?:-\\d{4})?\\b/gi;\n    \n    const websiteRegex = /https?:\\/\\/(?:www\\.)?([A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?(?:\\.[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?)+)(?:\\/[^\\s\"')]*)?/g;\n    \n    // Extracting data\n    const emails = [...new Set(text.match(emailRegex) || [])];\n    const phoneNumbers = [...new Set(text.match(phoneRegex) || [])];\n    const addresses = [...new Set((text.match(addressRegex) || []).map(addr => addr.trim()))];\n    \n    // Social media domains list\n    const socialMediaDomains = ['facebook.com', 'instagram.com', 'twitter.com', 'linkedin.com', 'youtube.com', 'pinterest.com', 'tiktok.com'];\n    \n    // Website extraction\n    const mainWebsites = [];\n    const socialMediaLinks = {};\n    const uniqueMainWebsites = new Set();\n    const seenUrlPatterns = new Set();\n    \n    let match;\n    while ((match = websiteRegex.exec(text)) !== null) {\n        const fullUrl = match[0];\n        const domain = match[1];\n        \n        // Skip resource files\n        if (!/\\.(jpg|jpeg|png|gif|svg|webp|js|css|ico|woff|woff2|ttf|eot)(\\?.*)?$/i.test(fullUrl)) {\n            // Get base URL (without query parameters and fragments)\n            const baseUrl = fullUrl.split(/[?#]/)[0];\n            \n            // Check if it's a social media link\n            const socialMediaPlatform = socialMediaDomains.find(socialdomain => domain.includes(socialdomain));\n            \n            if (socialMediaPlatform) {\n                // Extract platform name (e.g., 'facebook' from 'facebook.com')\n                const platformName = socialMediaPlatform.split('.')[0];\n                \n                // Store only the first instance of each social platform\n                if (!socialMediaLinks[platformName]) {\n                    socialMediaLinks[platformName] = baseUrl;\n                }\n            } else {\n                // Process main websites\n                // Create a pattern by removing repeating number patterns\n                const urlPattern = baseUrl.replace(/(-\\d+)+$/, '');\n                \n                // Only add if we haven't seen this pattern before\n                if (!seenUrlPatterns.has(urlPattern)) {\n                    seenUrlPatterns.add(urlPattern);\n                    \n                    // If we haven't already added this exact URL\n                    if (!uniqueMainWebsites.has(baseUrl)) {\n                        uniqueMainWebsites.add(baseUrl);\n                        mainWebsites.push({\n                            url: baseUrl,\n                            domain: domain\n                        });\n                    }\n                }\n            }\n        }\n    }\n    \n    return {\n        emails: emails,\n        phoneNumbers: phoneNumbers,\n        socialMediaLinks: socialMediaLinks,\n        addresses: addresses,\n        mainWebsites: mainWebsites\n    };\n}\n\n// n8n Function Node Input\nconst inputText = $json[\"data\"]; // Replace with your text source in n8n\n\n// Extract information\nconst extractedData = extractData(inputText);\n\n// Return structured output for n8n\nreturn [{ data: extractedData }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,360],"id":"0c49f321-7f86-409a-b4ba-a2c6d0332edd","name":"Code3","onError":"continueRegularOutput"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=639497660#gid=639497660","mode":"url"},"sheetName":{"__rl":true,"value":639497660,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=639497660"},"columns":{"mappingMode":"defineBelow","value":{"domain":"={{ $json.data.mainWebsites[0].domain }}","email":"={{ $json.data.emails }}","phone Numbers":"={{ $json.data.phoneNumbers }}","youtube.com":"={{ $json.data.socialMediaLinks.youtube }}","facebook.com":"={{ $json.data.socialMediaLinks.facebook }}","instagram.com":"={{ $json.data.socialMediaLinks.instagram }}","linkedin.com":"={{ $json.data.socialMediaLinks.linkedin }}","twitter.com":"={{ $json.data.socialMediaLinks.twitter}}","pinterest.com":"=  {{ $json.data.socialMediaLinks.pinterest}}","tiktok.com":"=","addresses":"={{ $json.data.addresses }}","data":"={{ $json.data }}"},"matchingColumns":[],"schema":[{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone Numbers","displayName":"phone Numbers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube.com","displayName":"youtube.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook.com","displayName":"facebook.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram.com","displayName":"instagram.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin.com","displayName":"linkedin.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter.com","displayName":"twitter.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pinterest.com","displayName":"pinterest.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tiktok.com","displayName":"tiktok.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"addresses","displayName":"addresses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"data","displayName":"data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-20,360],"id":"88d68128-a416-487a-aac1-eb15e064ebcf","name":"Google Sheets3","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}},"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"link","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1660,340],"id":"9c75f8c3-c8c0-4bea-8476-d3794bf499b0","name":"Split Out3"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2320,260],"id":"0aaf1fd2-7047-4c1c-95f4-1222bdd94e1d","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit?gid=837721424#gid=837721424","mode":"url"},"sheetName":{"__rl":true,"value":837721424,"mode":"list","cachedResultName":"Processing data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12AmEM8tVaULHT1aOCdZRKmtJf-oH88tHgRkNldECo3E/edit#gid=837721424"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2040,280],"id":"3a5c10bc-d9b6-4424-ab96-da423fe35421","name":"Google Sheets2","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"content":"Extracting emails from snippets \n\n","height":200,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1700,20],"id":"4f78884f-f94a-4373-8ba1-16da3a8f231a","name":"Sticky Note"},{"parameters":{"height":240,"width":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1760,260],"id":"0a591a45-e3b4-42e0-af61-b645c7eee74d","name":"Sticky Note1"},{"parameters":{"jsCode":"const data =$input.first().json.email;  // Ensure data is a string\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g;\n\n// Check if data exists and is a string, then match emails\nlet emails = [];\nif (typeof data === 'string') {\n  emails = data.match(emailRegex) || [];  // Use || [] to avoid null if no match is found\n}\n\nconsole.log(emails);\nreturn { json: { emails: emails } };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,360],"id":"f63cf7d0-cf0b-43bd-9b9a-a59878307fc5","name":"Code","disabled":true},{"parameters":{"method":"POST","url":"https://gymforce.io/?fluentcrm=1&route=contact&hash=5dc69fea-ba52-45b0-a79f-b8df9ab648a9","sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"={{ $json.emails }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,360],"id":"ba560378-0144-4d10-a3a9-f460703e9ee5","name":"Wordpress Server1","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Input: Array of email strings\nconst emails =$input.first().json.email[0];\n\n// Convert into structured output\nreturn emails.map(email => ({ json: { email } }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,360],"id":"e659ada5-ce7c-4b72-a57c-cde5a5da1f72","name":"Code1","onError":"continueErrorOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"email"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[220,280],"id":"bd1365ea-883e-4da8-a564-495dadd52a63","name":"Aggregate"}],"connections":{"Split Out":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Email Extracter","type":"main","index":0}]]},"Email Extracter":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Google Sheets","type":"main","index":0},{"node":"Wordpress Server","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Google Sheets":{"main":[[]]},"Summarize":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Aggregate","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Split Out3","type":"main","index":0},{"node":"Summarize","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wordpress Server1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Aggregate":[{"json":{"email":[["info@addofitness.com","addofitness.gym@gmail.com"]]}}]},"versionId":"285c4e7a-9e2f-4757-91ab-1ccc0852508e","triggerCount":0,"tags":[{"createdAt":"2025-03-04T16:53:04.774Z","updatedAt":"2025-03-04T16:53:04.774Z","id":"strIWtrhxDXQ9jSK","name":"google serch & email"}]}