tracks-currency-exchange-rates-Fzvvww2WsOjZIyb6.json
{"createdAt":"2025-03-12T15:25:15.468Z","updatedAt":"2025-03-17T15:56:01.201Z","id":"Fzvvww2WsOjZIyb6","name":"Tracks currency exchange rates","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-900,-240],"id":"1b69c0ea-130b-4208-98db-d0ec990802eb","name":"Schedule Trigger"},{"parameters":{"url":"https://v6.exchangerate-api.com/v6/58b8b76badeb2b739f8e1269/latest/USD","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,-240],"id":"7b1de1df-073c-476f-9b4d-729c23405922","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"890f627d-f0f0-42d1-8951-7484c0127115","name":"time_last_update_utc","value":"={{ $json.time_last_update_utc }}","type":"string"},{"id":"9ed227e2-34b1-4578-9403-c9e4cbc63bca","name":"conversion_rates.USD","value":"={{ $json.conversion_rates.USD }}","type":"number"},{"id":"58a0fb4a-a426-4479-8164-c31bec4c5e34","name":"conversion_rates.INR","value":"={{ $json.conversion_rates.INR }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,-240],"id":"8a955012-073c-46fd-9347-43bd745642e7","name":"Edit Fields"},{"parameters":{"authentication":"serviceAccount","operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=1454729487#gid=1454729487","mode":"url"},"sheetName":{"__rl":true,"value":1454729487,"mode":"list","cachedResultName":"currency","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=1454729487"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $json.time_last_update_utc }}","usd":"={{ $json.conversion_rates.USD }}","inr":"={{ $json.conversion_rates.INR }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usd","displayName":"usd","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"inr","displayName":"inr","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-280,-240],"id":"9d53ef6d-da83-4287-b841-4398f5048356","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd888d2a-3f0d-49c3-8b0a-4599357db700","leftValue":"={{ $json.inr }}","rightValue":"={{ $('Edit Fields').item.json.conversion_rates.INR }}","operator":{"type":"number","operation":"equals"}},{"id":"31aa47cb-b102-4d33-b8ec-88c5b900ba65","leftValue":"={{ $json.usd }}","rightValue":"={{ $('Edit Fields').item.json.conversion_rates.USD }}","operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-60,-240],"id":"315ded51-37a2-40ec-9d4c-8eafedceb835","name":"If"},{"parameters":{"sendTo":"csbree008@gmail.com","subject":"Currency","message":"=🚨 *Currency Alert* 🚨    📅 Date: {{ $json[\"date\"] }}    💵 USD to INR Exchange Rate Update:   📈 *Previous Rate:* {{ $json.inr }}   📉 *New Rate:* {{ $('Edit Fields').item.json.conversion_rates.INR }}  Usd - 📈 *Previous Rate:* {{ $json.usd }} 📉 *New Rate:*{{ $('Edit Fields').item.json.conversion_rates.USD }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[240,-340],"id":"1e48eb7f-a8aa-4087-9b35-a160fb122c69","name":"Gmail","webhookId":"8f2518c6-9013-452e-8f21-5af02d2f2d68","credentials":{"gmailOAuth2":{"id":"ZNBxoE1s7decTXRh","name":"Gmail account"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=1454729487#gid=1454729487","mode":"url"},"sheetName":{"__rl":true,"value":1454729487,"mode":"list","cachedResultName":"currency","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=1454729487"},"columns":{"mappingMode":"defineBelow","value":{"date":"={{ $('Google Sheets').item.json.date }}","usd":"={{ $('Edit Fields').item.json.conversion_rates.USD }}","inr":"={{ $('Edit Fields').item.json.conversion_rates.INR }}"},"matchingColumns":[],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usd","displayName":"usd","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"inr","displayName":"inr","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[240,-100],"id":"c828d66c-5aa1-43cb-89cb-4d2fb5820552","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Google Sheets1","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"64fdfa8d-f184-463b-961f-7d57d8a2b0f9","triggerCount":0,"tags":[{"createdAt":"2025-03-11T03:42:46.764Z","updatedAt":"2025-03-11T03:42:46.764Z","id":"Gw9jAhW1O10zM33b","name":"Completed"},{"createdAt":"2025-03-17T15:54:29.839Z","updatedAt":"2025-03-17T15:54:29.839Z","id":"lqXQZmH0ptknEVlI","name":"Chirag"}]}