update-the-api-key-usage-and-deactivate-keys-rLNsomzsGZxv6vBm.json
{"createdAt":"2025-02-26T18:28:42.965Z","updatedAt":"2025-02-26T18:50:01.065Z","id":"rLNsomzsGZxv6vBm","name":"update the API key usage and deactivate keys","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,-80],"id":"52bd8cca-e643-4404-820b-b11fe6f1861d","name":"When clicking ‘Test workflow’"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-460,-80],"id":"b2b271c3-48cb-4ea6-a00b-82f5be039a52","name":"Google Sheets","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-280,-100],"id":"25b663fe-e4e4-4296-b993-ae90fe6a52af","name":"Loop Over Items"},{"parameters":{"jsCode":"{\n  \"nodes\": [\n    {\n      \"parameters\": {},\n      \"name\": \"Manual Trigger\",\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        200,\n        400\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"readRows\",\n        \"sheetId\": \"YOUR_GOOGLE_SHEET_ID\",\n        \"range\": \"Sheet1!A:E\"\n      },\n      \"name\": \"Read API Key Data\",\n      \"type\": \"n8n-nodes-base.googleSheets\",\n      \"typeVersion\": 1,\n      \"position\": [\n        400,\n        400\n      ],\n      \"credentials\": {\n        \"googleSheetsOAuth2\": \"YOUR_GOOGLE_SHEETS_CREDENTIALS\"\n      }\n    },\n    {\n      \"parameters\": {\n        \"functionCode\": \"return items.map(item => {\\n    let usage = item.json.usage + 1;  // Increment usage\\n    let totalUsage = item.json.total_usage;\\n    let isActive = item.json.is_active;\\n\\n    if (usage >= totalUsage) {\\n        isActive = false;  // Deactivate the API key\\n    }\\n\\n    return {\\n        json: {\\n            id: item.json.id,\\n            key: item.json.key,\\n            total_usage: totalUsage,\\n            usage: usage,\\n            is_active: isActive\\n        }\\n    };\\n});\"\n      },\n      \"name\": \"Update Usage & Deactivate\",\n      \"type\": \"n8n-nodes-base.function\",\n      \"typeVersion\": 1,\n      \"position\": [\n        600,\n        400\n      ]\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"update\",\n        \"sheetId\": \"YOUR_GOOGLE_SHEET_ID\",\n        \"range\": \"Sheet1!A:E\",\n        \"data\": \"={{$node[\\\"Update Usage & Deactivate\\\"].json}}\",\n        \"valueInputMode\": \"RAW\"\n      },\n      \"name\": \"Update API Key Data\",\n      \"type\": \"n8n-nodes-base.googleSheets\",\n      \"typeVersion\": 1,\n      \"position\": [\n        800,\n        400\n      ],\n      \"credentials\": {\n        \"googleSheetsOAuth2\": \"YOUR_GOOGLE_SHEETS_CREDENTIALS\"\n      }\n    }\n  ],\n  \"connections\": {\n    \"Manual Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Read API Key Data\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Read API Key Data\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Update Usage & Deactivate\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Update Usage & Deactivate\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Update API Key Data\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  }\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,-60],"id":"06bd55a7-ad47-4eb8-a1a1-0f50a2940045","name":"Code"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EvXDyNL7XdG2xy4bgrnQGj0VaSt2lSc5ZXInIl-sFl8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"id ","displayName":"id ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total usage ","displayName":"total usage ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"usage","displayName":"usage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is active ","displayName":"is active ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-100,-300],"id":"842173b5-a9b7-4052-9e34-b5c54c8c3afe","name":"Google Sheets1","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"url":"={{ $json.key }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,-80],"id":"970458db-2197-4be8-88f0-a0f19b799b21","name":"HTTP Request"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets1":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7dc187dd-9853-4fc8-999a-3b9721025099","triggerCount":0,"tags":[]}