waseq1mes1-krEsxZyqZ1MmiOxR.json
{"createdAt":"2025-04-09T19:53:18.245Z","updatedAt":"2025-04-09T21:03:01.169Z","id":"krEsxZyqZ1MmiOxR","name":"waseq1mes1","active":true,"nodes":[{"parameters":{"path":"87166558-498b-45d2-9c62-2589a537bcf4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-260,80],"id":"e997f710-ab1d-46d5-94f3-0c410e483b92","name":"Webhook","webhookId":"87166558-498b-45d2-9c62-2589a537bcf4"},{"parameters":{"method":"POST","url":"https://backend.aisensy.com/campaign/t1/api/v2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3ZjM5MGZiZjBhNWViMDk0M2M3NTA4NyIsIm5hbWUiOiJsbG9sbCBhcmVuYSBzZXJ2aXNlcyIsImFwcE5hbWUiOiJBaVNlbnN5IiwiY2xpZW50SWQiOiI2N2YzOTBmYmYwYTVlYjA5NDNjNzUwODIiLCJhY3RpdmVQbGFuIjoiRlJFRV9GT1JFVkVSIiwiaWF0IjoxNzQ0MDE1NjExfQ.Soc1BM7ypJnhIG-X3P5TFmRvGqdXSuwyaneckJxyI7s\",\n  \"campaignName\": \"waseq1mes1\",\n  \"destination\": \"91{{ $json['Phone no '] }}\",\n  \"userName\": \"lloll arena servises\",\n  \"templateParams\": [\n    \"$FirstName\"\n  ],\n  \"source\": \"new-landing-page form\",\n  \"media\": {},\n  \"buttons\": [],\n  \"carouselCards\": [],\n  \"location\": {},\n  \"attributes\": {},\n  \"paramsFallbackValue\": {\n    \"FirstName\": \"user\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,80],"id":"ef62cabd-592e-4337-abc6-179db0aa6107","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"9eb192a2-faf1-4d41-a925-118c1c2d1fd9","name":"Phone no ","value":"=\n{{ $json.query['phoneno '].toString().slice(-10) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-40,80],"id":"3a74ff1e-8d0c-49a6-9154-a46645c1ef4e","name":"Edit Fields"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,80],"id":"83d873db-1d23-4402-bf57-8d96c553aeb2","name":"Wait","webhookId":"987ce06c-ef26-4611-a233-75642e80644d"},{"parameters":{"method":"POST","url":"https://backend.aisensy.com/campaign/t1/api/v2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3ZjM5MGZiZjBhNWViMDk0M2M3NTA4NyIsIm5hbWUiOiJsbG9sbCBhcmVuYSBzZXJ2aXNlcyIsImFwcE5hbWUiOiJBaVNlbnN5IiwiY2xpZW50SWQiOiI2N2YzOTBmYmYwYTVlYjA5NDNjNzUwODIiLCJhY3RpdmVQbGFuIjoiRlJFRV9GT1JFVkVSIiwiaWF0IjoxNzQ0MDE1NjExfQ.Soc1BM7ypJnhIG-X3P5TFmRvGqdXSuwyaneckJxyI7s\",\n  \"campaignName\": \"test\",\n  \"destination\": \"91{{ $('Edit Fields').item.json['Phone no '] }}\",\n  \"userName\": \"lloll arena servises\",\n  \"templateParams\": [\n    \"$FirstName\"\n  ],\n  \"source\": \"new-landing-page form\",\n  \"media\": {},\n  \"buttons\": [],\n  \"carouselCards\": [],\n  \"location\": {},\n  \"attributes\": {},\n  \"paramsFallbackValue\": {\n    \"FirstName\": \"user\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-220,300],"id":"878a0c41-cd49-42bf-89c6-da7a01821a7f","name":"HTTP Request1"},{"parameters":{"amount":23},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[80,300],"id":"14c6197a-7873-46d3-931d-94e8ad982354","name":"Wait1","webhookId":"987ce06c-ef26-4611-a233-75642e80644d"},{"parameters":{"method":"POST","url":"https://backend.aisensy.com/campaign/t1/api/v2","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"apiKey\": \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY3ZjM5MGZiZjBhNWViMDk0M2M3NTA4NyIsIm5hbWUiOiJsbG9sbCBhcmVuYSBzZXJ2aXNlcyIsImFwcE5hbWUiOiJBaVNlbnN5IiwiY2xpZW50SWQiOiI2N2YzOTBmYmYwYTVlYjA5NDNjNzUwODIiLCJhY3RpdmVQbGFuIjoiRlJFRV9GT1JFVkVSIiwiaWF0IjoxNzQ0MDE1NjExfQ.Soc1BM7ypJnhIG-X3P5TFmRvGqdXSuwyaneckJxyI7s\",\n  \"campaignName\": \"waseq1mes3\",\n  \"destination\": \"91{{ $('Edit Fields').item.json['Phone no '] }}\",\n  \"userName\": \"lloll arena servises\",\n  \"templateParams\": [\n    \"$FirstName\"\n  ],\n  \"source\": \"new-landing-page form\",\n  \"media\": {},\n  \"buttons\": [],\n  \"carouselCards\": [],\n  \"location\": {},\n  \"attributes\": {},\n  \"paramsFallbackValue\": {\n    \"FirstName\": \"user\"\n  }\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,300],"id":"36c15a0c-e65d-4f3c-97a0-a6ac0d8a3084","name":"HTTP Request2"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Edit Fields":[{"json":{"Phone no ":9111711366}}],"Webhook":[{"json":{"headers":{"host":"n8n.gymforce.in","user-agent":"WordPress/6.7.2; https://growth.llollarenaservices.com","accept":"*/*","accept-encoding":"deflate, gzip, br","x-forwarded-for":"103.212.121.57","x-forwarded-host":"n8n.gymforce.in","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"6b0e32dd830d","x-real-ip":"103.212.121.57"},"params":{},"query":{"phoneno ":"919111711366"},"body":{},"webhookUrl":"https://n8n.gymforce.in/webhook-test/87166558-498b-45d2-9c62-2589a537bcf4","executionMode":"test"}}],"Wait":[{"json":{"success":"true","submitted_message_id":"8f704c3c-f90b-4483-9de2-559bfddbc8f0"}}]},"versionId":"ce0501cd-36c8-4501-9dfa-bea8fae5d9c6","triggerCount":1,"tags":[]}