weather-report-Xw24mR3Y4Pm08kbA.json
{"createdAt":"2025-03-08T16:24:15.305Z","updatedAt":"2025-03-17T15:59:07.450Z","id":"Xw24mR3Y4Pm08kbA","name":"weather report","active":false,"nodes":[{"parameters":{"url":"https://api.openweathermap.org/data/2.5/weather","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"Bhopal,IN"},{"name":"appid","value":"8af1a76484e539e4687cc1872b4e1f7f"},{"name":"units","value":"metric"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-360,-160],"id":"01e3474b-2994-42f8-ac5b-e795655ce895","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"b5202b34-8f9f-4c2a-93f2-6f703a7569c3","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"8ccd9965-2535-469d-8425-a67b85a5f2cf","name":"main.temp","value":"={{ $json.main.temp }}","type":"number"},{"id":"13441d13-d7f7-43b8-9230-5822d18e0f45","name":"weather[0].description","value":"={{ $json.weather[0].description }}","type":"string"},{"id":"2cd25dd8-d645-43c0-b792-29a062786d41","name":"main.humidity","value":"={{ $json.main.humidity }}","type":"number"},{"id":"8630d85a-a5aa-4c39-b429-fe7524300783","name":"wind","value":"={{ $json.wind }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,-160],"id":"1d0e1885-7fe8-4b04-9dc7-33dc8b7873c4","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-580,-160],"id":"2e9b9f88-5467-4e2d-9fef-59330f89c130","name":"Schedule Trigger"},{"parameters":{"sendTo":"rajeevshrivastava3100@gmail.com ","subject":"Daily Weather Report","message":"=🌤 **Daily Weather Report** 🌤\n\n📍 **Location:** Bhopal  \n🌡 **Temperature:** {{ $json.main.temp }}\n☁️ **Condition:** {{ $json.weather[0].description }}  \n💧 **Humidity:** {{ $json.main.humidity }}\n🌬 **Wind Speed:** {{ $json.wind.speed }}\n\nHave a great day! 😊\n","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[100,-160],"id":"e8a0e680-1041-46ac-86a6-bb213b2a35da","name":"Gmail","webhookId":"7c80609d-dd8c-47e1-acba-9bec48342cba","credentials":{"gmailOAuth2":{"id":"ZNBxoE1s7decTXRh","name":"Gmail account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gmail":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"46813572-11a0-4f90-b515-6f80cbd9a553","triggerCount":0,"tags":[{"createdAt":"2025-03-11T03:42:46.764Z","updatedAt":"2025-03-11T03:42:46.764Z","id":"Gw9jAhW1O10zM33b","name":"Completed"},{"createdAt":"2025-03-17T15:54:29.839Z","updatedAt":"2025-03-17T15:54:29.839Z","id":"lqXQZmH0ptknEVlI","name":"Chirag"}]}