workflow-for-sending-birthday-messages-f5XzDSQkoznHI2oK.json
{"createdAt":"2025-03-09T16:54:11.338Z","updatedAt":"2025-03-17T15:57:43.733Z","id":"f5XzDSQkoznHI2oK","name":"Workflow for sending Birthday messages","active":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-560,-100],"id":"1562818d-724a-437c-96c9-c5f6213b85cb","name":"Schedule Trigger"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"Birthday","message":"=Hey {{ $json.Name }},   Wishing you a fantastic birthday! 🎂🎉   Have a great year ahead!","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[480,-100],"id":"e40d1a33-c549-4adf-9670-a30f16147a93","name":"Gmail","webhookId":"c739756c-f80d-48d3-86eb-e66d2f00146f","credentials":{"gmailOAuth2":{"id":"ZNBxoE1s7decTXRh","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d3eb3325-62e1-4828-852b-580143f0d38f","name":"today","value":"={{ new Date().toISOString().substring(5, 10) }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,-100],"id":"c8cbca44-8119-4c7b-a9b6-87c39a3a183b","name":"Getting Today's Date"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"date","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HoADEFpscAYbsoYpTkq3twNkgZAg2687sqgRgMbjbmo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-140,-100],"id":"26f3519c-b054-444c-bd81-1e808d0c288e","name":"Google Sheets- Reading DOB","credentials":{"googleApi":{"id":"7ra7JIBz2aaHUiKH","name":"Google Sheets account 4"}}},{"parameters":{"assignments":{"assignments":[{"id":"53c610b2-fc9a-4d4f-83e1-61a84519df54","name":"dob_formatted","value":"={{ $json[\"DOB\"].substring(5, 10) }}","type":"string"},{"id":"ba3c4eac-2f0c-49bc-8645-f70114cf92f6","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"385a10c2-e413-419a-9abf-5ed7eec8c6ae","name":"Name","value":"={{ $json.Name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,-100],"id":"d819ad63-0c56-4efc-95a9-ca808e1b7a38","name":"Removing Year from DOB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b494fe39-28ac-48f3-8c2e-236c330e1851","leftValue":"={{ $json.dob_formatted }}","rightValue":"={{ $('Getting Today\\'s Date').item.json.today }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,-100],"id":"457cb179-3513-42ac-a068-d7e481d9c044","name":"Comparing DOB to Today's Date"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Getting Today's Date","type":"main","index":0}]]},"Getting Today's Date":{"main":[[{"node":"Google Sheets- Reading DOB","type":"main","index":0}]]},"Google Sheets- Reading DOB":{"main":[[{"node":"Removing Year from DOB","type":"main","index":0}]]},"Removing Year from DOB":{"main":[[{"node":"Comparing DOB to Today's Date","type":"main","index":0}]]},"Comparing DOB to Today's Date":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1885a21-aebb-483f-9788-78f1b87c5508","triggerCount":0,"tags":[{"createdAt":"2025-03-11T03:42:46.764Z","updatedAt":"2025-03-11T03:42:46.764Z","id":"Gw9jAhW1O10zM33b","name":"Completed"},{"createdAt":"2025-03-17T15:54:29.839Z","updatedAt":"2025-03-17T15:54:29.839Z","id":"lqXQZmH0ptknEVlI","name":"Chirag"}]}